# Default values for pidp.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  vanityURL: "healthprovideridentityportal.gov.bc.ca"
  commit_sha: ""
  image:
    registry: image-registry.openshift-image-registry.svc:5000/d8a8f9-tools
    tag: latest
  license_plate: "d8a8f9"

# used for creating/dropping databases
image:
  repository: postgresql
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 12

replicaCount: 1

database:
  autoCreate: false

nginx:
  nameOverride: ingress
  image:
    registry: public.ecr.aws

  containerPorts:
    http: 8080
    https: 8443
    mtls: 8543

  metrics:
    enabled: true
    image:
      registry: public.ecr.aws
    
  service:
    type: ClusterIP
    port: 8080
    httpsPort: 8443
    mtlsPort: 8543

  # mounting certificates
  extraVolumes:
    - name: tls-certs
      secret:
        secretName: healthprovideridentityportal-tls
    - name: plr-integration
      secret:
        secretName: plr-integration
  
  extraVolumeMounts:
    - name: tls-certs
      readOnly: true
      mountPath: /opt/bitnami/nginx/conf/certs
    - name: plr-integration
      readOnly: true
      mountPath: /opt/bitnami/nginx/conf/certs/plr

  serverBlock: |-
    server {
      listen 8080;
      server_name localhost *.gov.bc.ca;

      location / {
        proxy_pass http://{{ .Release.Name }}-frontend:8080/;
      }

      location ^~ /api/ {
        proxy_pass http://{{ .Release.Name }}-webapi:8080/api/;
      }

      location ^~ /api/v1/ {
        proxy_pass http://{{ .Release.Name }}-webapi:8080/api/;
      }

      location ^~ /api/v1/PLRHL7 {
        proxy_pass http://{{ .Release.Name }}-webapi:8080/api/PLRHL7;
        proxy_set_header  X-SSL-CERT $ssl_client_escaped_cert;
      }

      # Deny all attempts to access hidden files such as .htaccess or .htpasswd
      location ~ /\. {
        deny all;
      }

      # required for metrics exporter
      location /status {
        stub_status on;
        access_log   off;
        allow 127.0.0.1;
        deny all;
      }
    }

    server {
      listen 8443 ssl;
      server_name localhost *.gov.bc.ca;
      ssl_certificate certs/tls.crt;
      ssl_certificate_key certs/tls.key;
      ssl_verify_client optional_no_ca;
      ssl_protocols TLSv1.2 TLSv1.3;
      ssl_client_certificate certs/plr/trusted-ca-certs.pem;

      set $CSP_style  "style-src    'self' 'unsafe-inline' *.googleapis.com *.gstatic.com https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css";
      set $CSP_font   "font-src     'self' data: *.googleapis.com *.gstatic.com";
      set $CSP_frame  "frame-ancestors 'self'  *.oidc.gov.bc.ca oidc.gov.bc.ca";
      set $CSP_SCRIPT "script-src 'self' 'unsafe-inline' https://code.jquery.com/jquery-3.6.0.min.js";
      set $CSP        "default-src  'self' 'unsafe-inline' *.hlth.gov.bc.ca ; ${CSP_style} ; ${CSP_font} ; ${CSP_SCRIPT} ; ${CSP_frame}";

      add_header Content-Security-Policy $CSP;
      add_header X-Frame-Options "ALLOW-FROM dev.oidc.gov.bc.ca oidc.gov.bc.ca" always;
      add_header X-XSS-Protection "1; mode=block" always;
      add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload" always;
      add_header X-Content-Type-Options "nosniff" always;
      add_header Referrer-Policy "no-referrer-when-downgrade";

      location / {
        proxy_pass http://{{ .Release.Name }}-frontend:8080/;
      }

      location ^~ /api/ {
        proxy_pass http://{{ .Release.Name }}-webapi:8080/api/;
      }

      location ^~ /api/v1/ {
        proxy_pass http://{{ .Release.Name }}-webapi:8080/api/;
      }

      location ^~ /api/v1/PLRHL7 {
        proxy_pass http://{{ .Release.Name }}-webapi:8080/api/PLRHL7;
        proxy_set_header  X-SSL-CERT $ssl_client_escaped_cert;
      }

      # Deny all attempts to access hidden files such as .htaccess or .htpasswd
      location ~ /\. {
        deny all;
      }

      # required for metrics exporter
      location /status {
        stub_status on;
        access_log   off;
        allow 127.0.0.1;
        deny all;
      }
    }

    server {
      listen 8543 ssl;
      server_name localhost *.gov.bc.ca;
      ssl_certificate certs/tls.crt;
      ssl_certificate_key certs/tls.key;
      ssl_verify_client optional_no_ca;
      ssl_protocols TLSv1.2 TLSv1.3;
      ssl_client_certificate certs/plr/trusted-ca-certs.pem;

      set $CSP_style  "style-src    'self' 'unsafe-inline' *.googleapis.com *.gstatic.com; ";
      set $CSP_font   "font-src     'self' data: *.googleapis.com *.gstatic.com; ";
      set $CSP_frame  "frame-ancestors 'self'  *.oidc.gov.bc.ca oidc.gov.bc.ca";
      set $CSP        "default-src  'self' ; ${CSP_style} ${CSP_font} ${CSP_frame}";

      add_header Content-Security-Policy $CSP;
      add_header X-Frame-Options "ALLOW-FROM dev.oidc.gov.bc.ca oidc.gov.bc.ca" always;
      add_header X-XSS-Protection "1; mode=block" always;
      add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload" always;
      add_header X-Content-Type-Options "nosniff" always;
      add_header Referrer-Policy "no-referrer-when-downgrade";

      location ^~ /api/v1/PLRHL7 {
        proxy_pass http://{{ .Release.Name }}-plr-intake:8080/api/PLRHL7;
        proxy_set_header  X-SSL-CERT $ssl_client_escaped_cert;
      }

      # Deny all attempts to access hidden files such as .htaccess or .htpasswd
      location ~ /\. {
        deny all;
      }

      # required for metrics exporter
      location /status {
        stub_status on;
        access_log   off;
        allow 127.0.0.1;
        deny all;
      }
    }


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations:
    route.openshift.io/termination: "passthrough" 
  tls: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

rabbitmq:
  autoCreate: false