<div class="card-container" uiPidpInjectViewportCss>
  <picture>
    <source type="image/webp" [srcset]="getImageUrl('webp')" />
    <source type="image/jpeg" [srcset]="getImageUrl('jpeg')" />
    <img
      class="card-image"
      loading="lazy"
      aria-labelledby="card-header-text"
      [title]="imageTitleText" />
  </picture>
  <div class="card-content-container">
    <header
      [class.header-white]="headerColor === 'white'"
      [class.header-grey]="headerColor === 'grey'">
      <h2 id="card-header-text" class="card-header-text">{{ titleText }}</h2>
    </header>
    <div class="card-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
