@use 'pidp-variables' as pidp;

h2 {
  font-family: pidp.$bcgov-font-family;
}

.card-container.viewport-all {
  & .header-white {
    background-color: #ffffff;
  }
  & .header-grey {
    background-color: pidp.$bcgov-color-background-grey;
  }
}
.card-container.viewport-xsmall {
  display: flex;
  flex-direction: column;
  .card-image {
    height: 100px;
    width: 100%;
  }

  & header {
    padding: 30px;
  }
  & h2.card-header-text {
    font-size: 2em;
    font-weight: 700;
    white-space: wrap;
    margin: 0;
    line-height: 1.5;
  }
}
.card-container.viewport-small {
  display: flex;
}
.card-container.viewport-medium,
.card-container.viewport-large {
  display: flex;
  flex: 1;

  .card-image {
  }
  .card-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    & header {
      padding: 30px 20px 20px;
    }
    & h2.card-header-text {
      font-size: 1.6em;
      font-weight: 700;
      white-space: wrap;
      margin: 0;
      line-height: 1.4;
    }
    .card-content {
      display: flex;
      flex: 1;
    }
  }
}
// Adjust for small and medium, which have a layout very similar to large.
.card-container.viewport-medium {
  .card-image {
    min-height: 510px;
  }
  .card-content-container {
    & header {
      padding: 25px 14px 14px;
    }
    & h2.card-header-text {
      font-size: 1.5em;
    }
  }
}
.card-container.viewport-small {
  .card-image {
    min-height: 229px;
  }
  .card-content-container {
    display: flex;
    flex-direction: column;
    & header {
      padding: 0 12px;
    }
    & h2.card-header-text {
      margin-bottom: 3px;
      font-size: 1em;
      line-height: 1.1;
    }
    & .card-content {
      display: flex;
      flex: auto;
    }
  }
}
