.viewport-all {
  padding: 1.25rem 0.75rem;

  h1 {
    color: #036;
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 0;
    padding: 2rem 0;
  }
}

.viewport-small,
.viewport-xsmall {
  h1 {
    font-size: 40px;
  }
}
