<ui-layout-header-footer [emailSupport]="providerIdentitySupport">
  <div class="header-right" page-header-right>
    <span class="signout-text">sign out</span>
    <button
      mat-icon-button
      matTooltip="Logout"
      aria-label="logout"
      (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div class="container" uiPidpInjectViewportCss>
    <div class="section-box">
      <div class="background-image-container">
        <img
          alt="BC Provider uplift"
          ngSrc="/assets/images/bcprovider-uplift-850x600-desktop.png"
          priority
          fill />
      </div>

      <ng-container [ngSwitch]="activeLayout">
        <ng-container
          *ngSwitchCase="DiscoveryStatus.AlreadyLinkedError.toString()"
          [ngTemplateOutlet]="alreadyLinked"></ng-container>
        <ng-container
          *ngSwitchCase="DiscoveryStatus.CredentialExistsError.toString()"
          [ngTemplateOutlet]="credentialExists"></ng-container>
        <ng-container
          *ngSwitchCase="DiscoveryStatus.ExpiredCredentialLinkTicketError.toString()"
          [ngTemplateOutlet]="ticketExpired"></ng-container>
        <ng-container
          *ngSwitchDefault
          [ngTemplateOutlet]="default"></ng-container>
      </ng-container>

      <div class="button-container">
        <span>
          <button
            mat-flat-button
            type="button"
            color="primary"
            (click)="onBack()">
            Back to OneHealthID Service
          </button>
        </span>
      </div>
    </div>
  </div>
</ui-layout-header-footer>

<ng-template #alreadyLinked>
  <div class="active-layout">
    <header class="title-container">
      <h1>These Credentials are Already Linked</h1>
    </header>
    <p>
      The account you are currently signed into is already linked to your
      OneHealthId profile; your profile has not been updated. If you still have
      accounts you wish to link, please restart the account linking process and
      ensure you enter the correct credentials.
    </p>
  </div>
</ng-template>

<ng-template #credentialExists>
  <div class="active-layout">
    <header class="title-container">
      <h1>Account already exists</h1>
    </header>
    <p>
      We apologize, but both accounts you are trying to link already exist in
      the OneHealthId system and will require manual merging. Please contact
      support at
      <a uiAnchor scheme="mailto" [attr.href]="providerIdentitySupport"></a> or
      by phone at
      <a uiAnchor scheme="tel" [attr.href]="additionalSupportPhone"></a>
      and we would be happy to assist you.<br />
      Please mention that this is a linked account merge request.
    </p>
  </div>
</ng-template>

<ng-template #ticketExpired>
  <div class="active-layout">
    <header class="title-container">
      <h1>Account Linking request expired</h1>
    </header>
    <p>
      You recently started a linked account process, but did not complete the
      process in time for our system to validate the request. Please return to
      OneHealthID and start the process again.
    </p>
  </div>
</ng-template>

<ng-template #default>
  <div class="active-layout">
    <header class="title-container">
      <h1>An error has occurred</h1>
    </header>
    <p>For additional support, contact the OneHealthID Service desk:</p>
    <ul>
      <li>
        By email at
        <a uiAnchor scheme="mailto" [attr.href]="providerIdentitySupport"></a>
      </li>

      <li>
        By phone at
        <a uiAnchor scheme="tel" [attr.href]="additionalSupportPhone"></a>
      </li>
    </ul>
  </div>
</ng-template>
