<div style="height: 100%;overflow: hidden;">
  <img *ngIf="isWebView" src="../../../../../assets/images/account-linking-mock-web-view.png">
</div>
<div>
    <img *ngIf="isMobileView" src="../../../../../assets/images/account-linking-mock-mobile-view.png">
</div>
<div>
    <img *ngIf="isTabletPortraitMode" src="../../../../../assets/images/account-linking-mock-tablet-view-portrait-mode.png">
</div>
<div>
    <img *ngIf="isTabletLandscapeMode" src="../../../../../assets/images/account-linking-mock-tablet-view-landscape-mode.png">
</div>