<div class="box container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <div class="content">
    <section class="page-intro">
      <h1>ImmsBC - Manage Pharmacy</h1>
      @if (!selectedPharmacy) {
        <p class="intro-welcome">
          Select a pharmacy from the list below to start managing it.
        </p>
      } @else {
        <p class="intro-welcome">
          Manage details and staff for {{ selectedPharmacy.pharmacyName }}.
        </p>
      }
    </section>
    <!-- Step 1: Pharmacy Selection -->
    @if (!selectedPharmacy) {
      <section>
        <div class="form-panel">
          @if (pharmacyProfile$ | async; as profile) {
            @if (!profile.isPharmacyAdmin || profile.associations.length === 0) {
              <div class="text-center my-5">
                <p class="mb-3">You are not registered as an administrator for any pharmacies.</p>
                <button mat-flat-button color="primary" routerLink="/access/immsbc/create-pharmacy">Add a Pharmacy</button>
              </div>
            }
            @for (assoc of profile.associations; track assoc.pharmacyId) {
              @if (getRole(assoc.role) === 'Admin') {
                <mat-card (click)="selectPharmacy(assoc)" onKeyUp="selectPharmacy(assoc)" class="clickable-card mb-3" [class.mat-elevation-z4]="true">
                  <mat-card-header>
                    <mat-card-title> {{ assoc.pharmacyName }} </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    Role: {{ getRole(assoc.role) }}
                  </mat-card-content>
                </mat-card>
              }
            }
          } @else {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
        </div>
      </section>
    } @else {
      @if (selectedPharmacy) {
        <div class="d-flex align-items-center mb-4">
          <button mat-stroked-button (click)="deselectPharmacy()" class="ml-auto">
            <mat-icon>arrow_back</mat-icon>
            <span>Change Pharmacy</span>
          </button>
        </div>

        <mat-tab-group animationDuration="0ms" class="form-panel">
          <mat-tab label="Pharmacy Details">
            <ng-template matTabContent>
              <div class="py-4">
                <h2 class="panel-title mt-0">Update Pharmacy Details</h2>
                <p class="panel-description">
                  Use this form to update the contact and address information for your pharmacy.
                </p>
                <form [formGroup]="detailsForm" (ngSubmit)="onUpdateDetails()" novalidate>
                  <app-pharmacy-form [form]="detailsForm" [showAcknowledgements]="false" [isNameReadonly]="true"></app-pharmacy-form>
                  <div class="submit-row justify-content-end">
                    <button mat-flat-button type="submit" class="submit-btn">
                      Save Changes
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Staff Management">
            <ng-template matTabContent>
              <div class="py-4">
                <h2 class="panel-title mt-0">Staff Management</h2>
                <p class="panel-description">
                  Use this section to update the staff associated with your pharmacy.
                </p>
                <app-pharmacy-staff-management [pharmacyName]="selectedPharmacy.pharmacyName" [pharmacyId]="selectedPharmacy.pharmacyId"></app-pharmacy-staff-management>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      }
    }
  </div>
</div>