<form [formGroup]="form" novalidate>
  <div class="form-field" [class.is-readonly]="isNameReadonly">
    <label for="name">Pharmacy Name</label>
    <input id="name" type="text" formControlName="name" autocomplete="organization" [readonly]="isNameReadonly" />
    <span class="helper-text">Please include store number if applicable, use format: "Name #12345"</span>
    @if (form.get('name')?.invalid && form.get('name')?.touched) {
    <div class="form-error">Pharmacy Name is required.</div>
    }
  </div>

  <div class="form-field">
    <label for="address">Street Address</label>
    <input id="address" type="text" formControlName="address" autocomplete="shipping street-address" />
    @if (form.get('address')?.invalid && form.get('address')?.touched) {
    <div class="form-error">Street Address is required.</div>
    }
  </div>

  <div class="form-field">
    <label for="phone">Pharmacy Phone Number (Format: XXX-XXX-XXXX)</label>
    <input id="phone" type="tel" formControlName="phone" autocomplete="tel" mask="000-000-0000" />
    @if (form.get('phone')?.invalid && form.get('phone')?.touched) {
    <div class="form-error">Phone Number is required.</div>
    }
  </div>

  <div class="form-field">
    <label for="fax">Pharmacy Fax Number (Format: XXX-XXX-XXXX)</label>
    <input id="fax" type="tel" formControlName="fax" autocomplete="tel" mask="000-000-0000" />
    @if (form.get('fax')?.invalid && form.get('fax')?.touched) {
    <div class="form-error">Fax Number is required.</div>
    }
  </div>

  <div class="form-field">
    <label for="managerName">Pharmacy Manager Name</label>
    <input id="managerName" type="text" formControlName="managerName" placeholder="FirstName LastName"
      autocomplete="name" />
    @if (form.get('managerName')?.invalid && form.get('managerName')?.touched) {
    <div class="form-error">Pharmacy Manager Name is required.</div>
    }
  </div>

  <div class="form-field">
    <label for="email">Pharmacy Manager Email Address</label>
    <input id="email" type="email" formControlName="email" placeholder="FirstName.LastName@email.com"
      autocomplete="email" />
    @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <div class="form-error">
      @if (form.get('email')?.hasError('required')) {
      Email is required.
      }
      @if (form.get('email')?.hasError('email')) {
      Please enter a valid email address.
      }
    </div>
    }
  </div>

  <div class="form-field">
    <label for="pharmaCareCode">PharmaCare Code (BC00000XXX)</label>
    <input id="pharmaCareCode" type="text" formControlName="pharmacareCode" />
    <span class="helper-text">Enter the three digits for PharmaCare Code representing your pharmacy</span>
    @if (form.get('pharmacareCode')?.invalid && form.get('pharmacareCode')?.touched) {
    <div class="form-error">PharmaCare Code is required.</div>
    }
  </div>

  @if (showAcknowledgements) {
  <div class="acknowledgement-group">
    <h3 class="ack-heading">Immunization Scope</h3>
    <label class="checkbox-label">
      <input type="checkbox" formControlName="ackImmunizationScope" aria-describedby="ack-imm-scope-desc" />
      <span id="ack-imm-scope-desc">
        I declare that if I am providing vaccinations, I have a certified immunizer employed by the pharmacy and is able
        to provide immunization services in the Province of British Columbia.
      </span>
    </label>
    @if (form.get('ackImmunizationScope')?.invalid && form.get('ackImmunizationScope')?.touched) {
    <div class="form-error">This acknowledgement is required.</div>
    }
  </div>

  <div class="acknowledgement-group">
    <h3 class="ack-heading">Access to Vaccines</h3>
    <label class="checkbox-label">
      <input type="checkbox" formControlName="ackAccessToVaccines" aria-describedby="ack-access-vacc-desc" />
      <span id="ack-access-vacc-desc">
        I acknowledge that if my pharmacy provides vaccinations using public supply, we will provide immunization to all
        age cohorts eligible in the Province of British Columbia to receive a vaccination.
      </span>
    </label>
    @if (form.get('ackAccessToVaccines')?.invalid && form.get('ackAccessToVaccines')?.touched) {
    <div class="form-error">This acknowledgement is required.</div>
    }
  </div>

  <div class="acknowledgement-group">
    <h3 class="ack-heading">Privacy, Confidentiality and Security Acknowledgement</h3>
    <label class="checkbox-label">
      <input type="checkbox" formControlName="ackPrivacy" aria-describedby="ack-privacy-desc" />
      <span id="ack-privacy-desc">
        Each user will be required to accept a separate Privacy, Confidentiality and Security Acknowledgement before
        gaining access to the system.
      </span>
    </label>
    @if (form.get('ackPrivacy')?.invalid && form.get('ackPrivacy')?.touched) {
    <div class="form-error">This acknowledgement is required.</div>
    }
  </div>

  <div class="acknowledgement-group">
    <h3 class="ack-heading">Removal of Access for Ex-Employees</h3>
    <label class="checkbox-label">
      <input type="checkbox" formControlName="ackRemovalAccess" aria-describedby="ack-removal-desc" />
      <span id="ack-removal-desc">
        If an employee is no longer employed at the pharmacy, the pharmacy manager or designate will update their staff
        via the OneHealthID Manage Pharmacy option under the IMMSBC section.
      </span>
    </label>
    @if (form.get('ackRemovalAccess')?.invalid && form.get('ackRemovalAccess')?.touched) {
    <div class="form-error">This acknowledgement is required.</div>
    }
  </div>
  }
</form>