<form [formGroup]="form" novalidate>
  <div class="form-field" [class.is-readonly]="isNameReadonly">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" autocomplete="organization" [readonly]="isNameReadonly" />
    <span class="helper-text">Please include store number if applicable, use format: "Name #12345"</span>
    @if (form.get('name')?.invalid && form.get('name')?.touched) {
    <div class="form-error">Name is required.</div>
    }
  </div>



  <div class="form-field">
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address" autocomplete="address" />
    @if (form.get('address')?.invalid && form.get('address')?.touched) {
    <div class="form-error">Address is required.</div>
    }
  </div>


  <div class="form-field">
    <label for="phone">Phone Number (Format: (XXX) XXX-XXXX)</label>
    <input id="phone" type="tel" formControlName="phone" autocomplete="tel" mask="(000) 000-0000" />
  </div>

  <div class="form-field">
    <label for="fax">Fax Number (Format: (XXX) XXX-XXXX)</label>
    <input id="fax" type="tel" formControlName="fax" autocomplete="tel" mask="(000) 000-0000" />
  </div>



  <div class="form-field">
    <label for="email">Manager Email Address (for system notifications only)</label>
    <input id="email" type="email" formControlName="email" placeholder="first.last@email.com" autocomplete="email" />
    @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <div class="form-error">
      @if (form.get('email')?.hasError('required')) {
      Email is required.
      }
      @if (form.get('email')?.hasError('email')) {
      Please enter a valid email address.
      }
    </div>
    }
  </div>

  <div class="form-field">
    <label for="pharmaCareCode">PharmaCare Code (BC00000XXX)</label>
    <input id="pharmaCareCode" type="text" formControlName="pharmaCareCode" maxlength="10" />
    <span class="helper-text">Enter the ten characters for PharmaCare Code representing your pharmacy</span>
    @if (form.get('pharmaCareCode')?.invalid && form.get('pharmaCareCode')?.touched) {
    <div class="form-error">
      @if (form.get('pharmaCareCode')?.hasError('required')) {
      PharmaCare Code is required.
      }
      @if (form.get('pharmaCareCode')?.hasError('minlength') || form.get('pharmaCareCode')?.hasError('maxlength')) {
      PharmaCare Code must be exactly 10 characters.
      }
      @if (form.get('pharmaCareCode')?.hasError('pattern')) {
      PharmaCare Code must start with 'BC'.
      }
    </div>
    }
  </div>



</form>