<ui-page-header class="section" icon="handshake" iconType="outlined">
  <strong>Access Harmonization User Access Agreement</strong>
</ui-page-header>

<ui-page-section>
  <ui-page-subheader class="section"
    ><strong>Background 1.0</strong></ui-page-subheader
  >
  <p class="section">
    This Agreement is made between me and His Majesty the King in right of the
    Province of British Columbia, as represented by the Minister of Health (the
    “Province”), and describes the basic terms and conditions that I (the user)
    must comply with in order to enroll for access to clinical health systems
    available through the Province's OneHealthID Services ("OneHealthID").
  </p>

  <p class="section">
    This Agreement does not guarantee access will be granted, System Owner(s)
    may, at their discretion, amend or change the scope of my access privileges
    to the System as privacy, security, business, and clinical practice
    requirements change. In such circumstances, the System Owner will notify me
    of such changes.
  </p>
</ui-page-section>

<ui-page-section>
  <ui-page-subheader class="section"
    ><strong>Definitions 2.0</strong></ui-page-subheader
  >

  <ul class="definitions">
    <li class="uaa-section">
      <strong>2.1</strong
      ><span class="uaa-section-bullet"
        ><strong>"Provider"</strong> means a person who practices a designated
        health profession regulated by the
        <em
          >Health Professions Act and is in good standing with their
          Professional College.</em
        ></span
      >
    </li>
    <li class="uaa-section">
      <strong>2.2</strong
      ><span class="uaa-section-bullet"
        ><strong>"OneHealthID Services"</strong> means the Province's suite of
        identity and access tools, including the platform where Providers and
        Supervised users may apply for access to Systems.</span
      >
    </li>
    <li class="uaa-section">
      <strong>2.3</strong
      ><span class="uaa-section-bullet"
        ><strong>"Supervised User"</strong> means any member of a Provider's
        staff who is required to access a System in relation to the Provider's
        practice.</span
      >
    </li>
    <li class="uaa-section">
      <strong>2.4</strong
      ><span class="uaa-section-bullet"
        ><strong>"System"</strong> means the various provincial or private
        computerized information systems available to access health information
        in BC.</span
      >
    </li>
    <li class="uaa-section">
      <strong>2.5</strong
      ><span class="uaa-section-bullet"
        ><strong>"System Owner"</strong> means the Health Authority, Ministry or
        organization responsible and accountable for data stored within a
        System.</span
      >
    </li>
  </ul>
</ui-page-section>

<ui-page-section>
  <ui-page-subheader class="section"
    ><strong>User Access Agreement 3.0</strong></ui-page-subheader
  >
  <ul class="uaa">
    <li class="uaa-section">
      <strong>3.1</strong
      ><span class="uaa-section-bullet"
        >For Providers registered with a Professional College in BC:<br /><span
          class="uaa-section"
          ><strong>a. </strong>
          <p class="uaa-section-bullet-inside">
            I will only access the System(s) for so long as I am a registrant in
            good standing with my Professional College.
          </p></span
        ></span
      >
    </li>
    <li class="uaa-section">
      <strong>3.2</strong
      ><span class="uaa-section-bullet"
        >For Supervised Users Accessing System(s) on behalf of a College
        Registrant:<br /><span class="uaa-section"
          ><strong>a. </strong>
          <p class="uaa-section-bullet-inside">
            I will only access the System(s) for so long as I am accessing the
            System(s) on behalf of a Provider that meets the criteria above.
          </p></span
        ></span
      >
    </li>
    <li class="uaa-section">
      <strong>3.3</strong
      ><span class="uaa-section-bullet">
        I will only access the System(s) as necessary to perform my role and
        duties, unless permitted by the System Owner(s).</span
      >
    </li>
    <li class="uaa-section">
      <strong>3.4</strong
      ><span class="uaa-section-bullet">
        I will cooperate with the execution of the System Owner's breach
        management plan including responding, reporting and containing any
        potential or known breach of personal information including any
        unauthorized attempt, by any person, to access the System(s).</span
      >
    </li>
    <li class="uaa-section">
      <strong>3.5</strong
      ><span class="uaa-section-bullet"
        >I will not permit any other person to access the System(s) with my
        credentials and will take all reasonable measures to prevent
        unauthorized access from occurring.</span
      >
    </li>
    <li class="uaa-section">
      <strong>3.6</strong
      ><span class="uaa-section-bullet">
        I will store all relevant System(s) data or personal information in
        accordance with my or my supervising Provider's Professional College
        Requirements and the System Owner's organizational policies.</span
      >
    </li>
    <li class="uaa-section">
      <strong>3.7</strong
      ><span class="uaa-section-bullet">
        I will ensure to the best of my ability that any personal information I
        record in the System(s) about myself, or others is accurate, complete,
        and up to date.</span
      >
    </li>
    <li class="uaa-section">
      <strong>3.8</strong
      ><span class="uaa-section-bullet">
        I will notify the System(s) Owner of any inaccuracy or errors.</span
      >
    </li>
    <li class="uaa-section">
      <strong>3.9</strong
      ><span class="uaa-section-bullet">
        I will cooperate with any IM/IT system audits and investigations
        conducted by System Owners.</span
      >
    </li>
    <li class="uaa-section">
      <strong>3.10</strong
      ><span class="uaa-section-bullet">
        I acknowledge the System(s) Owner may report any material breach of this
        Agreement to the Office of the Information and Privacy Commissioner of
        British Columbia, and/or my organization/supervising Provider.</span
      >
    </li>
  </ul>

  <p class="section">
    The terms and conditions of this Agreement may be amended by the Province at
    any time, in its sole discretion, by the Province delivering written notice
    of the amendment to the email address indicated in my OneHealthID profile.
    Any such notice will specify the date upon which the amendment becomes
    effective. If I continue to access any of the Systems enrolled through the
    OneHealthID after the effective date of the amendment, I will be deemed to
    have accepted the amendment. If I do not agree with an amendment for which
    notice has been provided by the Province, I must promptly (and in any event
    prior to the effective date) cease all access or use of all Systems enrolled
    through the OneHealthID.
  </p>
</ui-page-section>
