p,
ul {
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.definitions li {
  display: flex;
  margin-bottom: 1rem;
}

.uaa li {
  display: flex;
  margin-bottom: 1rem;

  .uaa-section-bullet-inside {
    margin-left: 2rem;
  }
}

.uaa-section {
  display: flex;
  margin-left: 2rem;

  .uaa-section-bullet {
    margin-left: 1rem;
  }
}
