<div class="container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <div class="content-header">
    <h1>Access harmonization user access agreement</h1>
  </div>

  <div class="page-sections">
    <div class="main-container">
      <section>
        <h3 class="sub-header"><b>Purpose</b></h3>
        <p class="body-text">
          This OneHealthID Service Use Policy Agreement (the
          <strong>"Policy Agreement"</strong>) sets out your rights and
          responsibilities when you (<strong>the "User"</strong>):
        </p>
        <ol class="ordered-list">
          <li>
            <p class="body-text margin-left-2">
              use the OneHealthID Service (the <strong>"Service"</strong>);
            </p>
          </li>
          <li>
            <p class="body-text margin-left-2">
              use the Service to access a system that contains health
              information (each a <strong>"System"</strong>).
            </p>
          </li>
        </ol>
        <p class="body-text">
          To use the Service, and to access a System, the User must acknowledge
          the acceptance of:
        </p>
        <ol class="ordered-list">
          <li>
            <p class="body-text margin-left-2">this Policy Agreement;</p>
          </li>
          <li>
            <p class="body-text margin-left-2">
              if required by a System Owner, a separate user agreement specific
              to the System.
            </p>
          </li>
        </ol>

        <h3 class="sub-header"><b>Ownership</b></h3>
        <p class="body-text">
          The Service is the property of His Majesty the King in right of the
          Province of British Columbia, as represented by the Minister of Health
          (the <strong>"Province"</strong>).
        </p>
        <p class="body-text">
          The System(s) that can be accessed using the Service are the property
          of the Province or another health sector organization (each a
          <strong>"System Owner"</strong>).
        </p>

        <h3 class="sub-header">
          <b>Commitment to Service and System Owner(s)</b>
        </h3>
        <p class="body-text">
          By using the Service, the User is deemed to enter a written contract
          with the Province based on the terms of this Policy Agreement.
        </p>
        <p class="body-text">
          By using the Service to access the System of a System Owner, the User
          is deemed to enter a written contract with that System Owner based on
          the terms of this Policy Agreement.
        </p>
        <p class="body-text">
          A System Owner may require that the User agrees to separate terms of
          use specific to the System being accessed (<strong
            >"Specific System Terms"</strong
          >). Such a requirement may be communicated by the System Owner to the
          User from time to time. In such situations, the Specific System Terms
          will prevail over the terms of the agreement described in the
          paragraph above to the extent of any conflict or inconsistency.
        </p>
      </section>

      <section>
        <h3 class="sub-header"><b>Acceptable Use Policy for the Service</b></h3>
        <ul>
          <li class="uaa-section">
            <p class="body-text">I, the User, will:</p>

            <ul>
              <li>
                <p class="body-text margin-left-2">
                  use the Service only to access those System(s) necessary to
                  perform the User's job duties, unless otherwise permitted in
                  writing by the applicable System Owner(s);
                </p>
              </li>
              <li>
                <p class="body-text margin-left-2">
                  protect the security, confidentiality, integrity, and
                  availability of the Service;
                </p>
              </li>
              <li>
                <p class="body-text margin-left-2">
                  use the Service in accordance with the applicable laws and any
                  applicable policies of the Province relating to the Service
                  which have been communicated by the Province to the User from
                  time to time;
                </p>
              </li>
              <li>
                <p class="body-text margin-left-2">
                  respect the rights and privacy of other Service users.
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <section>
        <h3 class="sub-header"><b>Terms of Use for System(s)</b></h3>
        <ul>
          <li class="uaa-section">
            <p class="body-text">I, the User, will:</p>
            <ul>
              <li>
                <p class="body-text margin-left-2">
                  only access a System using the Service if the User:
                </p>
                <ol class="ordered-list margin-left-2">
                  <li>
                    Is a registrant practicing a health profession designated
                    under the Health Professions Act (British Columbia) or is a
                    health professional designated under the similar act of
                    another Canadian Province or Territory (a
                    <strong>"Registrant"</strong>) and is in good standing with
                    the User's applicable regulatory college; or
                  </li>
                  <li>
                    Is supervised by a Registrant, in good standing with their
                    regulatory college, and is accessing the System on behalf of
                    that Registrant; or
                  </li>
                  <li>
                    Is neither a Registrant nor is supervised by a Registrant,
                    and is providing services to the System Owner
                  </li>
                </ol>
              </li>
              <li>
                <p class="body-text margin-left-2">
                  only access and use a System using the Service
                </p>
                <ol class="ordered-list margin-left-2">
                  <li>
                    as necessary to perform the User's work duties, unless
                    permitted otherwise in writing by the System Owner; and
                  </li>
                  <li>
                    in accordance with applicable laws and any applicable
                    policies of the System Owner relating to the System which
                    have been communicated by the System Owner to the User from
                    time to time
                  </li>
                </ol>
              </li>
              <li>
                <p class="body-text margin-left-2">
                  protect the security, confidentiality, integrity, and
                  availability of a System accessed using the Service, including
                  as follows:
                </p>
              </li>
            </ul>
          </li>
        </ul>
        <div class="body-grid-container">
          <div class="first-row">
            <div class="grid-column">
              <p class="body-text">
                <u>Breach Management</u>: The User will cooperate with the
                execution of the System Owner's breach management plan including
                responding, reporting, and containing any potential or known
                breach of personal information including any unauthorized
                attempt, by any person, to access the System.
              </p>
            </div>
            <div class="grid-column">
              <p class="body-text">
                <u>Breach Reporting</u>: The User acknowledges that a System
                Owner(s) may report any material breach of this Policy Agreement
                to the Office of the Information and Privacy Commissioner of
                British Columbia, and/or to the User's organization/supervisor.
              </p>
            </div>
          </div>
          <div class="second-row">
            <div class="grid-column">
              <p class="body-text">
                <u>Prevention of Unauthorized Access</u>: The User will not
                permit any other person to access a System with the User's
                credentials and will take all reasonable measures to prevent
                unauthorized access from occurring.
              </p>

              <p></p>
            </div>
            <div class="grid-column">
              <p class="body-text">
                <u>Accuracy of Information</u>: The User will make every
                reasonable effort to ensure to the best of the User's ability
                that any personal information User records in a System about the
                User or others, is accurate, complete, and up to date.
              </p>
            </div>
          </div>
        </div>

        <p class="body-text">
          <u>Reporting Inaccuracies</u>: The User will notify the System
          Owner(s) of any inaccuracy or errors recorded in a System.
        </p>
        <p class="body-text">
          <u>Audit Cooperation</u>: The User will cooperate with any
          incident/privacy audits and investigations conducted by a System
          Owner(s).
        </p>

        <p class="body-text">
          Not use or disclose personal health information or information related
          to a health service Provider for the purpose of gaining insight into
          health trends, assessing the viability of a new product or service,
          etc. for monetary purpose or gain. That is, not for commercial use.
        </p>
      </section>
      <section>
        <h3 class="sub-header"><b>Disclaimer</b></h3>
        <p class="body-text">
          The Service and System(s) access provided by the Province and System
          Owner(s) pursuant to this Policy Agreement is provided “as is” without
          representations or warranties of any kind, whether express or implied,
          including without limitation regarding availability or fitness for a
          particular purpose.
        </p>
        <p class="body-text">
          In no event will the Province or a System Owner be liable to the User,
          or any third party, for any damages or losses of any kind in
          connection with the Service and System(s) access, including direct,
          indirect, special, incidental, consequential, punitive or exemplary
          damages, and damages for lost profits or lost savings, even if the
          Province or a System Owner has been specifically advised of the
          possibility of any such damages or losses.
        </p>
        <p class="body-text">
          The User agrees that any information received or otherwise obtained
          through the Service or System(s) access is at the User's own
          discretion and risk and will not be solely relied on by the User in
          substitution for the User's own professional judgement.
        </p>
      </section>
      <section>
        <h3 class="sub-header"><b>General</b></h3>
        <p class="body-text">
          The Province may amend this Policy Agreement at any time, subject to
          the following:
        </p>
        <ol class="ordered-list margin-left-2">
          <li>
            The OneHealthID Service will notify the User of any such amendment
            in advance by sending an email to the email address the User
            provided during Service enrolment. This email notice will include a
            description of the changes made and a link to the amended Policy
            Agreement.
          </li>
          <li>
            The amended Policy Agreement will take on the (the
            <strong>"Effective Date"</strong>) in the email notice.
          </li>
          <li>
            Any continued use of the Service after the Effective Date
            constitutes the User's acceptance of the terms of the amended Policy
            Agreement.
          </li>
        </ol>
        <p class="body-text">
          The Province may terminate the User's access to the Service if the
          User fails to comply with this Policy Agreement or if the User's
          continued access represents an unforeseen risk to the Service, or if
          necessary due to a change in applicable law or policy, providing both
          reason and notice.
        </p>
        <p class="body-text">
          A System Owner may terminate the User's access to a System if the User
          fails to comply with this Policy Agreement in connection with the
          User's access to and use of that System or the User's continued access
          represents an unforeseen risk to the System, or if necessary due to a
          change in applicable law or policy providing both reason and notice at
          the System Owner discretion.
        </p>
        <p class="body-text">
          This Policy Agreement does not operate as a permit, license, approval
          or other statutory authority which the User may be required to obtain
          from the Province or any of its agencies. Nothing in this Policy
          Agreement is to be construed as interfering with, or fettering in any
          manner, the exercise by the Province or its agencies of any statutory,
          prerogative, executive or legislative power or duty. If any provision
          of this Policy Agreement is held to be unenforceable, the
          enforceability of the remaining provisions will not be affected.
        </p>
        <p class="body-text">
          This Policy Agreement will be governed by and construed and
          interpreted in accordance with the laws applicable in British
          Columbia.
        </p>
      </section>
    </div>

    <aside class="definitions-container">
      <h3 class="sub-header">Definitions</h3>
      <ul class="definitions">
        <li class="uaa-section">
          <h4 class="sidebar-header">Provider</h4>
          <p class="sidebar-body">
            means a person who practices a designated health profession
            regulated by the Health Professions Act and is in good standing with
            their Professional College.
          </p>
        </li>
        <li class="uaa-section">
          <h4 class="sidebar-header">OneHealthID Services</h4>
          <p class="sidebar-body">
            means the Province's suite of identity and access tools, including
            the platform where Providers and Supervised users may apply for
            access to Systems.
          </p>
        </li>
        <li class="uaa-section">
          <h4 class="sidebar-header">Supervised User</h4>
          <p class="sidebar-body">
            means any member of a Provider's staff who is required to access a
            System in relation to the Provider's practice.
          </p>
        </li>
        <li class="uaa-section">
          <h4 class="sidebar-header">System</h4>
          <p class="sidebar-body">
            means the various provincial or private computerized information
            systems available to access health information in BC.
          </p>
        </li>
        <li class="uaa-section">
          <h4 class="sidebar-header">System Owner</h4>
          <p class="sidebar-body">
            means the Health Authority, Ministry or organization responsible and
            accountable for data stored within a System.
          </p>
        </li>
      </ul>
    </aside>
  </div>
</div>
