<ui-page-header icon="handshake" iconType="outlined">
  Access Harmonization User Access Agreement
</ui-page-header>

<ui-page-section>
  <ui-page-subheader>Background</ui-page-subheader>
  <p>
    This Agreement describes the basic terms and conditionsd for you must comply
    with in order to gain access to clinical health systems available through
    the Provider Identity Portal (PIdP), which may include but are not limited
    to an:
  </p>

  <ul>
    <li><strong>Electronic Medical Record (EMR),</strong></li>
    <li><strong>Electronic Health Record (EHR),</strong></li>
    <li><strong>Hospital Clinical Information System (CIS),</strong></li>
    <li><strong>Health Information Banks (HIB),</strong></li>
    <li>
      <strong>
        or other electronic health data systems storing patient data in BC.
      </strong>
    </li>
  </ul>

  <p>
    For full legal terms, consult the Terms of Service for each respective
    system available in your PIdP Profile. System Owner(s) may, at their
    discretion, amend or change the scope of your access privileges to the
    System as privacy, security, business, and clinical practice requirements
    change. In such circumstances, the System Owner will notify you of such
    changes.
  </p>
</ui-page-section>

<ui-page-section>
  <ui-page-subheader>Definitions</ui-page-subheader>

  <ul class="definitions">
    <li>
      <strong>"Provider"</strong> means a person who practices a designated
      health professional as regulated by the Health Professions Act.
    </li>
    <li>
      <strong>"Provider Identity Portal"</strong> means the BC Ministry of
      Health platform where Providers and Supervised users may apply for access
      to Systems.
    </li>
    <li>
      <strong>"Supervised User"</strong> means any member of a Provider's staff
      who is required to access a System in relation to the Provider's practice.
    </li>
    <li>
      <strong>"System"</strong> means the various provincial or private
      computerized information systems available to access health information in
      BC.
    </li>
    <li>
      <strong>"System Owner"</strong> means the Health Authority, Ministry or
      organization responsible and accountable for data stored within a System
    </li>
  </ul>
</ui-page-section>

<ui-page-section>
  <ui-page-subheader>User Access Agreement</ui-page-subheader>
  <p>For Providers registered with a Professional College in BC:</p>

  <br />

  <section class="uaa-section uaa-section-1">
    <p>
      To only access the System(s) for so long as I am a registrant in good
      standing with my Professional College and my registration permits me to
      deliver direct patient care. For Supervised Users Accessing System(s) on
      behalf of a College Registrant: To only access the System(s) for so long
      as I am accessing the System(s) on behalf of a Provider that meets the
      criteria above.
    </p>
  </section>

  <section class="uaa-section uaa-section-2">
    <p>
      I will only access the System(s) as necessary to perform my role and
      duties in the provision of direct patient care, unless permitted by the
      System Owner(s) and in accordance with an information sharing plan or
      agreement.
    </p>
  </section>

  <section class="uaa-section uaa-section-3">
    <p>
      I will comply with my organization's breach management plan if I have
      knowledge of any circumstances, incidents or events which may jeopardize
      the security, confidentiality, availability, or integrity of the System(s)
      including any unauthorized attempt, by any person, to access the
      System(s).
    </p>

    <p>
      I will not permit any other person to access the System(s) with my
      credentials, and will take all reasonable measures to prevent unauthorized
      access from occurring.
    </p>
  </section>

  <section class="uaa-section uaa-section-4">
    <p>
      I will only access the System(s) at the sites permitted, unless compliant
      with System(s) Owner remote access policies, and/or with explicit approval
      from the System(s) Owner.
    </p>
  </section>

  <section class="uaa-section uaa-section-5">
    <p>
      I will not provide patients with any copies of records containing
      System(s) Data or "print outs" produced directly from the System(s), and
      will refer any requests for access to such records to the System(s) Owner.
    </p>

    <p>
      I will store all relevant System(s) data in accordance with my or my
      supervising Provider's Professional College Requirements and my
      organizational policies
    </p>
  </section>

  <section class="uaa-section uaa-section-6">
    <p>
      I will ensure that any Personal Information I record in the System(s) is
      accurate, complete, and up to date.
    </p>
    <p>
      Where I am aware of any inaccuracy or error in such information, I will
      take action to investigate and, correct it. I will notify the System(s)
      Owner of the inaccuracy/error and any steps taken.
    </p>
  </section>

  <section class="uaa-section uaa-section-7">
    <p>
      I will cooperate with any audits or investigations conducted by the
      System(s) Owner regarding compliance with the Personal Information
      Protection Act (PIPA) the Freedom of Information and Protection of Privacy
      Act (FOIPPA), the eHealth Act and this Agreement. This may include
      providing access upon request to your facilities, data management systems,
      books, records and personnel for the purposes of auditing or
      investigation.
    </p>

    <p>
      I acknowledge the System(s) Owner may report any material breach of this
      Agreement to my Professional College, the Information and Privacy
      Commissioner of British Columbia, and/or my organization/supervising
      Provider.
    </p>
  </section>

  <p>
    Any notice(s) to the User related to the terms of this Agreement will be
    provided in writing to the User's email address entered into the Provider
    Identity Portal "Demographic Information" section
  </p>
</ui-page-section>
