<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="PharmaNet">
      <ng-container uiPageSectionSubheaderDesc>Next Steps.</ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-alert
    type="success"
    icon="check_circle"
    iconType="outlined"
    title="Request Successful">
    Follow the next steps to access PharmaNet
  </ui-alert>

  <ui-page-footer>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      routerLink="../../">
      Back Home
    </button>
  </ui-page-footer>
</ui-page>
