<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-subheader icon="assignment">PharmaNet</ui-page-subheader>
    <p>Next Steps.</p>
  </ui-page-section>

  <ui-alert
    type="success"
    icon="check_circle"
    iconType="outlined"
    title="Request Successful">
    Follow the next steps to access PharmaNet
  </ui-alert>

  <!-- <ui-page-section>
    <ui-page-subheader></ui-page-subheader>
    <p></p>
  </ui-page-section> -->

  <ui-page-footer>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      routerLink="../../">
      Back Home
    </button>
  </ui-page-footer>
</ui-page>
