<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="UCI">
      <ng-container uiPageSectionSubheaderDesc>
        {{ completed ? 'Enrolment Complete.' : 'Collection Notice.' }}
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <app-enrolment-error *ngIf="enrolmentError"></app-enrolment-error>

  <ng-container *ngIf="completed; else notCompleted">
    <ui-alert
      type="success"
      icon="check_circle"
      iconType="outlined"
      heading="You have access to UCI">
      <ng-container uiAlertContent>
        <p>
          You can log into UCI using your BC Services Card app. Follow this link
          to land on the Patient Search screen in UCI.
        </p>
        <p>Click <a uiAnchor [attr.href]="uciUrl">here</a> to access UCI.</p>
        <p>
          You will need to visit this link each time you want to access UCI. It
          may be helpful to bookmark this link for future use.
        </p>
      </ng-container>
    </ui-alert>
  </ng-container>

  <ng-template #notCompleted>
    <ui-page-section>
      <p
        class="collection-notice"
        [innerHtml]="collectionNotice | safe: 'html'"></p>
    </ui-page-section>
  </ng-template>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      {{ completed ? 'Back Home' : 'Cancel Back Home' }}
    </button>

    <button
      *ngIf="!completed"
      mat-flat-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onRequestAccess()">
      Next
    </button>
  </ui-page-footer>
</ui-page>
