<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="UCI">
      <ng-container uiPageSectionSubheaderDesc>
        {{ completed ? 'Enrolment Complete.' : 'Collection Notice.' }}
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ng-container *ngIf="completed; else notCompleted">
    <ui-alert
      type="success"
      icon="check_circle"
      iconType="outlined"
      heading="You have access to UCI">
      <ng-container uiAlertContent>
        <p>
          <!-- TODO replace Lorum ipsum -->
          Bacon ipsum dolor amet meatball ground round buffalo boudin, salami
          cupim shoulder bresaola ball tip strip steak. Beef ribs meatloaf short
          ribs sausage salami meatball. Ribeye landjaeger sirloin venison. Pork
          loin swine pork chop cow, t-bone filet mignon alcatra shankle shoulder
          buffalo salami doner. Brisket jowl turkey, chicken filet mignon
          drumstick chuck pancetta. Tri-tip leberkas swine hamburger boudin.
          Picanha filet mignon corned beef fatback shank, turkey flank rump.
        </p>
        <p>
          Button to UCI<br />
          <a uiAnchor [attr.href]="uciUrl"></a>
        </p>
        <p>UCI link</p>
      </ng-container>
    </ui-alert>
  </ng-container>

  <ng-template #notCompleted>
    <ui-page-section>
      <p
        class="collection-notice"
        [innerHtml]="collectionNotice | safe: 'html'"></p>
    </ui-page-section>
  </ng-template>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      {{ completed ? 'Back Home' : 'Cancel Back Home' }}
    </button>

    <button
      *ngIf="!completed"
      mat-flat-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onRequestAccess()">
      Next
    </button>
  </ui-page-footer>
</ui-page>
