<!-- card.component.html -->
<div
  class="card"
  [ngClass]="{
    active: isActive,
    completed: isCompleted,
    inactive: !isActive && !isCompleted
  }">
  <div class="card-content">
    <div class="card-icon">
      <mat-icon *ngIf="cardData.icon" [svgIcon]="cardData.icon"></mat-icon>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ cardData.title }}</h2>
      <p class="card-description">{{ cardData.description }}</p>

      <ng-container [ngSwitch]="cardData.type">
        <!-- Dropdown Selection -->
        <div *ngSwitchCase="'dropdown'" class="form-group">
          <mat-select
            class="form-control"
            [disabled]="!isActive"
            (selectionChange)="onContinue($event.value)">
            <mat-option value="" disabled selected>
              {{ cardData.placeholder }}
            </mat-option>
            @for (option of cardData.options; track $index) {
              <mat-option value="option.value"> {{ option.label }}</mat-option>
            }
          </mat-select>
          <a
            *ngIf="cardData.linkText"
            class="help-link"
            href="javascript:void(0)"
            >{{ cardData.linkText }}</a
          >
        </div>

        <!-- Input Field -->
        <div *ngSwitchCase="'input'" class="form-group input-container">
          <div class="input-container__wrapper">
            <input
              name="email"
              class="form-control"
              type="email"
              #inputField="ngModel"
              required
              email
              [placeholder]="cardData.placeholder"
              [disabled]="!isActive"
              [ngClass]="{
                'is-invalid':
                  inputField.invalid && (inputField.dirty || inputField.touched)
              }"
              [(ngModel)]="email" />

            <button
              class="btn"
              [disabled]="!isActive || inputField.invalid"
              (click)="onContinue(inputField.value)">
              {{ cardData.buttonText }}
            </button>
          </div>

          <div
            *ngIf="
              inputField.invalid && (inputField.dirty || inputField.touched)
            "
            class="text-danger input-container__error">
            <div *ngIf="inputField.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="inputField.errors?.['email']">
              Please enter a valid email address.
            </div>
          </div>
        </div>

        <!-- Email Verification -->
        <div *ngSwitchCase="'verification'" class="form-group"></div>

        <!-- Final Setup -->
        <div *ngSwitchCase="'final'" class="form-group">
          <button
            *ngIf="cardData.buttonText"
            class="btn btn-continue"
            [disabled]="!isActive"
            (click)="onContinue()">
            {{ cardData.buttonText }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
