<!-- card.component.html -->
<div
  class="card"
  [ngClass]="{
    active: isActive,
    completed: isCompleted,
    inactive: !isActive && !isCompleted
  }">
  <div class="card-content">
    <div class="card-icon">
      @if (cardData.icon) {
        <mat-icon [svgIcon]="cardData.icon"></mat-icon>
      }
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ cardData.title }}</h2>
      <p class="card-description">{{ cardData.description }}</p>

      @switch (cardData.type) {
        <!-- Dropdown Selection -->
        @case ('dropdown') {
          <div class="form-group">
            <mat-select
              class="form-control"
              [disabled]="!isActive"
              [placeholder]="cardData.placeholder || ''"
              (selectionChange)="onContinue($event.value)">
              @for (option of cardData.options; track $index) {
                <mat-option [value]="option.value">
                  {{ option.label }}
                </mat-option>
              }
            </mat-select>

            @if (cardData.linkText) {
              <a
                class="help-link"
                href="javascript:void(0)"
                [class.disabled]="!isActive"
                [attr.aria-disabled]="!isActive"
                [tabindex]="!isActive ? -1 : 0"
                >{{ cardData.linkText }}</a
              >
            }
          </div>
        }

        <!-- Input Field -->
        @case ('input') {
          <div class="form-group input-container">
            <div class="input-container__wrapper">
              <input
                name="email"
                class="form-control"
                type="email"
                #inputField="ngModel"
                required
                email
                [placeholder]="cardData.placeholder"
                [ngClass]="{
                  'is-invalid':
                    inputField.invalid &&
                    (inputField.dirty || inputField.touched)
                }"
                [(ngModel)]="email" />

              <button
                class="btn"
                [disabled]="inputField.invalid"
                (click)="onContinue(inputField.value)">
                {{ cardData.buttonText }}
              </button>
            </div>

            @if (
              inputField.invalid && (inputField.dirty || inputField.touched)
            ) {
              <div class="text-danger input-container__error">
                @if (inputField.errors?.['required']) {
                  Email is required.
                }

                @if (inputField.errors?.['email']) {
                  Please enter a valid email address.
                }
              </div>
            }
          </div>
        }
        <!-- Email Verification -->
        @case ('verification') {
          <div class="form-group"></div>
        }

        <!-- Final Setup -->
        @case ('final') {
          <div class="form-group">
            @if (cardData.buttonText) {
              <button
                class="btn btn-continue"
                [disabled]="!isActive"
                (click)="onContinue(routePath)">
                {{ cardData.buttonText }}
              </button>
            }
          </div>
        }
      }
    </div>
  </div>
</div>
