@use 'pidp-variables' as pidp;
@import 'bootstrap/bootstrap-imports';

.viewport-all {
  --gap: 1rem;
  --font-size: 0.75rem;
  --content-padding: var(--gap);
  padding: calc(var(--gap)) calc(var(--gap) * 4) 0 calc(var(--gap) * 4);

  .breadcrumb {
    padding: 1rem 0;
    ul {
      display: flex;
      align-items: center;
      padding: 0px;
    }

    fa-icon {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      color: #d9d9d9;
      font-size: 1.75rem;
    }

    ul li {
      display: flex;
    }

    span {
      font-size: 1rem;
    }

    button:disabled {
      color: #aaa !important;
    }

    img {
      margin-right: 10px;
      margin-bottom: 6px;
    }
  }

  & header {
    margin: var(--header-margin);

    & h1 {
      margin: 0;
      color: #003366;
      font-size: 50px;
      font-weight: 700;
      word-wrap: break-word;
    }
  }

  & .content {
    padding-top: var(--content-padding);
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .link-intro-text {
      padding-top: 1rem;
    }

    .option-text {
      padding-left: 0;
      padding-top: 1rem;

      li {
        margin-left: calc(var(--gap) * 1.5);
      }
    }

    .link-main {
      display: grid;
      grid-template-columns: calc(33% - 15px) calc(33% - 15px) calc(33% - 15px);
      gap: 20px;
      min-height: 340px;
      margin: calc(var(--gap) * 2) 0;

      & .card {
        display: flex;
        flex-direction: column;
        padding-right: calc(var(--gap) * 0.5);
        position: relative;
        line-height: 1.5rem;
      }

      & .card-styles {
        border-radius: 1.25rem;
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: auto;
        height: 11.875rem;
        padding: 1.25rem;

        h2 {
          color: #036;
          font-size: 1.5rem;
          font-weight: 700;
          padding-top: 0.25rem;
          margin-bottom: 0;
        }

        p {
          color: #000;
          font-size: 1rem;
          font-weight: 400;
          padding-top: 0;
          margin-bottom: 0;
          line-height: 1.5;
        }

        a {
          color: var(--Links, #1a5a96);
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          text-decoration: underline;
          cursor: pointer;
        }

        .linked-success {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          span {
            color: #2e8540;
            font-size: 16px;
            font-weight: 700;
            margin-right: 5px;
          }

          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      & .instructions-card-layout {
        width: auto;
        height: 25rem;
        border-radius: 1.25rem;
        border: 1px solid #ccc;
        background-color: #ebebeb;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .instructions-container {
          padding: 1.88rem 0.5rem 0 1.88rem;

          h2 {
            color: var(--Colours-font, #313132);
            font-size: 1.3rem;
            font-weight: 700;
          }

          ol {
            color: #333;
            font-size: 12px;
            font-weight: 400;
          }

          .list-item {
            padding-bottom: 0.5rem;
          }

          .sublist {
            list-style-type: '-';
            li {
              padding-left: 0.25rem;
            }
          }
        }

        button {
          border-radius: 0.25rem;
          border: 2px solid #ccc;
          background: #f3f3f3;
          display: flex;
          width: 9.3125rem;
          height: 3.0625rem;
          padding: 0.75rem 1.25rem;
          justify-content: center;
          align-items: center;
          color: #313132;
          font-size: 1.125rem;
          letter-spacing: 0.0625rem;
          margin: 0.5rem 0 1rem 1.88rem;
        }
      }

      & .instructions-card {
        background-image: url('/assets/images/account-linking-plant.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: center;

        h2 {
          color: #313132;
          width: 17.5625rem;
          font-size: 2rem;
          font-weight: 700;
          padding: 1.88rem 0 0 1.88rem;
          line-height: 1.25;
        }

        p {
          width: 14.1875rem;
          color: #474543;
          font-size: 1rem;
          padding-left: 1.88rem;
        }

        button {
          margin: 3rem 0 1rem 1.88rem;
        }
      }

      .card-header-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lock-icon {
          cursor: pointer;
        }
        .card-icon {
          display: flex;
          border-radius: 0.625rem;
          border: 1px solid rgba(0, 51, 102, 0.2);
          width: 2.5rem;
          height: 2.5rem;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .bc-provider,
      .idir-account {
        margin-top: 1.19rem;
      }
      .link-button {
        img {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          object-fit: cover;
          z-index: -2;
        }

        img.imgplant {
          object-position: -10px -100px;
        }

        div.auth-card {
          padding: 20px 0px 55px 50px;
        }

        .card-container {
          display: flex;
          flex-direction: column;
          height: 95%;
          width: 100%;
          align-items: flex-start;

          .card-header,
          .card-body,
          .card-footer {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .card-body {
            img.logo {
              z-index: -1;
              -webkit-transform: none;
              transform: none;
              position: relative !important;
              height: 45px;
              width: 175px;
            }

            img.bcsc-logo {
              z-index: -1;
              -webkit-transform: none;
              transform: none;
              position: relative !important;
              height: 63px !important;
              width: 100px !important;
            }
          }
        }
      }
    }
  }

  & .link-how-to {
    & .link-steps {
      text-decoration: underline;
    }

    & ol {
      line-height: 2rem;

      & i {
        color: pidp.$grey-30;
      }
    }
  }

  .successfully-linked {
    & h2 {
      margin: 0;
      padding: calc(var(--gap) / 2) calc(var(--gap) * 2);
      background-color: pidp.$green-10;
    }

    & .successfully-linked-accounts {
      display: flex;
      flex-direction: row;

      & .card {
        display: flex;
        flex-direction: column;
        padding: calc(var(--gap) * 0.9);
        margin: 5px;
        position: relative;
        line-height: 1.5rem;
        width: 240px;
        box-shadow:
          0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12),
          0 2px 4px -1px rgba(0, 0, 0, 0.2);

        .card-container {
          display: flex;
          flex-direction: column;
          height: 95%;
          width: 100%;
          align-items: center;
          padding: 20px;

          .card-header,
          .card-body,
          .card-footer {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .card-body {
            img.logo {
              z-index: -1;
              -webkit-transform: none;
              transform: none;
              position: relative !important;
              height: 30px !important;
              width: 130px !important;
            }

            img.mini-logo {
              z-index: -1;
              -webkit-transform: none;
              transform: none;
              position: relative !important;
            }
          }
        }
      }
    }
  }
}

div.viewport-xsmall {
  --gap: 0.5rem;
  --font-size: 0.5rem;
  .breadcrumb {
    margin: 0px 20px 0px 2px;

    img {
      margin-right: 2px;
    }
    span {
      font-size: 0.8rem;
    }
    .home-text {
      display: none;
    }
    fa-icon {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 1.25rem;
    }
  }
  & .content {
    & .link-main {
      display: flex !important;
      flex-direction: column !important;
      & .instructions-card {
        h2 {
          padding: 1rem 0rem 0 1rem;
          font-size: 1.8rem;
        }

        p {
          padding-left: 1.5rem;
        }
      }
      .instructions-card-layout {
        button {
          margin: 4.7rem 0 1rem 1.5rem;
        }
        .instructions-text {
          margin: 5.5rem 0 1rem 1.5rem;
        }
        & .instructions-container {
          padding: 1rem 0rem 0 1rem;
          h2 {
            margin-bottom: 0.25rem;
            font-size: 1rem;
          }
          ol,
          ul {
            margin-left: 0rem;
          }
          .list-item {
            padding-bottom: 0rem;
          }
        }
      }
      .card-styles {
        padding: 1rem;

        h2 {
          font-size: 1.25rem;
        }

        p {
          font-size: 0.8rem;
          line-height: 1.8;
        }

        a {
          font-size: 0.9rem;
        }

        .linked-success {
          span {
            font-size: 14px;
          }
        }
      }

      .card-header-icon .card-icon {
        width: 2rem;
        height: 2rem;

        img {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    & .content {
      & .link-main {
        .instructions-card-layout {
          button {
            margin: 0rem 0 1rem 1.5rem;
          }
        }
      }
    }
  }

  .card-body {
    img.logo {
      z-index: -1;
      -webkit-transform: none;
      transform: none;
      position: relative !important;
      height: 40px !important;
      width: 175px !important;
      padding-left: 5px;
    }
    img.mini-logo {
      z-index: -1;
      -webkit-transform: none;
      transform: none;
      position: relative !important;
    }
  }
}

div.viewport-small {
  --gap: 0.5rem;
  --font-size: 0.5rem;
  .breadcrumb {
    margin: 0px 20px 0px 5px;
    fa-icon {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      font-size: 1.5rem;
    }

    span {
      font-size: 0.9rem;
    }
  }
  & .content {
    & .link-main {
      grid-template-columns: calc(39% - 15px) calc(30% - 15px) calc(30% - 15px);
      & .instructions-card {
        h2 {
          padding: 0.75rem 3.75rem 0 0.75rem;
          font-size: 1.5rem;
        }

        p {
          padding-left: 0.75rem;
        }
      }
      .instructions-card-layout {
        button {
          margin: 0rem 0 1rem 1.5rem;
        }
        .instructions-text {
          margin: 6.3rem 0 1rem 1.5rem;
        }
        & .instructions-container {
          padding: 0.75rem 0rem 0 0.75rem;
          h2 {
            margin-bottom: 0.25rem;
            font-size: 1rem;
          }
          ol,
          ul {
            margin-left: 0rem;
          }
          .list-item {
            padding-bottom: 0rem;
          }
        }
      }
      .card-styles {
        padding: 1rem;

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
          line-height: 1.5;
        }

        a {
          font-size: 0.9rem;
        }
        .linked-success {
          span {
            font-size: 14px;
          }
        }
      }

      .card-header-icon .card-icon {
        width: 1.8rem;
        height: 1.8rem;

        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  .card-body {
    img.logo {
      z-index: -1;
      -webkit-transform: none;
      transform: none;
      position: relative !important;
      height: 30px !important;
      width: 130px !important;
    }
    img.mini-logo {
      z-index: -1;
      -webkit-transform: none;
      transform: none;
      position: relative !important;
    }
  }
}

div.viewport-medium {
  & .content {
    & .link-main {
      & .instructions-card {
        h2 {
          padding: 1rem 0rem 0 1rem;
          font-size: 1.8rem;
        }

        p {
          padding-left: 1.5rem;
        }
      }
      .instructions-card-layout {
        button {
          margin: 0rem 0 1rem 1.5rem;
        }
        .instructions-text {
          margin: 5rem 0 1rem 1.5rem;
        }
        & .instructions-container {
          padding: 1rem 0rem 0 1rem;
          h2 {
            margin-bottom: 0.25rem;
          }
          ol,
          ul {
            margin-left: 0rem;
          }
          .list-item {
            padding-bottom: 0.25rem;
          }
        }
      }
      .card-styles {
        padding: 1rem;

        h2 {
          font-size: 1.25rem;
        }

        p {
          font-size: 0.8rem;
        }

        a {
          font-size: 0.9rem;
        }
      }

      .card-header-icon .card-icon {
        width: 2rem;
        height: 2rem;

        img {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }

  .card-body {
    img.logo {
      z-index: -1;
      -webkit-transform: none;
      transform: none;
      position: relative !important;
      height: 37px !important;
      width: 145px !important;
    }
    img.mini-logo {
      z-index: -1;
      -webkit-transform: none;
      transform: none;
      position: relative !important;
    }
  }
}

div.viewport-large {
  .link-main {
    .link-button {
      img.imgplant {
        height: 70% !important;
        width: 70% !important;
        object-position: -15px -80px !important;
      }

      .card-container {
        height: 70% !important;
        .auth-card-body {
          padding-bottom: 15px;
        }
      }
    }
  }
  .card-body {
    img.logo {
      z-index: -1;
      -webkit-transform: none;
      transform: none;
      position: relative !important;
      height: 42px !important;
      width: 170px !important;
    }
    img.mini-logo {
      z-index: -1;
      -webkit-transform: none;
      transform: none;
      position: relative !important;
    }
  }
}
