<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-alert
    *ngIf="accessRequestFailed"
    type="danger"
    icon="error_outline"
    iconType="outlined"
    heading="Error Requesting Access">
    <ng-container uiAlertContent>
      <p>
        Your request for access to Driver Medical Fitness could not be processed
        at this time. If this issue persists, contact
        <a uiAnchor scheme="mailto" [attr.href]="driverFitnessSupportEmail"></a>
        for assistance.
      </p>
    </ng-container>
  </ui-alert>

  <app-enrolment-error *ngIf="enrolmentError"></app-enrolment-error>

  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="Medical Practitioner Registration">
      <ng-container uiPageSectionSubheaderDesc>
        {{ completed ? 'Enrolment Complete.' : 'Confirm enrolment to Driver
        Fitness Practitioner Portal.' }}
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ng-container *ngIf="completed; else notCompleted">
    <ui-alert
      type="success"
      icon="check_circle"
      iconType="outlined"
      heading="Success!">
      <ng-container uiAlertContent>
        <p>
          Thank you for enrolling for your Driver Fitness Practitioner
          Portal.<br />
          To visit your application login
          <a uiAnchor [href]="medicalPractitionerPortalUrl">here</a>. You will
          need to login with your BC Services Card.
        </p>
        <section>
          <header>
            <h2>Would you like to endorse team members to help you?</h2>
          </header>
          <div class="endorsement-card">
            <h3>Endorsement</h3>
            <p>
              Request endorsement from the licenced practitioners yohu work with
              to gain access to systems.
            </p>
            <p>1 minute to complete</p>
            <div class="learn-more-row">
              <span id="driver-fitness-page-learn-more-label">Learn more</span>
              <button aria-labelledby="driver-fitness-page-learn-more-label">
                +
              </button>
            </div>
          </div>
        </section>
      </ng-container>
    </ui-alert>
  </ng-container>

  <ng-template #notCompleted>
    <ui-page-section>
      <p class="confirmation">
        You are about to enrol in “Driver Fitness Practitioner Portal.” Click
        Next to continue or cancel to go back to the overview page.
      </p>
    </ui-page-section>
  </ng-template>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      {{ completed ? 'Back Home' : 'Cancel Back Home' }}
    </button>

    <button
      *ngIf="!completed"
      mat-flat-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onRequestAccess()">
      Next
    </button>
  </ui-page-footer>
</ui-page>
