<div class="box container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <header>
    <h1 class="title">Enrolment</h1>
  </header>

  <div class="content">
    <!-- TODO: Extract this into a separate component or refactor ui-alert -->
    <section *ngIf="accessRequestFailed" class="alert">
      <h2>Error Requesting Access</h2>
      <p>
        Your request for access to Driver Medical Fitness could not be processed
        at this time. If this issue persists, contact
        <a uiAnchor scheme="mailto" [href]="driverFitnessSupportEmail"></a>
        for assistance.
      </p>
    </section>

    <app-enrolment-error *ngIf="enrolmentError"></app-enrolment-error>

    <ng-container *ngIf="completed; else notCompleted">
      <p class="thank-you">
        Thank you for enrolling for your Driver Fitness Practitioner Portal.<br />
        To visit your application login
        <a uiAnchor [href]="medicalPractitionerPortalUrl">here</a>. You will
        need to login with your BC Services Card.
      </p>
      <section class="endorsement-section">
        <header>
          <h2>Would you like to endorse team members to help you?</h2>
        </header>
        <div class="endorsement-card">
          <img class="endorsement-img" ngSrc="/assets/images/endorsements-card-320x320.jpg"
          alt="Endorsement" priority fill>
          <h3>Endorsement</h3>
          <p>
            Request endorsement from the licenced practitioners you work with to
            gain access to systems.
          </p>
          <p>1 minute to complete</p>
          <div class="endorsement-spacer"></div>
          <div class="learn-more-row">
            <span
              id="driver-fitness-page-learn-more-label"
              class="learn-more-label"
              >Learn more</span
            >
            <button
              class="learn-more-button"
              routerLink="/organization-info/endorsements"
              aria-labelledby="driver-fitness-page-learn-more-label">
              +
            </button>
          </div>
        </div>
      </section>
    </ng-container>

    <ng-template #notCompleted>
      <h2>Medical Practitioner Registration</h2>
      <p class="confirmation">
        Confirm enrolment to Driver Fitness Practitioner Portal
      </p>
      <p class="click-next">
        You are about to enrol in “Driver Fitness Practitioner Portal.” Click
        Next to continue or Cancel to go back to the overview page.
      </p>
    </ng-template>

    <div class="actions">
      <button
        *ngIf="!completed"
        mat-stroked-button
        uiPageFooterAction
        type="button"
        color="secondary"
        (click)="onBack()">
        Cancel
      </button>

      <button
        *ngIf="!completed"
        mat-flat-button
        uiPageFooterAction
        type="button"
        color="primary"
        (click)="onRequestAccess()">
        Enrol Now
      </button>
      <button
        *ngIf="completed"
        mat-stroked-button
        uiPageFooterAction
        type="button"
        color="secondary"
        (click)="onBack()">
        Back Home
      </button>
    </div>
  </div>
</div>
