<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-alert
    *ngIf="accessRequestFailed"
    type="danger"
    icon="error_outline"
    iconType="outlined"
    heading="Error Requesting Access">
    <ng-container uiAlertContent>
      <p>
        Your request for access to Driver Medical Fitness could not be processed
        at this time. If this issue persists, contact
        <a uiAnchor scheme="mailto" [attr.href]="driverFitnessSupportEmail"></a>
        for assistance.
      </p>
    </ng-container>
  </ui-alert>

  <app-enrolment-error *ngIf="enrolmentError"></app-enrolment-error>

  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="Medical Practitioner Registration">
      <ng-container uiPageSectionSubheaderDesc>
        {{ completed ? 'Enrolment Complete.' : 'Cheese ipsum.' }}
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ng-container *ngIf="completed; else notCompleted">
    <ui-alert
      type="success"
      icon="check_circle"
      iconType="outlined"
      heading="Success!">
      <ng-container uiAlertContent>
        <p>You may now log into the Portal.</p>
        <p>
          Log in:<br />
          <a uiAnchor [attr.href]="driverFitnessUrl"></a>
        </p>
      </ng-container>
    </ui-alert>
  </ng-container>

  <ng-template #notCompleted>
    <ui-page-section>
      <p class="hodor">
        Parmesan airedale bocconcini. Manchego paneer hard cheese cheese and
        wine camembert de normandie stilton fromage frais port-salut. Cheese
        triangles croque monsieur boursin goat cheddar everyone loves edam
        monterey jack. Bavarian bergkase rubber cheese jarlsberg. Cheese
        triangles cheese slices cheddar. Brie smelly cheese airedale mozzarella
        paneer mascarpone cheese slices st. agur blue cheese. Feta queso
        halloumi cheese triangles say cheese chalk and cheese goat who moved my
        cheese. Fromage frais fromage dolcelatte melted cheese cow ricotta
        cheese strings mascarpone. Cheese slices say cheese cheesy feet everyone
        loves.
      </p>
    </ui-page-section>
  </ng-template>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      {{ completed ? 'Back Home' : 'Cancel Back Home' }}
    </button>

    <button
      *ngIf="!completed"
      mat-flat-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onRequestAccess()">
      Next
    </button>
  </ui-page-footer>
</ui-page>
