<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-subheader icon="assignment_ind">
      Work and Role Information
    </ui-page-subheader>
    <p>
      Provide your work and role information for every facility you work for.
    </p>
  </ui-page-section>

  <ui-page-section>
    <ui-page-subheader>Job Title</ui-page-subheader>
    <p>Identify your job title(s).</p>
  </ui-page-section>

  <ui-page-section>
    <ui-page-subheader>Facility Information</ui-page-subheader>
    <p>Provide the following information.</p>
  </ui-page-section>

  <ui-page-section>
    <ui-page-subheader>Facility Address</ui-page-subheader>
    <p>Provide your work address.</p>
  </ui-page-section>

  <ui-page-section>
    <ui-page-subheader>Care Type Setting</ui-page-subheader>
    <p>Identify all of the work settings you work in.</p>
  </ui-page-section>

  <ui-page-footer>
    <button mat-stroked-button color="primary" type="button" routerLink="../">
      Back Home
    </button>
    <button mat-flat-button color="primary" type="submit" routerLink="../">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
