@use 'pidp-variables' as pidp;

// Set parent variables
.viewport-xsmall {
  --gap: 1rem;
  --font-size: 1rem;
  --card-header-font-size: calc(2 * var(--font-size));
  --card-header-line-height: calc(var(--card-header-font-size) + 0.5rem);
  --margin-style: 1.5rem;
}

.viewport-small,
.viewport-medium {
  --gap: 1.25rem;
  --font-size: 0.75rem;
  --card-header-font-size: unset;
  --card-header-line-height: unset;
  --margin-style: 0.75rem;
}

.viewport-large {
  --gap: 1.25rem;
  --font-size: 1rem;
  --card-header-font-size: inherit;
  --card-header-line-height: unset;
  --margin-style: 1.1rem;
}

// Set child variables
.viewport-all {
  --card-padding: calc(1 * var(--gap));
  --font-size-small: var(--font-size);
}

.viewport-small .viewport-medium,
.viewport-large {
  --font-size-small: calc(0.75 * var(--font-size));
}

.container.viewport-all {

  .content-header h3 {
    color: #4493B5;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word
  }

  .content-header h1 {
    color: #003366;
    font-size: 50px;
    font-weight: 700;
    word-wrap: break-word
  }

  .card-container {
    border-radius: 4px;
    border: 1px #CCCCCC solid;
    flex-direction: column;
    display: inline-flex;
    margin: var(--margin-style);
    padding: var(--card-padding);
    height: 185px;
  }

  & .card-header-text {
    color: #003366;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    float: right;
    width: 90%;
  }

  .card-header fa-icon {
    border: 1px solid #FCBA19;
    border-radius: 20px;
    padding: 5px;
  }

  // .card-header-icon {
  //   width: 10%;
  //   float: left;
  // }

  .card-body {
    padding: 15px 0px 0px 34px;
  }

  .div-search {
    width: 70%;
    // padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    float: right;
  }

  .search-content {
    position: relative;
    margin: 30px 45px 50px 0px;
    text-align: right;
  }

  .search-content input {
    width: 99%;
    padding: 10px;
    border: none;
  }

  .search-icon {
    padding: 10px;
    float: left;
    position: absolute;
  }

  .search-content button {
    position: absolute;
    right: 0;
    padding: 10px;
    width: 100px;
    border: none;
  }

  .search-content span {
    margin: 10px;
  }

  .search-content p {
    word-wrap: break-word
  }

  .back-to-top-container {
    position: fixed;
    bottom: 20px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-to-top {
    background-color: #38598A;
    color: #FFFFFF;
    width: 40PX;
    height: 40PX;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  .back-to-top-text {
    color: #38598A;
    font-size: 13px;
    word-wrap: break-word
  }

  .back-to-top:hover {
    background-color: #003366;
  }

  .breadcrumb ul {
    list-style: none;
    top: 0;
    right: 0;
    padding: 0px;

  }

  .breadcrumb ul li {
    display: inline;
  }

  .breadcrumb a {
    text-decoration: none;
    color: #1A5A96;
    font-size: 16px;
    font-family: BC Sans;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word
  }
}

.container.viewport-xsmall {
  .card-container {
    display: inline-flex;
    flex-direction: column;
    height: 235px;
  }

  .content-header {
    margin: 0px 20px 0px 20px;
  }

  .card-header-text {
    padding-left: 5px;
    width: 87%;
  }

  .content-header h1 {
    font-size: 40px;
  }

  .breadcrumb {
    margin: 0px 20px 0px 20px;
  }

  .search-content {
    margin: 30px 20px 70px 20px;
  }

  .div-search {
    width: 100%;
  }

  .card-body {
    padding: 15px 0px 0px 35px;
  }

  .search-content input {
    width: 100%;
  }

  .search-content button {
    width: 85px;
  }

  .back-to-top {
    width: 30PX;
    height: 30PX;
  }

  .back-to-top-text {
    font-size: 9px;
  }
}

.container.viewport-small {
  .card-container {
    display: inline-flex;
    flex-direction: column;
    width: 46%;
  }

  .content-header h1 {
    font-size: 40px;
  }

  .content-header {
    margin: 0px 20px 0px 20px;
  }

  .card-body {
    padding: 15px 0px 0px 30px;
  }

  .div-search {
    width: 100%;
  }

  .breadcrumb {
    margin: 0px 20px 0px 20px;
  }

  .search-content {
    margin: 30px 20px 70px 10px;
  }

  .back-to-top {
    width: 30PX;
    height: 30PX;
  }

  .back-to-top-text {
    font-size: 9px;
  }
}

.container.viewport-medium,
.container.viewport-large {
  .card-container {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    width: 30%;
  }

  .search-content {
    margin: 30px 37px 50px 20px;
  }
}

.container.viewport-medium {
  .card-body {
    padding: 40px 0px 0px 30px;
  }
  .card-container {
    height: 250px;
  }
  
  .card-header-text {
    padding-left: 5px;
    width: 89%;
  }
}