<div class="container" uiPidpInjectViewportCss>
  <div class="content-header">
    <h3>
      PRODUCTS
    </h3>
    <h1>
      Explore all the workplace tools available
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tortor eu nisi mollis tincidunt a blandit quis, tristique a justo. Curabitur eget aliquet libero. Nunc tincidunt augue vitae metus accumsan, ac ullamcorper orci viverra. In consequat lacus eu turpis lacinia, at imperdiet leo commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed a justo odio. Nullam dictum, quam eu mattis gravida, lacus purus gravida ligula, sit amet aliquet arcu mi sed purus. Aliquam rutrum mi quam, vitae pretium justo pharetra vel. Vivamus eget iaculis risus. Nulla ac nisl convallis, viverra neque sed, feugiat quam. Nulla vitae nibh quis elit congue porta. Mauris maximus orci non quam hendrerit viverra. Aliquam erat volutpat.
    </p>
  </div>
  <div class="search-content">
    <span>Total results: 7</span>
    <input matInput placeholder="search">
    <button type="button" mat-flat-button color="primary">Search</button>
  </div>

  <div class="card-container " >
    <div class="card ">
      <div class="card-header card-header-text">
        <fa-icon [icon]="faFileLines"></fa-icon> Special Authority e-forms
      </div>
      <div class="card-body">
        Enrol here for access to PharmaCare's Special Authority eForms application.
      </div>
    </div>
  </div>
  <div class="card-container" >
    <div class="card ">
      <div class="card-header card-header-text">

        <fa-icon [icon]="faFileLines"></fa-icon> provisional prescription renewal support
      </div>
      <div class="card-body">
        Enrol here for access to the Provincial Prescription Renewal Support Service eForm
      </div>
    </div>
  </div>
  <div class="card-container" >
    <div class="card ">
      <div class="card-header card-header-text">
        <fa-icon class="fa-light" [icon]="faFileLines"></fa-icon> BC Provider Account
      </div>
      <div class="card-body">
        A reusable credential for access to health data in BC.
      </div>
    </div>
  </div>
  <div class="card-container" >
    <div class="card ">
      <div class="card-header card-header-text">
        <fa-icon [icon]="faFileLines"></fa-icon> BC Provider Account
      </div>
      <div class="card-body">
        A reusable credential for access to health data in BC.
      </div>
    </div>
  </div>
  <div class="card-container" >
    <div class="card ">
      <div class="card-header card-header-text">
        <fa-icon [icon]="faFileLines"></fa-icon> BC Provider Account
      </div>
      <div class="card-body">
        A reusable credential for access to health data in BC.
      </div>
    </div>
  </div>
  <div class="card-container" >
    <div class="card ">
      <div class="card-header card-header-text">
        <fa-icon [icon]="faFileLines"></fa-icon> BC Provider Account
      </div>
      <div class="card-body">
        A reusable credential for access to health data in BC.
      </div>
    </div>
  </div>
  <div class="card-container" >
    <div class="card ">
      <div class="card-header card-header-text">
        <fa-icon [icon]="faFileLines"></fa-icon> BC Provider Account
      </div>
      <div class="card-body">
        A reusable credential for access to health data in BC.
      </div>
    </div>
  </div>
  <div>
    <button class="back-to-top" (click)="scrollToTop()">
      <fa-icon [icon]="faArrowUp"></fa-icon>
    </button>
  </div> 
  </div>
  


