<div class="box" uiPidpInjectViewportCss>
  <swiper-container
    class="swiper mySwiper"
    pagination-bulletClass=".bullet"
    pagination-bulletActiveClass=".bullet-active"
    pagination-clickable="true"
    navigation-prevE1=".prev"
    navigation-nextE1=".next">
    @for (slide of slideModels; track slide; let groupIndex = index) {
      <ng-container>
        <swiper-slide class="slide">
          @for (section of slide; track section; let categoryIndex = index) {
            <app-portal-card
            class="card"
            [section]="section"
            [isFirst]="groupIndex === 0 && categoryIndex === 0"
            [portalCategoryName]="portalCategoryName">
          </app-portal-card>
          }
        </swiper-slide>
      </ng-container>
    }

    <div class="next"></div>
    <div class="prev"></div>
    <div class="bullet"></div>
    <div class="bullet-active"></div>
  </swiper-container>
</div>
