<section class="box" uiPidpInjectViewportCss>
  <div class="content">
    <div class="icon-box">
      <img
        ngSrc="/assets/images/icons/account-image.svg"
        width="40"
        height="40"
        alt="Account Icon"
        priority />
    </div>
    <div class="name-box">
      <h3 class="name">{{ nameText }}</h3>
    </div>
  </div>
  <div class="second-row">
    <div class="school-box">
      <p *ngIf="collegeText">
        <span>{{ collegeText }}</span>
      </p>
    </div>
    <div class="extra-box-large">
      <p *ngIf="noticeText">
        <span>Status: {{ noticeText }}</span>
      </p>
      <p *ngIf="createdOnText">
        <span>Label: {{ createdOnText }}</span>
      </p>
    </div>
  </div>
  <div *ngIf="isCancelEnabled || isApproveEnabled" class="actions">
    <button
      *ngIf="isCancelEnabled"
      class="cancel"
      mat-stroked-button
      type="button"
      (click)="cancelClick.emit(id)">
      Cancel
    </button>
    <button
      *ngIf="isApproveEnabled"
      class="approve"
      mat-stroked-button
      type="button"
      (click)="approveClick.emit(id)">
      Approve
    </button>
  </div>
</section>
