<section class="box" uiPidpInjectViewportCss>
  <div class="content">
    <div class="icon-box">
      <img src="/assets/images/icons/account-image.svg" alt="Account Icon" />
    </div>
    <div class="name-box">
      <h3 class="name">{{ nameText }}</h3>
    </div>
  </div>
  <div class="second-row">
    <div class="school-box">
      @if (collegeText) {
        <p>
          <span>{{ collegeText }}</span>
        </p>
      }
    </div>
    <div class="extra-box-large">
      @if (noticeText) {
        <p>
          <span>Status: {{ noticeText }}</span>
        </p>
      }
      @if (createdOnText) {
        <p>
          <span>{{ createdOnText }}</span>
        </p>
      }
    </div>
  </div>
  @if (isCancelEnabled || isApproveEnabled) {
    <div class="actions">
      @if (isCancelEnabled) {
        <button
          class="cancel"
          mat-stroked-button
          type="button"
          tabindex="0" (keydown.enter)="cancelClick.emit(id)" (click)="cancelClick.emit(id)">
          Cancel
        </button>
      }
      @if (isApproveEnabled) {
        <button
          class="approve"
          mat-stroked-button
          type="button"
          tabindex="0" (keydown.enter)="approveClick.emit(id)" (click)="approveClick.emit(id)">
          Approve
        </button>
      }
    </div>
  }
</section>
