@use 'pidp-variables' as pidp;

// Set variables
h2,
h3,
label,
span,
p {
  font-family: pidp.$bcgov-font-family;
}

.viewport-all {
  --icon-font-size: 2.5rem;
  --notice-font-size: 0.75rem;
  --created-font-size: 0.75rem;
  --gap: 1rem;
}
.viewport-large,
.viewport-medium,
.viewport-small {
  --gap: 1.25rem;
}

// Begin layout
.viewport-all {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px pidp.$grey-30;
  border-radius: 4px;
  max-width: 23.3125rem;
  padding: 1.25rem;
  height: 100%;

  & .content {
    margin-bottom: var(--gap);
    & .icon-box {
      padding: 0 var(--gap);
      border: 2px solid #fcba19;
      border-radius: 50%;
      width: 3.75rem;
      height: 3.75rem;
      margin-right: 1rem;
    }
    & h3 {
      margin: var(--gap) var(--gap) var(--gap) 0;
      color: #036;
      font-size: 1.125rem;
      font-weight: 700;
      // Ensure long email addresses will wrap instead of making the card wider.
      word-break: break-all;
    }
  }
  & .second-row {
    margin-bottom: 1.75rem;
    & .school-box {
      color: #313132;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2rem;
    }
    & .extra-box-large {
      & .notice-box {
        padding: 0 var(--gap);
        font-size: var(--notice-font-size);
        text-align: center;
        &.notice-green {
          background-color: pidp.$green;
          color: #fff;
        }
        &.notice-yellow {
          background-color: pidp.$yellow;
          color: #fff;
        }
        &.notice-red {
          background-color: pidp.$red;
          color: #fff;
        }
      }
      & .created-box {
        font-size: var(--created-font-size);
        text-align: center;
      }
    }
    & .extra-box-xsmall {
      padding-top: var(--gap);
      & .notice-green {
        color: pidp.$green;
      }
      & .notice-yellow {
        color: pidp.$yellow;
      }
      & .notice-red {
        color: pidp.$red;
      }
      & fa-icon {
        margin-right: calc(var(--gap) / 2);
      }
    }
  }
  & .actions {
    display: flex;
    justify-content: space-between;

    & button.cancel,
    & button.approve {
      color: #036;
      gap: var(--gap);
      border-radius: 0.25rem;
      border: 1px solid #036;
      background: #fff;
      max-width: 8.25rem;
    }
  }
}

// mobile layout
.viewport-xsmall {
  max-width: 25.3125rem;
  & .content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    & .icon-box {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .spacer-left {
      grid-column: 1;
      grid-row: 2/4;
    }
    & .name-box {
      grid-column: 2;
      grid-row: 1;
      display: flex;
      align-items: center;
    }
    & .school-box {
      grid-column: 2;
      grid-row: 2;
    }
    & .extra-box-xsmall {
      grid-column: 2;
      grid-row: 3;
    }
    & .extra-box-large {
      display: none;
    }
  }
}
// larger format layout
.viewport-large,
.viewport-medium,
.viewport-small {
  & .content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;

    & .icon-box {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .spacer-left {
      grid-column: 1;
      grid-row: 2;
    }
    & .name-box {
      grid-column: 2;
      grid-row: 1;
      display: flex;
      align-items: center;
    }
    & .school-box {
      grid-column: 2/4;
      grid-row: 2;
    }
    & .extra-box-xsmall {
      display: none;
    }
    & .extra-box-large {
      grid-column: 3;
      grid-row: 1;
    }
  }
}
