<div class="container breadcrumb-top" uiPidpInjectViewportCss>
  <nav class="breadcrumb">
    <ul>
      <li>
        <a (click)="onBack()">Home</a>
      </li>
      <li>
        <a class="fa-duotone">
          <fa-icon [icon]="faAngleRight">
          </fa-icon>
        </a>
      </li>
      <li>
        <a>
          College Licence
        </a>
      </li>
    </ul>
  </nav>
</div>
<div *ngIf="showCollegeLicenceDeclarationPage">
  <app-college-licence-declaration [disableCollegeCode]=true [disableCollegeLicenceNumber]=true>
  </app-college-licence-declaration>
</div>
<section class="component-container container section-top" uiPidpInjectViewportCss>
  <div *ngIf="!showCollegeLicenceDeclarationPage">
    <h3 class="college-licence">
      College licence information
    </h3>
    <p class="college-licence-text">
      Here you can view your licence information and status.
      <span>
        <p>
          If any of this information is incorrect, please contact your regulatory college.
        </p>
      </span>
    </p>
  </div>
S  <section *ngFor="let alert of alerts" class="alert-box section-box">
    <app-portal-alert
      [heading]="alert.heading"
      [content]="alert.content"></app-portal-alert>
  </section>
  <div class="licences-box">
    <div
      *ngFor="let certification of collegeCertifications$ | async">
      <div class="card-styles">
        <div class="card-header-icon">
          <div class="card-icon">
            <img
              src="/assets/images/college-licence-logo.svg"
              alt="college-licence-logo" />
          </div>
        </div>
        <div class="licence-detail-box">
          <h2>College information</h2>
          <div class="licence-detail-content">
            <app-college-licence-information-detail
              class="licence-detail"
              labelText="Identifier Type:"
              [valueText]="certification.identifierType"></app-college-licence-information-detail>
              <div
                class="status-active" *ngIf="certification.statusCode==='ACTIVE'">
                <label>Status Code:</label>
                <span>Active</span>
                <img
                  src="/assets/images/icons/icon-check-circle.svg"
                  alt="check circle"
                />
              </div>
              <div
                class="status-non-active" *ngIf="certification.statusCode !=='ACTIVE'">
                <label>Status Code:</label>
                <span>{{certification.statusCode}}</span>
              </div>
            <app-college-licence-information-detail
              class="licence-detail"
              labelText="College ID:"
              [valueText]="certification.collegeId"></app-college-licence-information-detail>
            <app-college-licence-information-detail
              class="licence-detail"
              labelText="Status Start Date:"
              [valueText]="certification.statusStartDate"></app-college-licence-information-detail>
            <app-college-licence-information-detail
              class="licence-detail"
              labelText="Provider Role Type:"
              [valueText]="certification.providerRoleType"></app-college-licence-information-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <span>
      <button mat-stroked-button type="button" (click)="onBack()" color="primary">
        Home
      </button>
    </span>
  </div>

</section>
