@use 'pidp-variables' as pidp;

$lightgrey: #f2f2f2;
$darkgrey: pidp.$bcgov-color-text;

.viewport-all {
  flex: 1;
  .header {
    background-color: $lightgrey;
  }

  .breadcrumb-top {
    padding-bottom: 0 !important;
  }
  .breadcrumb ul {
    list-style: none;
    top: 0;
    right: 0;
    padding: 0;
  }

  .breadcrumb fa-icon {
    height: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .breadcrumb ul li {
    display: inline;
  }

  .breadcrumb a,
  .text-button {
    text-decoration: none;
    color: pidp.$bcgov-color-button-focus-outline;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
  }

  & .college-licence {
    padding: var(--box-padding);
    color: pidp.$bcgov-color-primary;
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 20px;
  }

  & .actions {
    margin-top: 20px;
    margin-bottom: 4rem;
    & button {
      margin-top: 1rem;
      width: 75px;
    }
  }
  padding: 1.25rem 0.75rem 0 0;

  .card-header-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lock-icon {
      cursor: pointer;
    }
    .card-icon {
      display: flex;
      border-radius: 0.625rem;
      border: 1px solid rgba(0, 51, 102, 0.2);
      width: 2.5rem;
      height: 2.5rem;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  & .licences-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .licences-licence-box {
      border: solid 1px $darkgrey;
      border-radius: 4px;
      & .licence-icon-box {
        background-color: $lightgrey;
        border-radius: 4px;
      }
    }

    & .card-styles {
      border-radius: 1.25rem;
      border: 1px solid #ccc;
      background: #fff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      width: 37rem;
      padding: 1.25rem;

      h2 {
        color: pidp.$bcgov-color-primary;
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 0.25rem;
        margin-bottom: 0;
      }
    }
  }
  .status-active {
    display: flex;
    justify-content: start;
    align-items: center;

    span {
      color: pidp.$bcgov-color-semantic-success;
      font-size: 16px;
      font-weight: 700;
      margin-right: 5px;
    }

    label {
      font-weight: 700;
      margin-right: 5px;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .status-non-active {
    display: flex;
    justify-content: start;
    align-items: center;

    span {
      color: red;
      font-size: 16px;
      font-weight: 700;
      margin-right: 5px;
    }

    label {
      font-weight: 700;
      margin-right: 5px;
    }
  }
}
.viewport-large,
.viewport-medium,
.viewport-small {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding-left: 0 !important;
  & .header {
    padding: 6px 20px;
  }
  & .info-box {
    margin: 10px 0;
    & .info-here {
      margin-bottom: 6px;
    }
  }

  & .licence-detail-content {
    flex: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3px;
  }
}

.viewport-xsmall {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  padding-left: 0 !important;
  padding-bottom: 0;
  padding-top: 0 !important;
  & .header {
    padding: 6px 20px;
  }

  & .breadcrumb {
    margin-left: 12px !important;
  }
  & .college-licence {
    padding: var(--box-padding);
    color: pidp.$bcgov-color-primary;
    margin-left: 15px;
    font-weight: 600;
    font-size: 25px !important;
    padding-bottom: 0 !important;
  }

  & .college-licence-text {
    padding-left: 1rem;
  }

  & .section-top {
    padding-top: 0;
  }

  & .info-box {
    margin: 5px 0;
    padding: 0 15px;
    & .info-here {
      margin-bottom: 6px;
    }
  }
  & .licences-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
    & .licences-licence-box {
      display: flex;
      flex-direction: column;
      & .licence-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        & .licence-icon-image {
          font-size: 36px;
        }
      }

      & .licence-detail-box {
        flex: 1;
        padding: 20px 15px;
        display: flex;
        align-items: center;

        & .licence-detail-content {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  & .licence-detail-content {
    flex: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3px;
  }

  & .card-styles {
    padding: 1rem;
    width: auto !important;
    height: 21rem !important;
    h2 {
      font-size: 1.25rem;
    }
  }

  & .actions {
    margin-left: 1rem;
  }
}
