<ui-dashboard-header [theme]="theme"></ui-dashboard-header>

<ui-page>
  <ui-alert
    *ngIf="loginCancelled"
    type="info"
    icon="error_outline"
    title="Login Cancelled">
    <ng-container uiAlertContent>
      <p>You have canceled your login to the Provider Identity Portal.</p>
      <ul>
        <li>
          For support with the provider identity portal, please contact
          <a [attr.href]="'mailto:' + pidpSupportEmail">{{
            pidpSupportEmail
          }}</a>
        </li>
        <li>
          For support with your BC Services Card, please click
          <a
            target="_blank"
            rel="noopener noreferrer"
            [attr.href]="bcscSupportUrl">
            here</a
          >.
        </li>
      </ul>
    </ng-container>
  </ui-alert>

  <button mat-stroked-button color="primary" (click)="onLogin()">Login</button>
</ui-page>
