@use 'pidp-variables' as pidp;

h1,
h2,
p,
span {
  font-family: pidp.$bcgov-font-family;
  color: pidp.$bcgov-color-text;
  box-sizing: border-box;
}
a,
button.pidp-btn-link {
  color: pidp.$bcgov-color-links;
}
.viewport-all {
  & .welcome-section {
    & .title-content-container {
      display: flex;
      flex-direction: column;
    }
    & .login-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;

      & .login-container-app-button {
        display: flex;

        & .login-app-button {
          margin-left: auto;
          margin-right: auto;
          color: #ffffff;
          background-color: pidp.$bcgov-color-primary;
        }
      }

      & .login-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        & .login-setup {
          margin-right: auto;
          margin-left: auto;
        }

        & .login-continue-with {
          margin-bottom: 10px;
          margin-left: auto;
          margin-right: auto;

          & .login-continue-with-container {
            margin-left: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;

            & .other-login-button {
              margin: 5px;
              border: none;
            }
          }
        }
      }

      & .other-login-panel {
        & .login-secondary-container {
          & button.login-button-secondary {
            margin-bottom: 20px;
            padding: 10px 15px;
            border-color: pidp.$bcgov-color-primary;
            white-space: pre-wrap;
            line-height: 1.6;
          }
        }

        & .login-with-idir {
          display: flex;
          & small {
            margin-right: auto;
            margin-left: auto;
          }
        }
      }
    }
  }
}

// NOTE: Layout for small/medium is refined further below.
.viewport-small,
.viewport-medium,
.viewport-large {
  flex: 1;
  display: flex;
  justify-content: center;
  & .content-container {
    // NOTE: This section will always show as 2 columns in desktop (= no wrapping).
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: pidp.$bcgov-color-background-grey;

    & .background-image-container {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;

      img {
        object-fit: cover;
      }
    }

    & .welcome-section {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;

      & .welcome-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        border: 3px solid pidp.$mediumgrey;
        padding: 50px;
        border-radius: 10px;
        gap: 20px;
        background-color: #fff;

        & .title-content-container {
          & h1.title {
            text-align: center;
          }
        }

        & .login-container-app-button {
          & button.login-app-button {
            border-radius: 8px;
            padding: 8px 15px;
            font-size: 14px;
            font-weight: 700;

            &:hover {
              text-decoration: underline;
              opacity: 0.8;
            }
            &:focus {
              outline: 4px solid pidp.$bcgov-color-button-focus-outline;
              outline-offset: 1px;
            }
            &:active {
              background-color: #ffffff;
            }
          }
        }
        & .login-secondary-container {
          display: flex;
          gap: 20px;

          & button.login-button-secondary {
            border-radius: 8px;
            padding: 12px;
            width: 150px;
            flex: 1;

            &:hover {
              opacity: 0.8;
              text-decoration: underline;
              background-color: pidp.$bcgov-color-primary;
              color: #ffffff;
            }
            &:focus {
              outline-offset: 1px;
              outline: 4px solid pidp.$bcgov-color-button-focus-outline;
            }
            &:active {
              opacity: 1;
            }
          }
        }
      }
    }

    & .links {
      display: flex;
      justify-content: space-evenly;
      flex-grow: 1;
      margin-top: 30px;
      i {
        padding-left: 10px;
      }
      & .about a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }
  }
}

.viewport-large {
  & .content-container {
    .welcome-section {
      margin-top: 8% !important;
    }
  }
}

.viewport-medium {
  & .content-container {
    .welcome-section {
      margin-top: 13% !important;
    }
  }
}

// Adjust sizing for small screens.
.viewport-small {
  & .content-container {
    // Total width including padding is 640px.
    gap: 0;
    flex: 1;
    flex-direction: column;
    & .background-image-container {
      max-height: 250px;
      min-height: 250px;
      flex-direction: row;
    }

    & .welcome-section {
      width: auto;
      margin-top: 30px;
      flex-direction: row;

      .welcome-section-container {
        display: flex;
        flex-direction: column;

        & .welcome-container {
          & .login-content {
            & button {
              font-size: 0.65em;
              border-radius: 12px;
              padding: 0 10px;
            }
            & button.login-app-button {
              padding: 0 24px;
              font-size: 0.65em;
            }
            & .login-setup {
              margin-top: 6px;
              margin-bottom: 0;
              font-size: 0.85em;
            }
            & .login-continue-with {
              margin-bottom: 10px;

              & .login-continue-with-text {
                font-size: 1.05em;
              }
            }
          }
          & .login-secondary-container {
            padding: 0 10px;
            gap: 6px;
            flex-direction: column;
            & button.login-button-secondary {
              margin-bottom: 10px;
              padding: 6px 10px;
              width: auto;
            }
          }
          & .login-with-idir {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}

// This section is optimized for iPhone SE
.viewport-xsmall {
  flex: 1;
  & .content-container {
    & .background-image-container {
      height: 0;
      width: 0;

      img {
        display: none;
        width: 0;
      }
    }
    & .title-container {
      position: relative;
      min-height: 280px;
      display: flex;
      justify-content: center;
      .title-img {
        z-index: -1;
      }
    }
    & .welcome-section {
      & .login-container {
        margin-top: 30px;

        & .login-content {
          & button {
            font-size: 1em;
          }
          & button.login-app-button {
            padding: 15px 25px;
          }
          & .login-setup {
            font-size: 1em;
          }
          & .login-continue-with {
            & .login-continue-with-text {
              font-size: 1em;
            }
          }
        }

        & .login-secondary-container {
          display: flex;
          flex-direction: column;
        }
      }
      & .links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        & .about a {
          display: flex;
          align-items: center;
          text-decoration: none;
          justify-content: center;
        }
      }
    }
  }
}

.admin-container {
  display: flex;
  flex-direction: column;
  & button {
    margin: 0 auto;
  }
  & img {
    margin: 3rem auto;
    width: 275px;
    height: auto;
  }
}
