<ui-dashboard-header></ui-dashboard-header>

<div class="container">
  <ng-container *ngIf="idpHint === IdentityProvider.BCSC; else IDIR">
    <!-- TODO complete throw away until a UX/UI provided -->
    <div class="bcsc">
      <div class="grid-container-1">
        <div class="row justify-content-center">
          <div *ngIf="loginCancelled" class="col-12 col-lg-8">
            <ui-alert
              type="info"
              icon="error_outline"
              heading="Login Cancelled">
              <ng-container uiAlertContent>
                <p>
                  You have cancelled your login to the Provider Identity Portal.
                </p>
                <ul>
                  <li>
                    For support with the provider identity portal, contact
                    <ui-anchor
                      scheme="mailto"
                      [href]="providerIdentitySupportEmail"></ui-anchor>
                  </li>
                  <li>
                    For support with your BC Services Card, click
                    <ui-anchor [href]="bcscSupportUrl">here</ui-anchor>
                  </li>
                </ul>
              </ng-container>
            </ui-alert>
          </div>
        </div>
        <div class="logo-title-group">
          <div class="pidp-logo">
            <img
              src="/assets/images/pidp-logo-white.svg"
              alt="Provider Identity Portal Logo" />
          </div>
          <div class="title-group">
            <div class="pidp-title">
              <h1>{{ title }}</h1>
            </div>
            <div class="pidp-subheader">
              <span>
                A portal for health care professionals in British Columbia to
                enrol for access to participating health systems
              </span>
            </div>
          </div>
        </div>
        <br />

        <button mat-flat-button color="primary" (click)="onLogin()">
          Login with the BC Services Card app
        </button>
        <p class="subtext">
          Need an account?
          <ui-anchor [href]="bcscMobileSetupUrl">Register</ui-anchor>
        </p>
        <button mat-flat-button color="primary" (click)="onLogin()">
          Login with your PHSA Active Directory
        </button>
      </div>
      <div class="grid-container-3">
        <div class="">
          <h2>Get Support</h2>
        </div>
        <div class="col-12 col-lg-8">
          <ul>
            <li>
              <p>
                Questions about the Provider Identity Portal should be directed
                to:
                <ui-anchor
                  scheme="mailto"
                  [href]="providerIdentitySupportEmail"></ui-anchor>
              </p>
            </li>
            <li>
              <p>
                Questions about Special Authority eForms should be directed to:
                <ui-anchor
                  scheme="mailto"
                  [href]="specialAuthoritySupportEmail"></ui-anchor>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <ui-page-section class="grid-container-2">
        <div class="systems">
          <h3 class="systems-heading">Systems Available</h3>
        </div>

        <div class="systems-available">
          <h3 class="sae-heading">Special Authority eForms</h3>
          <div>
            B.C. healthcare professionals can enrol for access to PharmaCare’s
            Special Authority eForms application.<br /><br />
            You need to set up the
            <ui-anchor [href]="bcscMobileSetupUrl"
              >BC Services Card app</ui-anchor
            >
            to enrol. You will use the app each time you access the eForms
            application. If you are not eligible for the BC Services Card, or
            cannot set up the app, you can
            <ui-anchor scheme="mailto" [href]="specialAuthoritySupportEmail">
              submit SA requests by fax.</ui-anchor
            >
          </div>
        </div>
      </ui-page-section>
    </div>
  </ng-container>

  <ng-template #IDIR>
    <div class="row idir">
      <div class="col-12">
        <img
          src="/assets/images/pidp-logo-white.svg"
          alt="Provider Identity Portal Logo" />
      </div>
      <div class="col-12">
        <button mat-flat-button color="primary" (click)="onLogin()">
          {{ idpHint | uppercase }} Login
        </button>
      </div>
    </div>
  </ng-template>
</div>
