@use '@angular/material' as mat;
@use 'material/material-variables' as var;

@use 'palette' as palette;
@import 'bootstrap/bootstrap-imports';

.container {
  padding-top: 3rem;
  padding-bottom: 1rem;
  max-width: 845px;

  @include media-breakpoint-up(xxl) {
    max-width: 1290px;
  }
}

//
// BCSC Login
//

.header,
.actions,
.systems,
.support {
  margin-bottom: 3rem;
}

.header {
  display: flex;

  img {
    display: none;
  }

  @media (min-width: 645px) {
    img {
      display: block;
    }

    span {
      // Repositioning of text with image
      margin-top: 2rem;
      margin-left: 2rem;
    }
  }

  p {
    margin-top: -1.5rem;

    @include media-breakpoint-up(sm) {
      width: 425px;
    }
    @include media-breakpoint-up(md) {
      width: 500px;
    }
    @include media-breakpoint-up(lg) {
      width: 600px;
    }
  }
}

.actions {
  small {
    display: block;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }

  button {
    font-size: 1.2rem;
    padding: 0.75rem 1.2rem;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding: 0.75rem 1rem;
      width: auto;
    }
    @include media-breakpoint-up(lg) {
      padding: 0.75rem 1.75rem;
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;

    span:first-child {
      padding-right: 2rem;
    }
  }
}

.support {
  padding: 1rem 0;
  max-width: 425px;

  li {
    margin-bottom: 1.2rem;
  }
}

.systems {
  $border: 3px solid palette.theme-palette(blue);
  border: $border;
  border-radius: 5px;

  h2 {
    text-align: right;
    border-bottom: $border;
  }

  h2,
  div {
    padding: 1rem 1.5rem;
  }

  @include media-breakpoint-up(xxl) {
    max-width: 450px;
  }
}

@include media-breakpoint-down(xxl) {
  .hide-on-small-viewports {
    display: none;
  }
}

@include media-breakpoint-up(xxl) {
  .hide-on-large-viewports {
    display: none;
  }
}

.idir {
  & > div {
    text-align: center;
  }

  img {
    margin-bottom: 3rem;
  }
}
