<ui-page-v2>
  <span page-v2-title></span>
  <div class="login-container" uiPidpInjectViewportCss>
    <header *ngIf="isMobileTitleVisible" class="title-container">
      <h1 class="title">
        <span class="title-text">
          <span class="title-provider">Provider</span>
          <span class="title-portal">Identity Portal</span>
        </span>
      </h1>
    </header>
    <header *ngIf="isWebTitleVisible" class="title-container">
      <div class="title-content-container">
        <h1 class="title">
          <span class="title-text">Provider<br />Identity Portal</span>
        </h1>
        <section class="title-site-description">
          <p>
            A portal for healthcare professionals in British Columbia to enrol
            for access to participating health systems
          </p>
        </section>
        <section class="title-bcgov">
          <div class="title-bcgov-logo">
            <picture>
              <source
                type="image/webp"
                srcset="/assets/images/BC_HLTH_H_RGB_rev.webp" />
              <source
                type="image/png"
                srcset="/assets/images/BC_HLTH_H_RGB_rev.png" />
              <img
                title="BC Government Logo"
                loading="lazy"
                aria-label="BC Ministry of Health Logo" />
            </picture>
          </div>
        </section>
      </div>
    </header>
    <section class="welcome-section">
      <div class="welcome-container">
        <div *ngIf="isPidpLogoVisible" class="welcome-pidp-logo">
          <img
            src="/assets/images/pidp-logo-blue.svg"
            title="PIDP Logo"
            loading="lazy"
            aria-label="PIDP Logo" />
        </div>
        <h1 id="welcome" class="welcome-title">Welcome</h1>
        <ng-container *ngTemplateOutlet="login"></ng-container>
      </div>
    </section>
    <section class="systems-section">
      <h1 class="systems-title">Systems Available</h1>
      <ng-container *ngTemplateOutlet="systems"></ng-container>
    </section>
  </div>
</ui-page-v2>

<ng-template #login>
  <div class="login-container">
    <div class="login-content">
      <button class="login-app-button" mat-stroked-button (click)="onLogin()">
        Login with the BC Services Card app
      </button>
      <div class="login-setup">
        <small>
          Don't have an account?
          <a uiAnchor [attr.href]="bcscMobileSetupUrl">Set up</a>
        </small>
      </div>

      <div class="login-continue-with">
        <div class="login-line-container">
          <hr class="login-line" />
        </div>
        <span class="login-continue-with-text">Or continue with</span>
        <div class="login-line-container">
          <hr class="login-line" />
        </div>
      </div>

      <div class="login-secondary-container">
        <button
          class="login-button-secondary"
          mat-stroked-button
          (click)="onLogin(IdentityProvider.PHSA)">
          Login with your Health Authority ID
        </button>

        <button
          class="login-button-secondary"
          mat-stroked-button
          (click)="onLogin(IdentityProvider.IDIR)">
          Login with your IDIR
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #systems>
  <div class="systems-container">
    <div class="systems-content">
      <app-auth-system-card
        class="systems-card"
        titleText="Special Authority eForms"
        imageTitleText=""
        [headerColor]="hcimWebHeaderColor"
        [webpImageUrls]="['/assets/images/login-laptop-mobile-1200x200.webp', '/assets/images/login-laptop-medium-141x302.webp', '/assets/images/login-laptop-medium-141x302.webp', '/assets/images/login-laptop-desktop-280x600.webp']"
        [jpegImageUrls]="['/assets/images/login-laptop-mobile-1200x200.jpg', '/assets/images/login-laptop-medium-141x302.jpg', '/assets/images/login-laptop-medium-141x302.jpg', '/assets/images/login-laptop-desktop-280x600.jpg']">
        <ng-container *ngTemplateOutlet="pharmacareEforms"></ng-container>
      </app-auth-system-card>
      <app-auth-system-card
        class="systems-card"
        titleText="HCIMWeb Account Transfer"
        imageTitleText=""
        headerColor="white"
        [webpImageUrls]="['/assets/images/login-people-mobile-1200x200.webp','/assets/images/login-people-medium-141x302.webp','/assets/images/login-people-medium-141x302.webp','/assets/images/login-people-desktop-280x600.webp']"
        [jpegImageUrls]="['/assets/images/login-people-mobile-1200x200.jpg','/assets/images/login-people-medium-141x302.jpg','/assets/images/login-people-medium-141x302.jpg','/assets/images/login-people-desktop-280x600.jpg']">
        <ng-container *ngTemplateOutlet="hcimWeb"></ng-container>
      </app-auth-system-card>
      <ng-container *ngTemplateOutlet="comingSoon"></ng-container>
    </div>
  </div>
</ng-template>
<ng-template #pharmacareEforms>
  <div class="card-content card-pharmacare">
    <p>
      B.C. healthcare professionals can enrol for access to PharmaCare's Special
      Authority eForms application.
    </p>
    <p>
      You need to set up the
      <a uiAnchor [attr.href]="bcscMobileSetupUrl"> BC Services Card app </a>
      to enrol. You will use the app each time you access the eForms
      application. If you are not eligible for the BC Services Card, or cannot
      set up the app, you can
      <a uiAnchor [attr.href]="specialAuthorityUrl">
        submit SA requests by fax</a
      >.
    </p>
  </div>
</ng-template>
<ng-template #hcimWeb>
  <div class="card-content card-hcimweb">
    <p>For existing users of the HCIMWeb Application.</p>
    <div class="hcimweb-arrows">
      <mat-icon>swap_horiz</mat-icon>
    </div>
  </div>
</ng-template>
<ng-template #comingSoon>
  <div class="card-content card-coming-soon">
    <header>
      <div class="coming-soon-header-content">
        <div><h2>Coming Soon</h2></div>
        <div>
          <mat-icon class="material-icons-outlined">verified</mat-icon>
        </div>
      </div>
    </header>
    <div class="coming-soon-text-container">
      <div class="coming-soon-text">
        <p>
          For private clinics in the Fraser Health Authority region: Enrolment
          to Microsoft Teams for Clinical Use and Unifying Clinical Information
          (UCI) Viewer.
        </p>
      </div>
    </div>
  </div>
</ng-template>
