@use 'pidp-variables' as pidp;
@import 'bootstrap/bootstrap-imports';

* {
  box-sizing: border-box;
}
h2,
label,
p {
  font-family: pidp.$bcgov-font-family;
}

// Set gap depending on viewport.
.viewport-xsmall {
  --gap: 1rem;
}
.viewport-large,
.viewport-medium,
.viewport-small {
  --gap: 1.25rem;
}

// Use gap to set css.
.viewport-all {
  --box-padding: 0;
  --content-padding: 0 0 var(--gap);
  --care-team-text-padding: var(--gap) var(--gap) 0;
  --tab-content-flex-direction: column;
  --endorsement-request-item-padding: 0 var(--gap);
  --endorsement-form-field-width: 100%;
}
.viewport-large {
  --box-padding: calc(2 * var(--gap)) 0;
  --content-padding: 0;
  --care-team-text-padding: var(--gap) 0;
  --tab-content-flex-direction: unset;
  --endorsement-request-item-padding: unset;
  --endorsement-form-field-width: 30rem;
}
.viewport-medium {
  --box-padding: var(--gap) 0;
  --content-padding: 0;
  --care-team-text-padding: var(--gap) 0;
  --tab-content-flex-direction: unset;
  --endorsement-request-item-padding: unset;
  --endorsement-form-field-width: 30rem;
}
.viewport-small {
  --box-padding: 0 0 var(--gap);
  --content-padding: 0 var(--gap);
  --care-team-text-padding: var(--gap) 0;
  --tab-content-flex-direction: unset;
  --endorsement-request-item-padding: unset;
  --endorsement-form-field-width: 30rem;
}
.viewport-all {
  padding: var(--box-padding);
  & .content {
    padding: var(--content-padding);
    & header {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      padding: calc(var(--gap) / 2) var(--gap);
      background-color: pidp.$page-header-background-color;
      & h2 {
        margin: 0;
      }
      & mat-icon {
        margin-left: calc(var(--gap) / 2);
      }
    }
    & .care-team {
      & .care-team-text {
        padding: var(--care-team-text-padding);
        & .large {
          font-size: 1.25rem;
        }
      }
      & .care-team-tabs {
        min-height: 10rem;
      }
      & .tab-label-box {
        display: flex;
        align-items: center;
        opacity: 1;
        & .badge {
          margin-left: 0.5rem;
          font-size: 0.5rem;
          border-radius: 0.5rem;
          background-color: pidp.$red;
          color: #fff;
          width: 1rem;
          height: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      & .tab-content {
        padding: var(--gap);
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        flex-direction: var(--tab-content-flex-direction);

        & .endorsement-card {
            flex-basis: calc((100% - (var(--gap))) / 2);
        
            @include media-breakpoint-up(lg) {
              flex-basis: calc((100% - (var(--gap))) / 3);
            }
        
            display: flex;
          }
      }
    }
    & .endorsement-request {
      & header {
        margin: calc(2 * var(--gap)) 0 var(--gap);
      }
      & p,
      & h3 {
        padding: var(--endorsement-request-item-padding);
      }
      & mat-form-field {
        padding: var(--endorsement-request-item-padding);
        width: var(--endorsement-form-field-width);
      }
    }
    & .actions {
      display: flex;
      padding: var(--endorsement-request-item-padding);
      & button:not(:first-of-type) {
        margin-left: var(--gap);
      }
    }
  }
}
