@use 'pidp-variables' as pidp;
@import 'bootstrap/bootstrap-imports';

h2,
label,
p {
  font-family: pidp.$bcgov-font-family;
}

// Set gap depending on viewport.
.viewport-xsmall,
.viewport-large,
.viewport-medium,
.viewport-small {
  --gap: 1rem;
}

// Use gap to set css.
.viewport-all {
  --box-padding: 0;
  --content-padding: 0 0 var(--gap);
  --care-team-text-padding: var(--gap) var(--gap) 0;
  --tab-content-flex-direction: row;
  --endorsement-request-item-padding: 0 var(--gap);
  --endorsement-form-field-width: 38.375rem;
  padding: 1.25rem 0.75rem;

  & .content {
    padding: var(--content-padding);
    & header {
      & h3 {
        color: #4493b5;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
      & h1 {
        color: #036;
        font-size: 3.125rem;
        font-weight: 700;
        margin-bottom: 0;
      }
      & mat-icon {
        margin-left: calc(var(--gap) / 2);
      }
    }
    & .care-team {
      & .care-team-text {
        padding: var(--care-team-text-padding) 0;
        color: #313132;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6875rem;
      }
      & .care-team-tabs {
        min-height: 10rem;
      }
      & .tab-label-box {
        display: flex;
        align-items: center;
        opacity: 1;
        color: #000;
        font-size: 1.125rem;
        & .badge {
          margin-left: 0.5rem;
          font-size: 0.5rem;
          border-radius: 0.5rem;
          background-color: pidp.$red;
          color: #fff;
          width: 1rem;
          height: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      & .tab-content {
        padding: var(--gap);
        gap: var(--gap);
        display: grid;
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
      }
    }
    & .endorsement-request {
      & header {
        margin: calc(2 * var(--gap)) 0 var(--gap);
      }
      & mat-form-field {
        max-width: var(--endorsement-form-field-width);
        width: 100%;
      }
    }
    & .actions {
      margin-top: 2rem;
      button {
        border-radius: 0.25rem;
        border: 2px solid #036;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.0625rem;
      }
      & button:not(:first-of-type) {
        margin-left: var(--gap);
      }
    }
  }
}
.viewport-large {
  --tab-content-flex-direction: row;
  & .content {
    & .care-team {
      & .tab-content {
        grid-template-columns: calc(33% - 15px) calc(33% - 15px) calc(
            33% - 15px
          );
      }
    }
  }
}

.viewport-medium {
  --tab-content-flex-direction: row;
  & .content {
    & .care-team {
      & .tab-content {
        grid-template-columns: calc(33% - 15px) calc(33% - 15px) calc(
            33% - 15px
          );
      }
    }
  }
}
.viewport-small {
  --gap: 1rem;
  --font-size: 0.75rem;
  --card-header-font-size: unset;
  --card-header-line-height: unset;
  --tab-content-flex-direction: column;
  & .content {
    & .care-team {
      & .tab-label-box {
        font-size: 1rem;
      }
      & .tab-content {
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
      }
    }
  }
}
.viewport-xsmall {
  --gap: 1rem;
  --font-size: 1rem;
  --card-header-font-size: calc(2 * var(--font-size));
  --card-header-line-height: calc(var(--card-header-font-size) + 0.5rem);
  --margin-bottom-style: 1.5rem;
  padding: 1.25rem 0;

  & .content {
    padding: var(--content-padding);
    & header {
      padding: 0 0.75rem;
      & h3 {
        color: #4493b5;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
      & h1 {
        color: #036;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
    & .care-team {
      & .care-team-text {
        padding: 0 0.75rem;
      }
      & .tab-content {
        grid-template-columns: 100%;
      }
    }

    & .endorsement-request {
      & header {
        padding: 0 0.75rem;
      }
      p {
        padding: 0 0.75rem;
      }
      & mat-form-field {
        padding: 0 0.75rem;
      }
    }
    & .actions {
      padding: 0 0.75rem;
    }
  }
}
