@use 'pidp-variables' as pidp;
@import 'bootstrap/bootstrap-imports';

h2,
label,
p {
  font-family: pidp.$bcgov-font-family;
}

// Set gap depending on viewport.
.viewport-xsmall {
  --gap: 1rem;
}
.viewport-large,
.viewport-medium,
.viewport-small {
  --gap: 1.25rem;
}

// Use gap to set css.
.viewport-all {
  --box-padding: 0;
  --content-padding: 0 0 var(--gap);
  --care-team-text-padding: var(--gap) var(--gap) 0;
  --tab-content-flex-direction: column;
  --endorsement-request-item-padding: 0 var(--gap);
  --endorsement-form-field-width: 100%;
  padding: 1.25rem 0.75rem;

  .breadcrumb ul {
    list-style: none;
    top: 0;
    right: 0;
    padding: 0px;
  }

  .breadcrumb fa-icon {
    height: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .breadcrumb ul li {
    display: inline;
  }

  .breadcrumb a,
  .text-button {
    text-decoration: none;
    color: #1a5a96;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
  }
}
.viewport-large {
  --box-padding: calc(2 * var(--gap)) 0;
  --content-padding: 0;
  --care-team-text-padding: var(--gap) 0;
  --tab-content-flex-direction: unset;
  --endorsement-request-item-padding: unset;
  --endorsement-form-field-width: 30rem;
}
.viewport-medium {
  --box-padding: var(--gap) 0;
  --content-padding: 0;
  --care-team-text-padding: var(--gap) 0;
  --tab-content-flex-direction: unset;
  --endorsement-request-item-padding: unset;
  --endorsement-form-field-width: 30rem;
}
.viewport-small {
  --box-padding: 0 0 var(--gap);
  --content-padding: 0 var(--gap);
  --care-team-text-padding: var(--gap) 0;
  --tab-content-flex-direction: unset;
  --endorsement-request-item-padding: unset;
  --endorsement-form-field-width: 30rem;
}
.viewport-all {
  & .content {
    padding: var(--content-padding);
    & header {
      & h3 {
        color: #4493B5;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
      & h1 {
        color: #036;
        font-size: 3.125rem;
        font-weight: 700;
        margin-bottom: 0;
      }
      & mat-icon {
        margin-left: calc(var(--gap) / 2);
      }
    }
    & .care-team {
      & .care-team-text {
        padding: var(--care-team-text-padding);
        color: #313132;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6875rem;
      }
      & .care-team-tabs {
        min-height: 10rem;
       ::ng-deep .mat-mdc-tab  {
        width: 18.625rem;
        height: 3.75rem;
        border: 1px solid #9E9E9E;
        background: #EEE;
        &.mdc-tab--active{
          background: #E3E7F3;
        }
       }
      }
      & .tab-label-box {
        display: flex;
        align-items: center;
        opacity: 1;
        color: #000;
        font-size: 1.125rem;
        & .badge {
          margin-left: 0.5rem;
          font-size: 0.5rem;
          border-radius: 0.5rem;
          background-color: pidp.$red;
          color: #fff;
          width: 1rem;
          height: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      & .tab-content {
        padding: var(--gap);
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        flex-direction: var(--tab-content-flex-direction);

        & .endorsement-card {
          flex-basis: calc((100% - (var(--gap))) / 2);

          @include media-breakpoint-up(lg) {
            flex-basis: calc((100% - (var(--gap))) / 3);
          }

          display: flex;
        }
      }
    }
    & .endorsement-request {
      & header {
        margin: calc(2 * var(--gap)) 0 var(--gap);
      }
      & p,
      & h3 {
        padding: var(--endorsement-request-item-padding);
      }
      & mat-form-field {
        padding: var(--endorsement-request-item-padding);
        width: var(--endorsement-form-field-width);
      }
    }
    & .actions {
      display: flex;
      padding: var(--endorsement-request-item-padding);
      & button:not(:first-of-type) {
        margin-left: var(--gap);
      }
    }
  }
}
