@use 'pidp-variables' as pidp;

h1 {
  margin-bottom: 0;
  color: pidp.$bcgov-color-primary;
  font-size: 38px;
  font-weight: 600;
}
h2 {
  margin-bottom: 0;
  color: pidp.$bcgov-color-primary;
  font-size: 24px;
  font-weight: 700;
}

.image {
  flex: 1;
  display: flex;
  padding: 20px 0;
}

.link {
  color: #0d6efd;
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .image img {
    max-width: 250px;
    height: auto;
  }
}

.viewport-all {
  &.mfa-setup-page {
    padding: 1.25rem 0.75rem;
  }

  .back-to-top-container {
    position: fixed;
    bottom: 70px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-to-top {
    background-color: pidp.$bcgov-color-background-blue;
    color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .back-to-top-text {
    color: pidp.$bcgov-color-background-blue;
    font-size: 13px;
    word-wrap: break-word;
  }

  .back-to-top:hover {
    background-color: pidp.$bcgov-color-primary;
  }
}

.viewport-small {
  .back-to-top {
    width: 2rem;
    height: 2rem;
  }

  .back-to-top-text {
    font-size: 9px;
  }

  .back-to-top-container {
    bottom: 70px;
  }
}

.viewport-xsmall {
  .back-to-top {
    width: 2rem;
    height: 2rem;
  }

  .back-to-top-text {
    font-size: 9px;
  }

  .back-to-top-container {
    bottom: 135px;
  }
}
