<ui-page mode="full">
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader
      icon="question_answer"
      heading="Setting up the Microsoft Authenticator">
    </ui-page-section-subheader>
  </ui-page-section>
  <ui-page-section>
    <ol>
      <li>Go to bchealthprovider.ca</li>
      <li class="mfa-section">
        Enter your bcprovider.ca login information
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-1.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="1" loading="lazy" aria-labelledby="" />
        </picture>
      </li>
      <li class="mfa-section">
        Enter your password
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-2.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="2" loading="lazy" aria-labelledby="" />
        </picture>
      </li>
      <li class="mfa-section">
        You will be prompted for more information on the first login.
      </li>
      <li class="mfa-section">
        On your iOS/Android mobile device, you will need to go to the respective
        app store and install the
        <a
          uiAnchor
          [attr.href]="'https://www.microsoft.com/en-ca/security/mobile-authenticator-app'"
          >Microsoft Authenticator</a
        >.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-3.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="3" loading="lazy" aria-labelledby="" />
        </picture>
      </li>
      <li class="mfa-section">
        Once you have the app installed, click <strong>Next</strong>.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-4.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="4" loading="lazy" aria-labelledby="" />
        </picture>
      </li>
      <li class="mfa-section">
        Click <strong>Next</strong>.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-5.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="5" loading="lazy" aria-labelledby="" />
        </picture>
      </li>
      <li class="mfa-section">
        On your mobile device, launce the Microsoft Authenticator app.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-6.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="6" loading="lazy" aria-labelledby="" />
        </picture>
      </li>
      <li class="mfa-section">Click <strong>Add account</strong>.</li>
      <li class="mfa-section">
        Click on <strong>Work or school account</strong>.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-7.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="7" loading="lazy" aria-labelledby="" />
        </picture>
      </li>
      <li class="mfa-section">
        If prompted to allow the Authenticator access to the camera, click
        <strong>OK</strong>.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-8.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="8" loading="lazy" aria-labelledby="" />
        </picture>
      </li>
      <li class="mfa-section">
        Scan the QR code that is presented to you with your mobile device.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-9.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="9" loading="lazy" aria-labelledby="" />
        </picture>
        <p class="mfa-section">
          If you are unable to scan the QR code click on
          <em>Can't scan image?</em>
        </p>
        <p class="mfa-section">
          Make note of the code and the URL
          <picture class="image">
            <source
              type="image/webp"
              srcset="/assets/images/mfa-setup/section-10.webp" />
            <source
              type="image/jpg"
              srcset="/assets/images/bc-provider-account-457x759.jpg" />
            <img title="10" loading="lazy" aria-labelledby="" />
          </picture>
        </p>
        <p class="mfa-section">
          On the Authenticator app, click on
          <strong>enter code manually</strong>
          <picture class="image">
            <source
              type="image/webp"
              srcset="/assets/images/mfa-setup/section-11.webp" />
            <source
              type="image/jpg"
              srcset="/assets/images/bc-provider-account-457x759.jpg" />
            <img title="11" loading="lazy" aria-labelledby="" />
          </picture>
        </p>
        <p class="mfa-section">
          Enter in the code and the URL and click <strong>Finish</strong>. You
          may be prompted for Notifications. Click <strong>Allow</strong>.
          <picture class="image">
            <source
              type="image/webp"
              srcset="/assets/images/mfa-setup/section-12.webp" />
            <source
              type="image/jpg"
              srcset="/assets/images/bc-provider-account-457x759.jpg" />
            <img title="12" loading="lazy" aria-labelledby="" />
          </picture>
        </p>
        <p class="mfa-section">
          Whether you scanned the QR code or had to enter the code and URL
          manually, if successful, you account should now be listed in the
          Authenticator app.
          <picture class="image">
            <source
              type="image/webp"
              srcset="/assets/images/mfa-setup/section-13.webp" />
            <source
              type="image/jpg"
              srcset="/assets/images/bc-provider-account-457x759.jpg" />
            <img title="13" loading="lazy" aria-labelledby="" />
          </picture>
        </p>
      </li>
      <li class="mfa-section">
        Now the Authenticator app is configured, you can go back to the
        Authenticator setup page and click <strong>Next</strong>.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-14.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="14" loading="lazy" aria-labelledby="" />
        </picture>
        <p class="mfa-section">
          A push notification will be sent to your mobile device...
          <picture class="image">
            <source
              type="image/webp"
              srcset="/assets/images/mfa-setup/section-15.webp" />
            <source
              type="image/jpg"
              srcset="/assets/images/bc-provider-account-457x759.jpg" />
            <img title="15" loading="lazy" aria-labelledby="" />
          </picture>
        </p>
      </li>
      <li class="mfa-section">
        On your mobile device, you should receive a notification. Approve it.
        <picture class="image">
          <source
            type="image/webp"
            srcset="/assets/images/mfa-setup/section-16.webp" />
          <source
            type="image/jpg"
            srcset="/assets/images/bc-provider-account-457x759.jpg" />
          <img title="16" loading="lazy" aria-labelledby="" />
        </picture>
        <p class="mfa-section">
          If the push notification worked, it should report the notification was
          approved.
          <picture class="image">
            <source
              type="image/webp"
              srcset="/assets/images/mfa-setup/section-17.webp" />
            <source
              type="image/jpg"
              srcset="/assets/images/bc-provider-account-457x759.jpg" />
            <img title="17" loading="lazy" aria-labelledby="" />
          </picture>
        </p>
      </li>
      <li class="mfa-section">Click <strong>Next</strong>.</li>
      <li class="mfa-section">
        You should now be logged into BCHealthProvider.
      </li>
    </ol>
  </ui-page-section>

  <ui-page-footer mode="reverse">
    <button
      mat-stroked-button
      uiPageFooterAction
      color="primary"
      type="button"
      (click)="onBack()">
      Back Home
    </button>
  </ui-page-footer>
</ui-page>
