.breadcrumb {
  ul {
    display: flex;
    align-items: center;
    padding: 0px;
  }

  fa-icon {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #d9d9d9;
    font-size: 1.75rem;
  }

  ul li {
    display: flex;
  }

  span {
    font-size: 1rem;
  }

  button:disabled {
    color: #aaa !important;
  }

  img {
    margin-right: 10px;
    margin-bottom: 6px;
  }
}

h1 {
  margin-bottom: 0px;
  color: #036;
  font-size: 38px;
  font-weight: 600;
}
h2 {
  margin-bottom: 0px;
  color: #036;
  font-size: 24px;
  font-weight: 700;
}

.image {
  flex: 1;
  display: flex;
  padding: 20px 0;
}

.link {
  color: #0d6efd;
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .image img {
    max-width: 250px;
    height: auto;
  }
}

.viewport-all {
  &.mfa-setup-page {
    padding: 1.25rem 0.75rem;
  }

  .back-to-top-container {
    position: fixed;
    bottom: 70px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-to-top {
    background-color: #38598a;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  .back-to-top-text {
    color: #38598a;
    font-size: 13px;
    word-wrap: break-word;
  }

  .back-to-top:hover {
    background-color: #003366;
  }
}

.viewport-small {
  .breadcrumb {
    margin: 0px 20px 0px 20px;
    fa-icon {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      font-size: 1.5rem;
    }

    span {
      font-size: 0.9rem;
    }
  }
  .back-to-top {
    width: 30px;
    height: 30px;
  }

  .back-to-top-text {
    font-size: 9px;
  }

  .back-to-top-container {
    bottom: 70px;
  }
}

.viewport-xsmall {
  .breadcrumb {
    margin: 0px 20px 0px 20px;

    img {
      margin-right: 2px;
    }
    span {
      font-size: 0.8rem;
    }
    .home-text {
      display: none;
    }
    fa-icon {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 1.25rem;
    }
  }
  .back-to-top {
    width: 30px;
    height: 30px;
  }

  .back-to-top-text {
    font-size: 9px;
  }

  .back-to-top-container {
    bottom: 135px;
  }
}
