.breadcrumb ul {
  list-style: none;
  top: 0;
  right: 0;
  padding: 0px;
}

.breadcrumb fa-icon {
  height: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.breadcrumb ul li {
  display: inline;
}

.breadcrumb a {
  text-decoration: none;
  color: #1a5a96;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
  cursor: pointer;
}

h1 {
  margin-bottom: 0px;
  color: #036;
  font-size: 38px;
  font-weight: 600;
}
h2 {
  margin-bottom: 0px;
  color: #036;
  font-size: 24px;
  font-weight: 700;
}

.image {
  flex: 1;
  display: flex;
  padding: 20px 0;
}

@media screen and (max-width: 1023px) {
  .image img {
    max-width: 250px;
    height: auto;
  }
}


.viewport-all {
  &.mfa-setup-page {
    padding: 1.25rem 0.75rem;
  }
}
