<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="PharmaNet">
      <ng-container uiPageSectionSubheaderDesc>Next Steps.</ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-alert
    type="success"
    icon="check_circle"
    iconType="outlined"
    heading="Request Successful">
    <ng-container uiAlertContent>
      Follow the next steps to access PharmaNet
    </ng-container>
  </ui-alert>

  <app-info-graphic infoGraphicName="notification">
    <ng-container infographicHeader>
      1. Send your approval to your PharmaNet administrator
    </ng-container>
    <ng-container infographicContent>
      <p>
        Who is my PharmaNet administrator?
        <ui-context-help>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non facilis
          eius, nam ipsa repellendus minus repellat.
        </ui-context-help>
      </p>
      <p>
        Get your access to PharmaNet set up. Use the email option below to
        notify your PharmaNet administrator of your completed enrolment.
      </p>
      <strong>Care setting here</strong>
      <p>
        Send your approval to your PharmaNet administrator (e.g., office
        manager). If you work in more than one clinic you can include the email
        addresses for all the PharmaNet administrators separated by a comma.
      </p>
      <br />
      <div class="row">
        <div class="col-sm-8 col-xl-7">
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" />
          </mat-form-field>
        </div>
        <div class="col-sm-4 col-xl-3">
          <button class="w-100" mat-flat-button type="button" color="primary">
            Send
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container infographicContent> </ng-container>
  </app-info-graphic>
  <app-info-graphic infoGraphicName="moa">
    <ng-container infographicHeader>
      2. Your PharmaNet administrator will let you know when your access is set
      up
    </ng-container>
  </app-info-graphic>
  <app-info-graphic infoGraphicName="approval">
    <ng-container infographicHeader>
      3. Access your verified credential (optional)
    </ng-container>
    <ng-container infographicContent>
      <br />
      <button mat-flat-button type="button" color="primary">
        Verified Credential
      </button>
    </ng-container>
  </app-info-graphic>

  <!-- TODO don't do the routing using routerLink instead use routeConfig like rest of application -->
  <ui-page-footer>
    <button
      mat-stroked-button
      uiPageFooterAction
      color="primary"
      type="button"
      routerLink="../terms-of-access">
      Back Home
    </button>
    <button
      mat-flat-button
      uiPageFooterAction
      color="primary"
      type="button"
      routerLink="../../../"
      (click)="onSubmit()">
      Continue
    </button>
  </ui-page-footer>
</ui-page>
