<div class="external-guest-invitation-container" uiPidpInjectViewportCss>
  <div class="external-guest-invitation-box">
  </div>
</div>

<div class="container-box container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <div class="content-box">
    <header>
      <h1>External guest invitation</h1>
    </header>
    <p class="content">
     The External guest invtation is a feature to invite the external user as a guest account<br />
      This furthers the options for accessing the application in one environment with the credentials of the another environment.
    </p>

    <p class="input-label">Enter the user name or email address of the account you want to use as an external guest</p>

    <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
      <section>
        <div class="content">
          <mat-form-field>
            <mat-label class="field-label">User name</mat-label>
            <input
              matInput
              formControlName="username"
              aria-labelledby="username" />
            <mat-error>Required</mat-error>
          </mat-form-field>
        </div>
      </section>
    </form>

    <p>
      Helpful text to user on being redirected to external guest invitation page
    </p>
    <div class="actions">
      <button
        mat-flat-button
        type="submit"
        color="primary">
        {{ "Request" }}
      </button>
    </div>
</div>
