<div class="external-guest-invitation-container" uiPidpInjectViewportCss>
  <div class="external-guest-invitation-box">
  </div>
</div>

<div class="container-box container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <div class="content-box">
    <header>
      <h1>External guest invitation</h1>
    </header>
    <p class="content">
     The External guest invtation is a feature to invite the external user as a guest account<br />
      This furthers the options for accessing the application in one environment with the credentials of the another environment.
    </p>

    <p class="input-label">Enter the user name or email address of the account you want to use as an external guest</p>

    <!-- <form novalidate>
      <section>
        <h2 class="header">LICENCE</h2>
        <h3 class="college-licence">College licence information</h3>
        <div class="content">
          <mat-form-field>
            <mat-label class="field-label">Licence Number</mat-label>
            <input
              matInput
              formControlName="licenceNumber"
              aria-labelledby="college-licence-declaration-licence-number" />
            <mat-error>Required</mat-error>
            <mat-hint> Example would be a 5 digit code </mat-hint>
          </mat-form-field>
        </div>
      </section>
    </form> -->
</div>
