<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="PharmaNet">
      <ng-container uiPageSectionSubheaderDesc>
        Provide the next information to get access to PharmaNet.
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-page-section>
    <ui-page-section-subheader heading="Self Declaration">
      <ng-container uiPageSectionSubheaderDesc>
        Self-declaration information is collected under the authority of the
        Information Management Regulation of the Pharmaceutical Services Act and
        confidentiality is protected under the Freedom of Information and
        Protection of Privacy Act. Self-declaration information is used to
        verify the applicant is in good standing with their respective
        College(s) and to determine eligibility for and access to PharmaNet.
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-page-footer>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      routerLink="../../">
      Back Home
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      routerLink="../terms-of-access">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
