<ui-page [form]="formState.form" (submitted)="onSubmit()">
  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="MS Teams for Clinical Use">
    </ui-page-section-subheader>
  </ui-page-section>

  <app-enrolment-error *ngIf="enrolmentError"></app-enrolment-error>

  <ng-container *ngIf="completed; else notCompleted">
    <ui-alert
      type="success"
      icon="check_circle"
      iconType="outlined"
      heading="Thank you for enrolling your clinic for MS Teams access.">
      <ng-container uiAlertContent>
        <p>
          Your clinic will be provided with instructions via email on how to
          setup and use MS Teams for Clinical Use.
        </p>
        <p>
          If you have any additional questions contact the FH mhealth team via
          email:
          <a uiAnchor scheme="mailto" [attr.href]="msTeamsSupportEmail"></a>
        </p>
      </ng-container>
    </ui-alert>
  </ng-container>

  <ng-template #notCompleted>
    <ng-container [ngSwitch]="currentPage">
      <ng-container *ngSwitchCase="0" [formGroup]="formState.form">
        <ui-page-section>
          <ui-page-section-subheader heading="Clinic Name">
            <ng-container uiPageSectionSubheaderDesc>
              Enter your clinic's name.
            </ng-container>
          </ui-page-section-subheader>
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Clinic name"
              formControlName="clinicName" />
            <mat-error>Required</mat-error>
          </mat-form-field>
        </ui-page-section>
        <ui-page-section>
          <ui-page-section-subheader heading="Facility Address">
            <ng-container uiPageSectionSubheaderDesc>
              Provide your work address.
            </ng-container>
          </ui-page-section-subheader>

          <app-address-form [form]="formState.clinicAddress"></app-address-form>
        </ui-page-section>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <ui-page-section>
          <p [innerHtml]="getAgreementText(currentPage) | safe: 'html'"></p>
        </ui-page-section>
      </ng-container>

      <ng-container *ngSwitchCase="submissionPage">
        <ui-page-section>
          <p>FORM FIELDS2</p>
        </ui-page-section>
      </ng-container>
    </ng-container>
  </ng-template>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      {{ completed ? 'Back Home' : currentPage === 0 ? 'Cancel Back Home' :
      'Back' }}
    </button>

    <button
      *ngIf="!completed && currentPage !== submissionPage"
      mat-flat-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onNext()">
      {{ currentPage === 0 ? 'Next' : 'I Agree'}}
    </button>
    <button
      *ngIf="!completed && currentPage === submissionPage"
      mat-flat-button
      uiPageFooterAction
      type="submit"
      color="primary">
      Next
    </button>
  </ui-page-footer>
</ui-page>
