<div class="box" uiPidpInjectViewportCss>
  <div class="content">
    <app-enrolment-error *ngIf="enrolmentError"></app-enrolment-error>
    <form [formGroup]="formState.form" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="completed; else notCompleted">
        <header>
          <h2 class="title">
            Thank you for enrolling your clinic for MS Teams access.
          </h2>
        </header>
        <section class="completed">
          <p>
            Your clinic will be provided with instructions via email on how to
            setup and use MS Teams for Clinical Use.
          </p>
          <p>
            If you have any additional questions contact the FH mHealth team via
            email:
            <a uiAnchor scheme="mailto" [attr.href]="msTeamsSupportEmail"></a>
          </p>
        </section>
      </ng-container>
      <ng-template #notCompleted>
        <header>
          <h2 class="title">MS Teams for Clinical Use</h2>
        </header>
        <ng-container [ngSwitch]="currentPage">
          <ng-container *ngSwitchCase="0">
            <section *ngIf="false">
              <h3>Privacy officer only</h3>
              <p>
                The form below is to be filled out by the clinic's Privacy
                Officer only. If you are not the Privacy Officer, click back to
                return to the Portal page.
              </p>
            </section>
            <p class="privacy-text">
              The form below is to be filled out by the clinic's Privacy Officer
              only. If you are not the Privacy Officer, click back to return to
              the Portal page.
            </p>
            <section class="clinic-info">
              <header>
                <h3>Clinic Information</h3>
              </header>
              <div class="form">
                <div class="field">
                  <label id="ms-teams-clinic">FHA Clinic Name</label>
                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      formControlName="clinicName"
                      aria-labelledby="ms-teams-clinic" />
                    <mat-error>Required</mat-error>
                  </mat-form-field>
                </div>
                <app-address-form
                  [form]="formState.clinicAddress"></app-address-form>
              </div>
            </section>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <p
              class="agreement-text"
              [innerHtml]="getAgreementText(currentPage) | safe: 'html'"></p>
          </ng-container>
        </ng-container>
      </ng-template>
      <section class="actions">
        <button
          mat-stroked-button
          uiPageFooterAction
          type="button"
          color="primary"
          (click)="onBack()">
          {{ completed ? 'Home' : 'Back' }}
        </button>

        <button
          *ngIf="!completed && currentPage !== submissionPage"
          mat-flat-button
          uiPageFooterAction
          type="button"
          color="primary"
          (click)="onNext()">
          {{ currentPage === 0 ? 'Next' : 'I Accept'}}
        </button>
        <button
          *ngIf="!completed && currentPage === submissionPage"
          mat-flat-button
          uiPageFooterAction
          type="submit"
          color="primary">
          Submit
        </button>
      </section>
    </form>
  </div>
</div>
