<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-subheader icon="assignment_ind">
      College Licence Information
    </ui-page-subheader>
    <p>
      Provide the next information to complete your provider identity portal.
    </p>
  </ui-page-section>

  <ui-page-section>
    <ui-page-subheader>College Licence</ui-page-subheader>
    <p>Provide details for all your active College licenses.</p>
    <small>
      Entering a preferred name will not change your BC Services Card name.
    </small>

    <mat-form-field class="w-100">
      <mat-select placeholder="College Licences">
        <mat-option>None</mat-option>
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button type="button" color="primary">
      <mat-icon>add</mat-icon>
      Add Additional Licences
    </button>
  </ui-page-section>

  <ui-page-footer>
    <button mat-stroked-button color="primary" type="button" routerLink="../">
      Back Home
    </button>
    <button mat-flat-button color="primary" type="submit" routerLink="../">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
