<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment_ind"
      heading="College Licence Information">
      <ng-container uiPageSectionSubheaderDesc>
        Provide the next information to complete your provider identity portal.
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-page-section>
    <ui-page-section-subheader heading="College Licence">
      <ng-container uiPageSectionSubheaderDesc>
        Provide details for all your active College licenses.
      </ng-container>
      <ng-container uiPageSectionSubheaderHint>
        Entering a preferred name will not change your BC Services Card name.
      </ng-container>
    </ui-page-section-subheader>

    <mat-form-field class="w-100">
      <mat-select placeholder="College Licences">
        <mat-option value="None">None</mat-option>
        <mat-option value="College of Physicians and Surgeons of BC (CPSBBC)">
          College of Physicians and Surgeons of BC (CPSBBC)
        </mat-option>
        <mat-option value="College of Pharmacists of BC (CPBC)">
          College of Pharmacists of BC (CPBC)
        </mat-option>
        <mat-option value="BC College of Nurses and Midwives (BCCNM)">
          BC College of Nurses and Midwives (BCCNM)
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button type="button" color="primary">
      <mat-icon>add</mat-icon>
      Add Additional Licences
    </button>
  </ui-page-section>

  <ui-page-footer>
    <button mat-stroked-button color="primary" type="button" routerLink="../">
      Back Home
    </button>
    <button mat-flat-button color="primary" type="submit" routerLink="../">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
