<ui-dashboard
  *ngIf="!showUxV2"
  [username]="(username | async)!"
  [headerConfig]="headerConfig"
  [showMenuItemIcons]="showMenuItemIcons"
  [menuItems]="menuItems"
  [responsiveMenuItems]="responsiveMenuItems"
  [logoutRedirectUrl]="logoutRedirectUrl"
  (logout)="onLogout()">
  <ui-dashboard-image
    [brandConfig]="brandConfig"
    [responsiveMenuItems]="responsiveMenuItems"></ui-dashboard-image>
</ui-dashboard>
<ui-dashboard-v2
  *ngIf="showUxV2"
  [dashboardState]="(dashboardState$ | async)!"
  (logout)="onLogout()">
</ui-dashboard-v2>
