<div class="feedback-container" uiPidpInjectViewportCss>
  <header class="feedback-header">
    <div class="close-button">
      <mat-icon class="mat-icon" (click)="onCloseClick()">close</mat-icon>
    </div>
    <h1>
      How was your experience using OneHealthID?
    </h1>
  </header>
  <ng-container *ngIf="showErrorCard">
    <section class="error-card" [class.show-card]="showErrorCard">
      <p>An error occurred.</p>
    </section>
  </ng-container>
  <div class="content">
    <section class="form-card">
      <div class="feedback-form">
        <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
          <div class="form-content">
            <div >
              <mat-form-field>
                <textarea
                matInput
                formControlName="feedback"
                type="text"
                aria-labelledby="feedback"
                placeholder="Enter here"
                maxlength="1000"
                class="textarea-field">
                </textarea>
                <mat-error>{{ formState.getErrorMessage() }}</mat-error>
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="split-input">
              <div class="split-placeholder">
                <div class="left-placeholder">
                  <span class="screenshot">Screenshot</span>
                    <button mat-icon-button class="icon-button" aria-label="Take Screenshot" (click)="takeScreenshot($event)">
                      <img src="assets/images/icons/icon-screenshot.svg">
                    </button>
                </div>
                <div class="right-placeholder">
                  <span class="attach">Attach</span>
                  <button mat-icon-button class="icon-button" aria-label="Take Screenshot" (click)="uploadFile($event)">
                    <img src="assets/images/icons/icon-file-attach.svg">
                  </button>
                  <input hidden (change)="onFileSelected()" type="file" id="file" formControlName="attachment">
                </div>
              </div>
              <input matInput/>
            </mat-form-field>
            <div>
              <span class="file-name">{{selectedFile?.name}}</span>
            </div>

            <div class="form-button-container">
              <button
                mat-flat-button
                type="submit"
                color="primary"
                (click)="showSuccessDialog($event)"
                class="send-button">
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<ng-template #successDialog>
  <app-success-dialog
    title="Thank You!"
    [componentType]="componentType">
  </app-success-dialog>
</ng-template>
