@import 'palette';

p {
  margin-bottom: 1.5rem;
}

.signature {
  border-bottom: 2px solid theme-palette(yellow);
}

.back-button {
  margin-left: 5px;
}

.viewport-all {
  padding: 1.25rem 0.75rem;
}
