@import 'palette';

// TODO temporary class used during quick setup
.signature {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  padding-top: 1rem;
  border-top: 1px solid theme-palette(grey);
}
