@import 'palette';

.error-page {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: theme-palette(blue);
  height: 100vh;
  padding: 30px;
}

.message {
  padding: 10px;
}

button {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: theme-palette(blue);
}
