@use '../../mixins' as mixins;
@use 'palette';

//
// Snackbar
//

.mat-snack-bar {
  @each $type in mixins.$types {
    &.#{$type} {
      background-color: alert-palette($type, backgroundColorSolid);
      border-color: alert-palette($type, backgroundColorSolid);
      color: alert-palette($type, color);
    }
  }
}
