@use '../../mixins' as mixins;
@use 'pidp-variables' as pidp;

//
// MATERIAL TAB GROUP
//
// @description
// Applies general theme styles to Material Tab Group components

/*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-tab-group {
  border: solid 1px pidp.$grey-30;
  & .mat-mdc-tab-header {
    border-style: none;
  }
  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  & .mat-tab-labels {
    background-color: pidp.$blue-primary;
  }
  // Line below active tab
  &.mat-primary .mat-ink-bar {
    border-bottom: solid 4px pidp.$yellow;
  }
  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  & .mat-tab-label {
    color: #fff;
    opacity: 1;
    &:not(:last-of-type) {
      border-right: solid 1px pidp.$grey-30;
    }
  }
}
