@use '../../mixins' as mixins;
@use 'pidp-variables' as pidp;

//
// MATERIAL TAB GROUP
//
// @description
// Applies general theme styles to Material Tab Group components

$pidp-mat-tab-group-border: solid 1px pidp.$grey-30;

/*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-tab-group {
  border: $pidp-mat-tab-group-border;

  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  // Tabs header background color
  & .mat-mdc-tab-labels {
    background-color: pidp.$blue-primary;

    // Line below active tab
    & .mat-mdc-tab {
      &.mdc-tab--active:hover,
      &.mdc-tab--active:focus,
      &:not(.mat-mdc-tab-disabled) {
        & .mdc-tab-indicator__content--underline {
          border: solid 2px pidp.$yellow;
        }
      }

      /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
      // Tabs header text color
      &:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
      & .mdc-tab__text-label {
        color: #fff;
        opacity: 1;
      }

      // Tabs header separator
      &:not(:last-of-type) {
        border-right: $pidp-mat-tab-group-border;
      }
    }
  }
}
