.feedback-button-box {
  .mid-right-button {
    all: unset;
    position: fixed !important;
    top: 50%;
    right: 0 !important;
    transform: rotate(-90deg);
    transform-origin: center;
    display: inline-block;
    background-color:#FCBA19;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}
