@use 'pidp-variables' as pidp;

.feedback-button-box {
  .mid-right-button {
    all: unset;
    position: fixed;
    top: 50%;
    right: -3rem;
    transform: rotate(-90deg);
    transform-origin: center;
    display: inline-block;
    background-color: pidp.$bcgov-color-accent;
    color: black;
    border: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 0;
    cursor: pointer;
  }
  .img {
    transform: rotate(-270deg);
  }
}

.feedback-button-box-mobile {
  .mid-right-button {
    all: unset;
    position: fixed;
    top: 63%;
    right: 0.9rem;
    display: inline-block;
    background-color: pidp.$bcgov-color-accent;
    padding: 5px 5px;
    margin-right: 0;
    cursor: pointer;
    border-radius: 50%;
  }
}
