<div class="container-box container" uiPidpInjectViewportCss>
  <div class="feedback-button-box" *ngIf="!isMobileView; else mobile_view">
    <button class="mid-right-button" (click)="openDialog()">
      <img
         src="/assets/images/feedback-button-logo.svg"
         alt="feedback-button-logo" class="img"/>
     Feedback
    </button>
  </div>
  <ng-template #mobile_view>
    <div class="feedback-button-box-mobile">
      <button class="mid-right-button" (click)="openDialog()">
        <img
           src="/assets/images/feedback-button-logo.svg"
           alt="feedback-button-logo" class="img"/>
      </button>
    </div>
  </ng-template>
</div>
