<div class="container" uiPidpInjectViewportCss>
  <nav class="breadcrumb">
    <ul>
      <li><button uiBreadcrumbButton (click)="onBack()">Home</button></li>
      <li><fa-icon class="fa-duotone" [icon]="faAngleRight"></fa-icon></li>
      <li><a class="active" href="accessrequest#access">Active Page</a></li>
    </ul>
  </nav>
  <div class="content-header">
    <h3>PRODUCTS</h3>
    <h1>Explore all the workplace tools available</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non
      tortor eu nisi mollis tincidunt a blandit quis, tristique a justo.
      Curabitur eget aliquet libero. Nunc tincidunt augue vitae metus accumsan,
      ac ullamcorper orci viverra. In consequat lacus eu turpis lacinia, at
      imperdiet leo commodo. Pellentesque habitant morbi tristique senectus et
      netus et malesuada fames ac turpis egestas. Sed a justo odio. Nullam
      dictum, quam eu mattis gravida, lacus purus gravida ligula, sit amet
      aliquet arcu mi sed purus. Aliquam rutrum mi quam, vitae pretium justo
      pharetra vel. Vivamus eget iaculis risus. Nulla ac nisl convallis, viverra
      neque sed, feugiat quam. Nulla vitae nibh quis elit congue porta. Mauris
      maximus orci non quam hendrerit viverra. Aliquam erat volutpat.
    </p>
  </div>
  <div class="search-content">
    <span>Total results: <b>7</b></span>
    <div class="div-search">
      <fa-icon
        *ngIf="showSearchIcon"
        class="search-icon"
        [icon]="faMagnifyingGlass"></fa-icon>
      <input
        matInput
        (focusout)="onSearch($event)"
        (focus)="showSearchIcon=false" />
      <button type="button" mat-flat-button color="primary">Search</button>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-check-icon card-icon">
          <img
            class="checked"
            src="/assets/images/icons/person-check.svg"
            alt="person check" />
          <p class="card-header-text">Special authority eForms</p>
        </div>
      </div>
      <div class="card-body">
        Enrol here for access to the special authority eForms Service eForm
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <fa-icon [icon]="faFileLines"></fa-icon>
          <p class="card-header-text">BC Provider Account</p>
        </div>
      </div>
      <div class="card-body">
        Enrol here for access to PharmaCare's Special Authority eForms
        application.
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon card-icon">
          <img src="/assets/images/icons/vaccine.svg" alt="vaccine" />
          <p class="card-header-text">Immunization Entry eForm</p>
        </div>
      </div>
      <div class="card-body">
        Clinic Member enroll here for clinic access for MS Teams with Fraser
        Health.
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <fa-icon [icon]="faCar"></fa-icon>
          <p class="card-header-text">Driver Fitness Practitioner Portal</p>
        </div>
      </div>
      <div class="card-body">
        Register as a Medical Practitioner (or Designate) to the RoadSafetyBC
        Medical Practitioner Portal.
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <fa-icon [icon]="faFileMedical"></fa-icon>
          <p class="card-header-text">HCIMWeb account transfer</p>
        </div>
      </div>
      <div class="card-body">
        A reusable credential for access to HCIMWeb account transfer.
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <fa-icon [icon]="faFileLines"></fa-icon>
          <p class="card-header-text">
            Provisional prescription renewal support
          </p>
        </div>
      </div>
      <div class="card-body">
        Enrol here for access to the Provincial Prescription Renewal Support
        Service eForm
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <fa-icon [icon]="faRightLeft"></fa-icon>
          <p class="card-header-text">HCIMWeb enrolment</p>
        </div>
      </div>
      <div class="card-body">
        Enrol here for access to PharmaCare's Special Authority eForms
        application.
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <fa-icon [icon]="faLink"></fa-icon>
          <p class="card-header-text">Linking accounts</p>
        </div>
      </div>
      <div class="card-body">
        Use this card to link different credentials together in OneHealthID.
        <div>
          <a class="learn-more link" href="#"
            ><u>Start process</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <fa-icon [icon]="faHandshake"></fa-icon>
          <p class="card-header-text">Endorsement</p>
        </div>
      </div>
      <div class="card-body">
        View and make changes to your care team. Endorse or request endorsements
        from colleagues on your health care team to access various systems.
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <fa-icon [icon]="faPeopleGroup"></fa-icon>
          <p class="card-header-text">MS Teams for Clinic Members</p>
        </div>
      </div>
      <div class="card-body">
        Clinic Member enroll here for clinic access for MS Teams with Fraser
        Health.
        <div>
          <a class="learn-more link" href="#"
            ><u>Learn more</u><span> ></span></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="back-to-top-container">
    <button
      *ngIf="showBackToTopButton"
      class="back-to-top"
      (click)="scrollToTop()">
      <fa-icon [icon]="faArrowUp"></fa-icon>
    </button>
    <div *ngIf="showBackToTopButton" class="back-to-top-text">Back to top</div>
  </div>
</div>
