<div class="container" uiPidpInjectViewportCss>
  <nav class="breadcrumb">
    <ul>
      <li><button uiTextButton (click)="onBack()">Home</button></li>
      <li><fa-icon class="fa-duotone" [icon]="faAngleRight"></fa-icon></li>
      <li><button uiTextButton>Active Page</button></li>
    </ul>
  </nav>
  <div class="content-header">
    <h3>PRODUCTS</h3>
    <h1>Explore all the workplace tools available</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non
      tortor eu nisi mollis tincidunt a blandit quis, tristique a justo.
      Curabitur eget aliquet libero. Nunc tincidunt augue vitae metus accumsan,
      ac ullamcorper orci viverra. In consequat lacus eu turpis lacinia, at
      imperdiet leo commodo. Pellentesque habitant morbi tristique senectus et
      netus et malesuada fames ac turpis egestas. Sed a justo odio. Nullam
      dictum, quam eu mattis gravida, lacus purus gravida ligula, sit amet
      aliquet arcu mi sed purus. Aliquam rutrum mi quam, vitae pretium justo
      pharetra vel. Vivamus eget iaculis risus. Nulla ac nisl convallis, viverra
      neque sed, feugiat quam. Nulla vitae nibh quis elit congue porta. Mauris
      maximus orci non quam hendrerit viverra. Aliquam erat volutpat.
    </p>
  </div>
  <div class="search-content">
    <span>Total results: <b>{{ filteredAccessSections?.length }}</b></span>
    <div class="div-search">
      <fa-icon
        *ngIf="showSearchIcon"
        class="search-icon"
        [icon]="faMagnifyingGlass"></fa-icon>
      <input
        matInput
        #filter
        (focus)="showSearchIcon=false"
        (input)="onSearch($event)"
        (keyup.enter)="search(filter.value)" />
      <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="search(filter.value)">
        Search
      </button>
    </div>
  </div>

  <app-access-request-card
    *ngFor="let section of filteredAccessSections"
    class="card-container"
    [heading]="section.heading"
    [description]="section.description"
    [icon]="section.icon"
    [actionDisabled]="section.action.disabled"
    (action)="onCardAction(section)"></app-access-request-card>

  <div class="back-to-top-container">
    <button
      *ngIf="showBackToTopButton"
      class="back-to-top"
      (click)="scrollToTop()">
      <fa-icon [icon]="faArrowUp"></fa-icon>
    </button>
    <div *ngIf="showBackToTopButton" class="back-to-top-text">Back to top</div>
  </div>
</div>
