# PR Helm values
global:
  vanityURL: "healthprovideridentityportal.gov.bc.ca"
  commit_sha: ""
  image:
    tag: dev

database:
  autoCreate: true
  # databaseHost: dev-patroni
  # existingSecret: dev-patroni-secret

redis:
  enabled: false
  auth:
    existingSecret: redis
    existingSecretPasswordKey: database-password

nginx:
  replicaCount: 1

frontend:
  replicaCount: 1
  settings:
    environmentName: dev

webapi:
  replicaCount: 1
  aspnetcore:
    environment: Staging

plr-intake:
  replicaCount: 1

rabbitmq:
  autoCreate: true