<ui-page mode="full">
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-alert
    *ngIf="accessRequestFailed"
    type="danger"
    icon="error_outline"
    iconType="outlined"
    heading="Error Requesting Access">
    <ng-container uiAlertContent>
      <p>
        Your request for access to the Expensive Drugs for Rare Disease (EDRD)
        eForm could not be processed at this time. If this issue persists,
        contact for assistance.
      </p>
    </ng-container>
  </ui-alert>

  <app-enrolment-error *ngIf="enrolmentError"></app-enrolment-error>

  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="Expensive Drugs for Rare Disease (EDRD) eForm">
      <ng-container uiPageSectionSubheaderDesc>
        {{ completed ? 'Enrolment Complete.' : 'Collection Notice.' }}
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ng-container *ngIf="completed; else notCompleted">
    <ui-alert
      type="success"
      icon="check_circle"
      iconType="outlined"
      heading="You are approved!">
      <ng-container uiAlertContent>
        <p>
          You now have access to the Expensive Drugs for Rare Disease (EDRD)
          eForm. You can log into the application using your BC Services Card
          app.
        </p>
        <p>
          Follow this link to Expensive Drugs for Rare Disease (EDRD) eForm:<br />
        </p>
        <p>
          You will need to visit this link each time you want to submit a
          Expensive Drugs for Rare Disease (EDRD) eForm. It may be helpful to
          bookmark this link for future use.
        </p>
      </ng-container>
    </ui-alert>
  </ng-container>

  <ng-template #notCompleted>
    <ui-page-section>
      <p
        class="collection-notice"
        [innerHtml]="collectionNotice | safe: 'html'"></p>
    </ui-page-section>
  </ng-template>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      {{ completed ? 'Back Home' : 'Cancel Back Home' }}
    </button>

    <button
      *ngIf="!completed"
      mat-flat-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onRequestAccess()">
      Next
    </button>
  </ui-page-footer>
</ui-page>
