<div class="container" uiPidpInjectViewportCss>
  <div class="card-container">
    <div class="card-header">
      <div class="card-header-icon">
        <fa-icon class="card-icon" [icon]="icon"></fa-icon>
        <!-- <img class="checked" alt="icon" [src]="icon" /> -->
        <p class="card-header-text">{{ heading }}</p>
      </div>
    </div>
    <div class="card-body">
      {{ description }}
      <div>
        <a class="learn-more link" href="#"><u>Learn more</u><span> ></span></a>
      </div>
    </div>
  </div>
</div>
