<ui-page [form]="formState.form" [busy]="busy" (submitted)="onSubmit()">
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="HCIM Web Account Transfer">
      <ng-container uiPageSectionSubheaderDesc>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque quo
        modi optio tenetur dolore iste. Delectus dolorum provident dolore.
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-alert
    type="danger"
    icon="error_outline"
    iconType="outlined"
    heading="You have access">
    <ng-container uiAlertContent>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi
        ipsam, magnam mollitia quas neque reprehenderit odio culpa dolorem
        laborum sapiente, adipisci cumque placeat. At facilis magnam vel tempora
        voluptatum.
      </p>
    </ng-container>
  </ui-alert>

  <!-- <ui-alert
    type="success"
    icon="check_circle"
    iconType="outlined"
    heading="You have access">
    <ng-container uiAlertContent>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis animi
        ipsam, magnam mollitia quas neque reprehenderit odio culpa dolorem
        laborum sapiente, adipisci cumque placeat. At facilis magnam vel tempora
        voluptatum.
      </p>
    </ng-container>
  </ui-alert> -->

  <ng-container [formGroup]="formState.form">
    <ui-page-section>
      <ui-page-section-subheader heading="HealthNetBC Credentials">
        <ng-container uiPageSectionSubheaderDesc>
          Enter your HealthNetBC information below.
        </ng-container>
      </ui-page-section-subheader>

      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="LDAP User Name"
              formControlName="ldapUsername" />
            <mat-error>Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="w-100">
            <input
              matInput
              type="password"
              placeholder="LDAP Password"
              formControlName="ldapPassword" />
            <mat-error>Required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </ui-page-section>
  </ng-container>

  <ui-page-footer>
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      Back Home
    </button>
    <button
      mat-flat-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      Continue
    </button>
  </ui-page-footer>
</ui-page>
