@use 'pidp-variables' as pidp;

.viewport-all {
  --gap: 1rem;
  --font-size: 0.75rem;
}

.viewport-small,
.viewport-medium,
.viewport-large {
  --gap: 1.25rem;
  --font-size: 1rem;
}
.viewport-all {
  --header-margin: unset;
  --card-border-radius: calc(var(--gap) * 0.375);
  --content-padding: var(--gap);
  --form-card-width: unset;
  padding: 1.25rem 0.75rem;
}
.viewport-medium,
.viewport-large {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
  --form-card-width: 25rem;
}

.content-header h1 {
  color: #003366;
  font-size: 50px;
  font-weight: 700;
  word-wrap: break-word;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  min-height: 340px;
  margin: calc(var(--gap)) 0;

  &__card {
    display: flex;
    flex-direction: column;
    padding-right: calc(var(--gap) * 0.9);
    position: relative;
    line-height: 1.5rem;
  }

  &__card-sidebar {
    display: flex;
    flex-direction: column;
    padding-right: calc(var(--gap) * 0.9);
    position: relative;
    line-height: 1.5rem;
    align-items: flex-end;
    margin-top: 2rem;
  }
}

.assistance-box {
  width: 350px;
  border: 1px solid #e0e0e0;
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .assistance-header {
    background-color: #13365f;
    color: white;
    padding: 15px 20px;
    font-size: 22px;
    font-weight: bold;
  }

  .assistance-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    align-items: center;

    &__icon-box {
      width: 3.1875rem !important;
      height: 3.75rem !important;
      padding: 0rem 1rem;
    }

    .question-icon {
      text-align: center;
      margin-bottom: 20px;

      span {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #666;
        color: white;
        font-size: 40px;
        line-height: 60px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 45px;
          width: 15px;
          height: 15px;
          background-color: #666;
          transform: rotate(45deg);
        }
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;

      li {
        margin-bottom: 15px;

        a {
          color: #3273dc;
          text-decoration: none;

          &::after {
            content: ' >';
          }
        }
      }
    }
  }
}
