@use 'palette' as palette;

table {
  width: 100%;

  td {
    color: palette.theme-palette(blue);
  }
}

mat-icon {
  color: #999;
  vertical-align: middle;

  &.has-requested {
    color: palette.theme-palette(green);
  }

  &.not-requested,
  &.delete {
    color: palette.theme-palette(red);
  }

  &.delete {
    cursor: pointer;
  }
}
