@use 'pidp-variables' as pidp;

.viewport-all {
  --gap: 1rem;
  --font-size: 0.75rem;
}

.viewport-small,
.viewport-medium,
.viewport-large {
  --gap: 1.25rem;
  --font-size: 1rem;
}
.viewport-all {
  --header-margin: unset;
  --card-border-radius: calc(var(--gap) * 0.375);
  --content-padding: var(--gap);
  --form-card-width: unset;
}
.viewport-medium,
.viewport-large {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
  --form-card-width: 25rem;
}
.viewport-all {
  padding: var(--content-padding);
  & header {
    margin: var(--header-margin);
    & h2 {
      margin: 0;
      padding: calc(var(--gap) / 2) calc(var(--gap) * 2);
      background-color: pidp.$grey-10;
    }
  }

  & .access-box {
    display: flex;
    flex-direction: column;

    & .section-content-box {
      display: flex;
      flex-direction: column;

      & .carousel-box {
        padding-left: calc(var(--gap) * 2);
        padding-right: calc(var(--gap) * 2);
      }
    }
  }

  & .section-content-box {
    margin: var(--gap) 0;

    & p {
      padding-left: calc(var(--gap) * 2);
      padding-right: calc(var(--gap) * 2);
    }

    & .carousel-box {
      & .card-box {
        display: flex;
      }
    }
  }
}
.viewport-small {
  --content-padding: var(--gap) 0;
}
.viewport-xsmall {
  & header {
    & h2 {
      padding: calc(var(--gap) / 2) var(--gap);
    }
  }

  & .section-content-box {
    & p {
      padding-left: var(--gap);
      padding-right: var(--gap);
    }
  }
}

.rostering-banner {
  margin-bottom: var(--gap);

  & .mat-mdc-outlined-button {
    border: 1px solid #000;
  }
}

.adjust-text {
  font-size: smaller;
  margin: 0 10px;
}

.bcprovider-username {
  font-size: smaller;
}

.stepper-buttons {
  margin-top: 10px;

  & button:last-child {
    margin-left: 10px;
  }

  & button.top-button {
    margin-left: 0;
  }
}

.guide-information {
  font-size: smaller;
  margin-bottom: 10px;
}

.pas-step-label {
  margin: unset;
  line-height: 1.3;
}
