<div class="container-fluid page-container" uiPidpInjectViewportCss>
  <div class="header-container">
    <div class="banner-mask">
      <div class="banner-content">
        <h5> Welcome to <span>OneHealthID</span> your health experience</h5>
        <p> Complete your profile to gain access to the systems you are eligible for</p>
      </div>
    </div>
  </div>
  <div class="body-container">
  <div class="card-grid">
    <div class="card">
      <img src="../../../assets/images/marcelo-leal-k7ll1hpdhFA-unsplash.jpg" alt="Profile Information">
      <div class="card-content">
        <h2>Visit your profile information</h2>
        <a href="#">Read More</a>
        <a href="#"> <fa-icon [icon]="faArrowRight"></fa-icon> </a>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/images/online-marketing-hIgeoQjS_iE-unsplash.jpg" alt="Systems access for myself">
      <div class="card-content">
        <h2>Systems access for myself</h2>
        <a href="access-request#access">Read More</a>
        <a href="access-request#access"> <fa-icon [icon]="faArrowRight"></fa-icon> </a>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/images/national-cancer-institute-KrsoedfRAf4-unsplash.jpg" alt="Interested in systems for others">
      <div class="card-content">
        <h2>Interested in systems for others</h2>
        <a href="#">Read More</a>
        <a href="#"> <fa-icon [icon]="faArrowRight"></fa-icon> </a>
      </div>
    </div>
  </div>
</div>

  <div class="back-to-top-container">
    <button class="back-to-top" (click)="scrollToTop()" *ngIf="showBackToTopButton">
      <fa-icon [icon]="faArrowUp"></fa-icon>
    </button>
    <div class="back-to-top-text" *ngIf="showBackToTopButton">Back to top</div>
  </div> 
  
</div>