<ui-page mode="large">
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-collection-notice
    [show]="acceptedCollectionNotice"
    (accepted)="onAcceptCollectionNotice($event)">
    The personal information you provide to the Provider Identity Portal
    application is collected by the British Columbia Ministry of Health under
    the authority of s. 26(a) and 26(c) of the Freedom of Information and
    Protection of Privacy Act (FOIPPA).
  </ui-collection-notice>

  <ui-alert
    *ngIf="completedProfile"
    type="success"
    icon="check_circle"
    iconType="outlined"
    title="You have completed your Provider Identity Profile">
    <ng-container uiAlertContent>
      Go to the Access to Systems section to view what systems you are eligible
      to enrol for.
    </ng-container>
    <ng-container uiAlertActions>
      <span>
        <button mat-stroked-button type="button">View Systems</button>
      </span>
    </ng-container>
  </ui-alert>

  <ui-page-section>
    <ui-page-section-subheader icon="assignment_ind" heading="Profile">
      <ng-container uiPageSectionSubheaderDesc>
        Complete the information for each portion of your Provider Identity
        Profile. This will allow the portal to identify systems for which you
        may request access.
      </ng-container>
    </ui-page-section-subheader>

    <div class="row">
      <div
        *ngFor="let section of state.profileIdentitySections"
        class="col-12 col-xl-6">
        <ui-card-summary
          [icon]="section.icon"
          [title]="section.title"
          [hint]="section.hint"
          [description]="section.description"
          [actionLabel]="section.actionLabel"
          [statusType]="section.statusType"
          [status]="section.status"
          [disabled]="section.disabled"
          (action)="onAction(section?.route)">
          <ng-container uiCardSummaryHint>
            {{ section.hint }}
          </ng-container>
          <ng-container uiCardSummaryContent>
            {{ section.description }}
          </ng-container>
        </ui-card-summary>
      </div>
    </div>
  </ui-page-section>

  <ui-page-section>
    <ui-anchor-link linkId="access"></ui-anchor-link>
    <ui-page-section-subheader icon="assignment" heading="Access to Systems">
      <ng-container uiPageSectionSubheaderDesc>
        Complete your profile to gain access to the systems you are eligible
        for. Access to these applications will depend on your credentials, you
        will automatically gain access to those you are eligible for.
      </ng-container>
    </ui-page-section-subheader>

    <div class="row">
      <div
        *ngFor="let section of state.accessToSystemsSections"
        class="col-12 col-xl-6">
        <ui-card-summary
          [icon]="section.icon"
          [title]="section.title"
          [description]="section.description"
          [actionLabel]="section.actionLabel"
          [statusType]="section.statusType"
          [status]="section.status"
          [disabled]="section.disabled"
          (action)="onAction(section?.route)">
          <ng-container uiCardSummaryHint>
            {{ section.hint }}
          </ng-container>
          <ng-container uiCardSummaryContent>
            {{ section.description }}
          </ng-container>
        </ui-card-summary>
      </div>
    </div>
  </ui-page-section>

  <ui-page-section>
    <ui-page-section-subheader icon="school" heading="Training">
      <ng-container uiPageSectionSubheaderDesc>
        Complete these trainings.
      </ng-container>
    </ui-page-section-subheader>

    <div class="row">
      <div
        *ngFor="let section of state.trainingSections"
        class="col-12 col-xl-6">
        <ui-card-summary
          [icon]="section.icon"
          [title]="section.title"
          [hint]="section.hint"
          [description]="section.description"
          [actionLabel]="section.actionLabel"
          [statusType]="section.statusType"
          [status]="section.status"
          [disabled]="section.disabled"
          (action)="onAction(section?.route)">
          <ng-container uiCardSummaryHint>
            {{ section.hint }}
          </ng-container>
          <ng-container uiCardSummaryContent>
            {{ section.description }}
          </ng-container>
        </ui-card-summary>
      </div>
    </div>
  </ui-page-section>

  <ui-page-section>
    <ui-page-section-subheader icon="history" heading="Your Profile">
      <ng-container uiPageSectionSubheaderDesc>
        View information pertaining to your profile and interaction with the
        systems you use for work.
      </ng-container>
    </ui-page-section-subheader>

    <div class="row">
      <div
        *ngFor="let section of state.yourProfileSections"
        class="col-12 col-xl-6">
        <ui-card-summary
          [icon]="section.icon"
          [title]="section.title"
          [description]="section.description"
          [actionLabel]="section.actionLabel"
          [disabled]="section.disabled"
          (action)="onAction(section?.route)">
          <ng-container uiCardSummaryHint>
            {{ section.hint }}
          </ng-container>
          <ng-container uiCardSummaryContent>
            {{ section.description }}
          </ng-container>
        </ui-card-summary>
      </div>
    </div>
  </ui-page-section>
</ui-page>
