.viewport-all {
  --gap: 1rem;
  --font-size: 0.75rem;
  --card-border-radius: calc(var(--gap) * 0.375);
  --header-margin: unset;
  --avatar-size: 4rem;
  --content-padding: var(--gap);
  --password-splash-display: none;
}

.viewport-small,
.viewport-medium,
.viewport-large {
  --gap: 1.25rem;
  --font-size: 1rem;
}

.viewport-medium,
.viewport-large {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
  --password-splash-display: unset;
}

.page-container {
  padding: 0;
}

.header-container {
  width: auto;
  height: 27vh;
  overflow-y: auto;
  background-image: url('/assets/images/national-cancer-institute-L8tWZT4CcVQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-mask {
  width: 88.85vw;
  height: 18.165vh;
  border-radius: 8px;
  background: rgba(1, 51, 102, 0.70);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-mask h5 {
  width: 100%;
  text-align: left;
  color: var(--Colours-primary, #FFF);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 2.8rem;
}

.banner-mask h5 span {
  color: var(--Colours-primary, #FCBA19);
}

.banner-mask p {
  width: 100%;
  color: #E4E4E4;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
  padding-top: 0.1rem;
}
.body-container{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 91.5vw;
}

.card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
}

.card-content h2 {
  color: var(--Main-font-colour, var(--Colours-font, #313132));
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  height: 60px;
}

.card-content a {
  color: var(--Links, #1A5A96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
}

.card-content a:hover {
  text-decoration: none;
}

.card-content a fa-icon {
  color: var(--Links, #1A5A96);
  float: right;
  padding-right: 3px;
}

.back-to-top-container {
  position: fixed;
  bottom: 170px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-to-top {
  background-color: #38598A;
  color: #FFFFFF;
  width: 40PX;
  height: 40PX;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.back-to-top-text {
  color: #38598A;
  font-size: 13px;
  word-wrap: break-word
}

.back-to-top:hover {
  background-color: #003366;
}

.viewport-all {
  & .banner-mask {
    height: 20vh;
  }

  & .banner-mask h5 {
    text-align: left;
  }

  & .banner-mask h5 span {
    color: var(--Colours-primary, #FCBA19);
  }

  & .card-grid {
    padding-top: 2ch;
    margin: var(--margin-style);
  }

  & .card {
    width: 30%;
    margin-top: 10px;
    padding: 15px;
  }

  & .card img {
    height: 120px;
  }

  & .card-content {
    padding: 30px 0px 0px 0px;
  }

  & .card-content h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    height: 50px;
  }

  & .card-content a {
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
  }
}

// laptap large
.viewport-large {
  & .banner-mask h5 span {
    color: var(--Colours-primary, #FCBA19);
  }

  .card:hover {
    box-shadow: 2px 2px 2px rgb(194, 194, 196);
    transform: scale(1.03);
  }
}

// laptap
.viewport-medium {
  & .header-container {
    height: 25vh;

  }

  & .banner-mask {
    padding-left: 2rem;
    height: 18vh;
  }

  & .banner-mask h5 {
    font-size: 2.2rem;
  }

  & .banner-mask h5 span {
    color: var(--Colours-primary, #FCBA19);
  }

  & .banner-mask p {
    font-size: 1.3rem;
  }

  & .card {
    width: 30%;
  }

  & .card img {
    height: 90px;
  }

  & .card-content h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    height: 60px;
  }

  & .card-content a {
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
  }

  .card:hover {
    box-shadow: 2px 2px 2px rgb(194, 194, 196);
    transform: scale(1.03);
  }
}

// tab
.viewport-small {
  & .header-container {
    height: 25vh;
  }

  & .banner-mask {
    padding: 0 2rem;
    height: 20vh;
  }

  & .banner-mask h5 {
    font-size: 2.3rem;
  }

  & .banner-mask h5 span {
    color: var(--Colours-primary, #FCBA19);
  }

  & .banner-mask p {
    font-size: 1rem;
  }

  & .card {
    width: 30%;
  }

  & .card img {
    height: 75px;
  }

  & .card-content h2 {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    height: 40px;
  }

  & .card-content a {
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
  }

  .card-footer {
    margin-top: 70%;
    position: relative;
  }
  .back-to-top-container {
    position: fixed;
    bottom: 100px;
    right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-to-top {
    width: 40PX;
    height: 40PX;
  }

  .back-to-top-text {
    font-size: 13px;
  }
}

// mobile
.viewport-xsmall {
  --gap: 2rem;
  --font-size: 1rem;

  .form-button-box {
    & button {
      margin-top: 20px;
    }
  }

  & .header-container {
    height: 30vh;
    background-size: 200vw 100vh;
  }

  & .banner-mask {
    padding-left: 1rem;
    height: 25vh;
  }

  & .banner-mask h5 {
    font-size: 1.3rem;
  }

  & .banner-mask h5 span {
    color: var(--Colours-primary, #FCBA19);
  }

  & .banner-mask p {
    font-size: 0.75rem;
  }

  & .card-grid {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  & .card {
    width: 90vw;
  }

  & .card img {
    height: 105px;
  }

  & .card-content {
    height: 180px;
  }

  & .card-content h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    height: 95px;
    padding-top: 15px
  }

  & .card-content a {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
  }

  .back-to-top-container {
    position: fixed;
    bottom: 170px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
  }

  .back-to-top {
    width: 30PX;
    height: 30PX;
  }

  .back-to-top fa-icon {
    padding-top: 2px;
  }

  .back-to-top-text {
    font-size: 10px;
  }
}
