.header-container {
  width: 99vw; 
  height: 30vh;
  overflow-y: auto;
  transition: all 0.5s;
  background-image: url('/assets/images/national-cancer-institute-L8tWZT4CcVQ-unsplash.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  border-radius: var(--card-border-radius);
  padding: calc(var(--gap) * 2);
  position: relative;
  margin-left: -115px;
  
}
.banner-mask{
  height: 25vh;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(1, 51, 102, 0.70);
  margin: 20px 80px 20px 80px;
}

.banner-mask h2{
  width: 100%;
  text-align: center;
  color: var(--Colours-primary, #FFF);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 5vh;
}
.banner-mask h2 span{
  color: var(--Colours-primary, #FCBA19);
}
.banner-mask p{
  width: 100%;
  text-align: center;
  color: #E4E4E4;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
 
.card-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: auto;
  height: 150px;
}

.card-content {
  padding: 1rem;
}
.card-content h2 {
  color: var(--Main-font-colour, var(--Colours-font, #313132));
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; 
  height: 60px;
}

.card-content a {
  color: var(--Links, #1A5A96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; 
  text-decoration: none;
}
.card:hover {
  box-shadow: 2px 2px 2px rgb(194, 194, 196);
  transform:scale(1.1);
}


.card-content a:hover {
  text-decoration: none;
}
