<div class="box" uiPidpInjectViewportCss>
  <section *ngFor="let alert of alerts" class="alert-box section-box">
    <header>
      <h2>{{ alert.heading }}</h2>
    </header>
    <div class="section-content-box">
      <p>{{ alert.content }}</p>
    </div>
  </section>
  <section class="section-box rostering-banner">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>location_on</mat-icon>
        <strong>Looking to access Provincial Attachment System?</strong>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-stepper orientation="vertical" #stepper>
          <mat-step>
            <ng-template matStepLabel>Enter your contact details</ng-template>
            <div>
              <p class="guide-information">
                Please enter your email and phone number in case we need to
                contact you.
              </p>
              <button
                mat-flat-button
                type="button"
                color="primary"
                aria-labelledby="complete-personal-information"
                [disabled]="demographics$ | async"
                (click)="navigateTo()">
                Enter your contact details
              </button>
            </div>
            <div class="adjust-text">
              <em
                >Need help? Try this
                <a uiAnchor [attr.href]="personalInfoTutorial"
                  >video tutorial</a
                ></em
              >
            </div>
            <div class="stepper-buttons">
              <button mat-flat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Enter your College Licence</ng-template>
            <div>
              <p class="guide-information">
                Please provide your college license so we can give you access to
                the appropriate systems. If you don't have a college license
                (example MOA) you need to select NONE for your college license.
              </p>
              <button
                mat-flat-button
                type="button"
                color="primary"
                aria-labelledby="complete-college-licence"
                [disabled]="collegeLicence$ | async"
                (click)="navigateTo()">
                Enter your College Licence
              </button>
            </div>
            <div class="adjust-text">
              <em
                >Need help? Try this
                <a uiAnchor [attr.href]="collegeLicenceTutorial"
                  >video tutorial</a
                ></em
              >
            </div>
            <div class="stepper-buttons">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel
              >Accept the User Access Agreement</ng-template
            >
            <div>
              <p class="guide-information">
                The user access agreement is a general agreement on acceptable
                use of the services you are enrolling in.
              </p>
              <button
                mat-flat-button
                type="button"
                color="primary"
                aria-labelledby="complete-uaa"
                [disabled]="uaa$ | async"
                (click)="navigateTo()">
                Accept the User Access Agreement
              </button>
            </div>
            <div class="adjust-text">
              <em
                >Need help? Try this
                <a uiAnchor [attr.href]="uaaTutorial">video tutorial</a></em
              >
            </div>
            <div class="stepper-buttons">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>
              Create a BCProvider Credential
              <p *ngIf="bcProviderStatusCode === 2" class="adjust-text">
                {{ bcProviderUsername }}
              </p></ng-template
            >
            <div>
              <p class="guide-information">
                A BCProvider is a credential used to access health applications.
                In the future the BCProvider will be integrated with multiple
                health authorities, EMRs and other government health services.
              </p>
              <button
                mat-flat-button
                type="button"
                color="primary"
                aria-labelledby="complete-bcprovider"
                [disabled]="bcProvider$ | async"
                (click)="navigateTo()">
                Create a BCProvider Credential
              </button>
            </div>
            <div class="adjust-text">
              <em
                >Need help? Try this
                <a uiAnchor [attr.href]="bcProviderTutorial"
                  >video tutorial</a
                ></em
              >
            </div>
            <div class="stepper-buttons">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>
              Login to Provincial Attachment System with your BCProvider
            </ng-template>
            <div>
              <p class="guide-information">
                Use your newly created BCProvider to login to the Provincial
                Attachment System
              </p>
              <button
                mat-flat-button
                type="button"
                color="primary"
                aria-labelledby="navigate-to-rostering"
                [disabled]="rostering$ | async"
                (click)="navigateTo()">
                Login to Provincial Attachment System with your BCProvider
              </button>
            </div>
            <div class="stepper-buttons">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>
              Invite non-licensed (MOA) to Provincial Attachment System
            </ng-template>
            <div>
              <ol class="guide-information" type="I">
                <li>Click Endorsements</li>
                <li>
                  Input the email of the MOA you want to invite. They will
                  receive an email and will sign up with BC Services App.
                </li>
                <li>
                  The MOA will accept the endorsement. You will see confirmation
                  in your endorsements summary.
                </li>
                <li>
                  Accept the endorsement confirmation and you will now have a
                  working relationship with the MOA.
                </li>
              </ol>
              <button
                mat-flat-button
                type="button"
                color="primary"
                routerLink="/organization-info/endorsements"
                aria-labelledby="navigate-to-endorsements"
                [disabled]="rostering$ | async">
                Endorsements
              </button>
            </div>
            <div class="stepper-buttons">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-stepper>
      </ng-template>
    </mat-expansion-panel>
  </section>
  <ng-container *ngIf="state$ | async as state">
    <section class="profile-box section-box">
      <ui-scroll-target targetId="profile"></ui-scroll-target>
      <header>
        <h2>Profile</h2>
      </header>
      <div class="section-content-box">
        <p>
          Complete the information for each portion of your Provider Identity
          Profile. This will allow the portal to identify the systems you may
          request access for.
        </p>
        <div class="carousel-box">
          <app-portal-carousel
            portalCategoryName="profile"
            [sections]="state.profile">
          </app-portal-carousel>
        </div>
      </div>
    </section>
    <section
      *ngIf="state.organization.length"
      class="organization-box section-box">
      <ui-scroll-target targetId="organization"></ui-scroll-target>
      <header>
        <h2>Organization Information</h2>
      </header>
      <div class="section-content-box">
        <p>
          Provide your organization's details to gain access to the systems you
          are eligible for.
        </p>
        <div class="carousel-box">
          <app-portal-carousel
            portalCategoryName="organization"
            [sections]="state.organization">
          </app-portal-carousel>
        </div>
      </div>
    </section>
    <section *ngIf="state.access.length" class="access-box section-box">
      <ui-scroll-target targetId="access"></ui-scroll-target>
      <header>
        <h2>Access to Systems</h2>
      </header>
      <div class="section-content-box">
        <p>
          Complete your profile to gain access to the systems you are eligible
          for.
        </p>
        <div class="carousel-box">
          <app-portal-carousel
            portalCategoryName="access-to-systems"
            [sections]="state.access"></app-portal-carousel>
        </div>
      </div>
    </section>
    <section *ngIf="state.training.length" class="training-box section-box">
      <ui-scroll-target targetId="training"></ui-scroll-target>
      <header>
        <h2>Complete these trainings</h2>
      </header>
      <div class="section-content-box">
        <ng-container *ngIf="state?.training?.length; else noTraining">
          <p>
            Complete your profile to gain access to the systems you are eligible
            for.
          </p>
          <div class="carousel-box">
            <app-portal-carousel
              portalCategoryName="training"
              [sections]="state.training"></app-portal-carousel>
          </div>
        </ng-container>
        <ng-template #noTraining>
          <p class="lead">No training available at this time.</p>
        </ng-template>
      </div>
    </section>
    <section *ngIf="state.history.length" class="history-box section-box">
      <ui-scroll-target targetId="history"></ui-scroll-target>
      <header>
        <h2>History</h2>
      </header>
      <div class="section-content-box">
        <p>
          View information pertaining to your profile and interaction with the
          systems you use for work.
        </p>
        <div class="carousel-box">
          <app-portal-carousel
            portalCategoryName="history"
            [sections]="state.history"></app-portal-carousel>
        </div>
      </div>
    </section>
  </ng-container>
  <app-get-support>
    <ui-scroll-target targetId="support"></ui-scroll-target>
  </app-get-support>
</div>
