<ui-page>
  @if (document) {
    <ui-page-header>{{ document.title }}</ui-page-header>
    <ui-page-section>
      <p [innerHtml]="document.content | safe: 'html'"></p>
    </ui-page-section>
  }

  <ng-template appViewDocument></ng-template>

  <ui-page-footer mode="reverse">
    <button
      mat-stroked-button
      uiPageFooterAction
      color="primary"
      type="button"
      tabindex="0" (keydown.enter)="onBack()" (click)="onBack()">
      Back
    </button>
  </ui-page-footer>
</ui-page>
