<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader icon="history" heading="Transactions">
      <ng-container uiPageSectionSubheaderDesc>
        View the transactions you have performed.
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-page-footer>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      routerLink="../../">
      Back Home
    </button>
  </ui-page-footer>
</ui-page>
