@use 'pidp-variables' as pidp;

.viewport-all {
  --gap: 1rem;
  --font-size: 0.75rem;
  padding: 1.25rem 0.75rem;
}

.viewport-small,
.viewport-medium,
.viewport-large {
  --gap: 1.25rem;
  --font-size: 1rem;
}

.viewport-xsmall {
  header {
    h1 {
      word-wrap: break-word;
    }
  }
  .form-button-box {
    & button {
      margin-top: 20px;
    }
  }
  & .username-overflow {
    overflow-wrap: break-word;
  }
  & .form-card {
    display: block !important;
    & .form-content {
      & .field {
        & .mat-mdc-form-field {
          margin-bottom: 18px !important;
        }
      }
    }
  }
  & .reset-mfa {
    display: block !important;

    & .mfa-content {
      & h1 {
        word-wrap: break-word;
      }
      & .mfa-content-boxes {
        flex-direction: column;
      }
    }
  }
}

.viewport-all {
  --header-margin: unset;
  --avatar-size: 4rem;
  --content-padding: var(--gap);
}

.viewport-medium {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
}

.viewport-medium,
.viewport-large {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
  .reset-mfa {
    p {
      & .learn-more {
        font-size: 15px !important;
      }
    }
  }
}

.viewport-all {
  & header {
    margin: var(--header-margin);
    & h1 {
      color: #036;
      font-size: 3.125rem;
      font-weight: 700;
    }
  }
  & .error-card {
    background-color: #ffdfdf;
  }
  & .show-card {
    padding: var(--gap);
    margin-bottom: var(--gap);
    opacity: 1;
    border: solid 1px pidp.$grey-30;
    border-radius: var(--card-border-radius);
  }
  & .content {
    padding: var(--content-padding);
    font-size: var(--font-size);
    display: flex;
    gap: var(--gap);

    & .form-card {
      display: flex;
      flex-basis: 100%;
      border: solid 1px pidp.$grey-30;
      background-color: #f2f2f2;

      & .password-form {
        flex: 1;
        margin: var(--gap);
        padding: var(--gap);

        & .username {
          color: var(--BC-gov-form-font-colour, #aaa);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        & .username-intro {
          margin-bottom: 0;
        }

        & .form-content {
          display: flex;
          flex-direction: column;
          & .field {
            display: flex;
            flex-direction: column;
            & label {
              font-weight: bold;
            }
            & .mat-mdc-form-field {
              margin-bottom: 0;
            }
            & .mat-mdc-form-field-error {
              font-size: 0.75rem;
            }
          }
          & .form-button-box {
            display: flex;
            & button {
              flex: 1;
            }
          }
          & .help-link {
            font-size: 0.75rem;
          }
          & .error {
            font-size: 0.75rem;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out;
            max-height: 0;
          }
          & .error-show {
            transition: max-height 0.5s ease-in-out;
            max-height: 200px;
          }
        }
      }
    }

    & .reset-mfa {
      display: flex;
      flex-basis: 100%;
      border: solid 1px pidp.$grey-30;
      background-color: #f2f2f2;

      & .mfa-content {
        display: flex;
        flex-direction: column;
        margin: var(--gap);
        padding: var(--gap);

        p {
          margin-bottom: 23px;
          & .learn-more {
            text-decoration: none;
            .arrow-right {
              margin-left: 2px;
            }
          }
        }

        & .mfa-disclaimer {
          color: var(--BC-gov-form-font-colour, #aaa);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        & .mfa-content-boxes {
          display: flex;
          gap: 2rem;

          & .steps-box,
          .button-box {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            border: solid 1px pidp.$grey-30;
            background-color: white;
          }

          & .steps-box {
            align-items: flex-start;
            & .steps-box-content {
              margin: var(--gap);
              padding: var(--gap);
              img {
                height: 36px;
              }
            }
          }

          & .button-box {
            & .button-box-img {
              height: 100%;
              img {
                max-width: 100% !important;
                position: unset !important;
                object-fit: cover;
              }
            }

            & .button-box-btn {
              color: #036;

              & .reset-mfa-button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: pidp.$yellow;
                border: none;
                padding: 12px 32px;
                gap: 10px;
                width: 100%;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1px;
              }
              .disabled {
                display: block;
                img {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    & .actions {
      margin-top: var(--gap);
    }
  }
}
.viewport-all.dialog-box {
  padding: 24px;

  & .dialog-header {
    display: flex;
    justify-content: flex-end;
    & button {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px pidp.$grey-40;
      background-color: transparent;
      & fa-icon {
        font-size: 1.5rem;
        color: pidp.$grey-40;
      }
    }
  }
  & .dialog-content {
    display: flex;
    flex-direction: column;
    & h3,
    & p {
      text-align: center;
    }
    & .dialog-icon {
      display: flex;
      justify-content: center;
      margin-bottom: var(--gap);
      & fa-icon {
        font-size: 10rem;
        height: 10rem;
        width: 10rem;
        color: pidp.$green;
      }
    }
  }
}

.viewport-small {
  fa-icon {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 1.5rem;
  }

  span {
    font-size: 0.9rem;
  }

  .form-card {
    & .form-content {
      & .field {
        & .mat-mdc-form-field {
          margin-bottom: 18px !important;
        }
      }
    }
  }
  .reset-mfa {
    p {
      & .learn-more {
        font-size: 15px !important;
      }
    }
  }
}

.viewport-small,
.viewport-xsmall {
  & header {
    & h1 {
      font-size: 40px;
      line-height: 1.1;
    }
  }
  & .content {
    flex-direction: column;
  }
}
