@use 'pidp-variables' as pidp;

.viewport-all {
  --gap: 1rem;
  --font-size: 0.75rem;
  padding: 1.25rem 0.75rem;
}

.viewport-small,
.viewport-medium,
.viewport-large {
  --gap: 1.25rem;
  --font-size: 1rem;
}

.viewport-xsmall {
  .breadcrumb {
    margin: 0px 20px 0px 2px;

    img {
      margin-right: 2px;
    }
    span {
      font-size: 0.8rem;
    }
    .home-text {
      display: none;
    }
    fa-icon {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 1.25rem;
    }
  }
  .form-button-box {
    & button {
      margin-top: 20px;
    }
  }
  & .mobile-image {
    position: relative;
    & img {
      display: block !important;
      max-width: 100%;
      height: auto;
      position: relative !important;
    }
  }
  & .username {
    & .username-overflow {
      overflow-wrap: break-word;
    }
  }
  & .form-card {
    display: block !important;
    & .form-content {
      & .field {
        & .mat-mdc-form-field {
          margin-bottom: 18px !important;
        }
      }
    }
  }
  & .password-splash {
    & .password-splash-content {
      & .text-box {
        display: none !important;
      }
      & .image {
        display: none !important;
      }
    }
  }
}

.viewport-small {
  .form-card {
    & .form-content {
      & .field {
        & .mat-mdc-form-field {
          margin-bottom: 18px !important;
        }
      }
    }
  }
}

.viewport-all {
  --header-margin: unset;
  --avatar-size: 4rem;
  --content-padding: var(--gap);
  --password-splash-display: unset;
}

.viewport-medium {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
  --password-splash-display: unset;
  --password-splash: {
    flex: 1;
  };
}

.viewport-medium,
.viewport-large {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
  --password-splash-display: unset;
}

.viewport-all {
  .breadcrumb {
    padding: 1rem 0;
    ul {
      display: flex;
      align-items: center;
      padding: 0px;
    }

    fa-icon {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      color: #d9d9d9;
      font-size: 1.75rem;
    }

    ul li {
      display: flex;
    }

    span {
      font-size: 1rem;
    }

    button:disabled {
      color: #aaa !important;
    }

    img {
      margin-right: 10px;
      margin-bottom: 6px;
    }
  }

  & header {
    margin: var(--header-margin);
    & h1 {
      color: #036;
      font-size: 3.125rem;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  & .content {
    padding: var(--content-padding);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;

    & .error-card {
      background-color: #ffdfdf;
    }
    & .message-card {
      background-color: pidp.$grey-10;
    }
    & .error-card,
    & .message-card {
      // Use transitions so the cards slide in when displayed with show-card
      transition-property: padding-top, padding-bottom, margin-bottom, opacity;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      // Initially hide these cards
      padding: 0;
      margin-bottom: 0;
      width: var(--form-card-width);
      opacity: 0;

      & p {
        margin: 0;
      }
    }
    & .show-card {
      padding: var(--gap);
      margin-bottom: var(--gap);
      opacity: 1;
      border: solid 1px pidp.$grey-30;
      border-radius: var(--card-border-radius);
    }

    & .form-card {
      border: solid 1px pidp.$grey-30;
      display: flex;

      & .password-form {
        flex: 1;
        & h3 {
          margin: var(--gap) 0;
          padding: 0;
        }
        & h2 {
          text-align: center;
          margin: var(--gap) 0;
          padding: 0;
        }
      }
      & .password-splash {
        flex: 1;
        display: var(--password-splash-display);

        & .password-splash-content {
          display: flex;
          justify-content: center;
          align-items: center;
          // Stretch to fit vertically.
          height: 100%;

          & .image {
            flex: 1;
            display: flex;
            height: 100%;
            img {
              flex: 1;
              width: 100%;
              height: auto;
            }
          }
          & .text-box {
            position: absolute;
            margin: calc(3 * var(--gap));
            padding: calc(2 * var(--gap)) var(--gap);
            display: flex;
            flex-direction: column;
            background-color: rgba(94, 130, 118, 0.9);
            & div {
              display: flex;
              justify-content: center;
            }
            & .lets {
              color: rgba(255, 255, 255, 1);
              font-size: 2.1rem;
              line-height: 1.2;
            }
            & .using {
              color: pidp.$font-color-default;
              font-size: 0.9rem;
            }
          }
        }
      }

      & h3 {
        padding: calc(var(--gap) / 2) 0;
        text-align: center;
        border-top-left-radius: var(--card-border-radius);
        border-top-right-radius: var(--card-border-radius);
      }
      & .username {
        display: flex;
        flex-direction: column;
        padding: var(--gap);
        margin: 20px;
        text-align: center;
        background-color: #f2f2f2;
        border: 1px solid #b8b8b8;
      }
      & .form-content {
        display: flex;
        flex-direction: column;
        padding: var(--gap);
        & .field {
          display: flex;
          flex-direction: column;
          & label {
            font-weight: bold;
          }
          & .mat-mdc-form-field {
            margin-bottom: 0;
          }
          & .mat-mdc-form-field-error {
            font-size: 0.75rem;
          }
        }
        & .form-button-box {
          display: flex;
          & button {
            flex: 1;
          }
        }
        & .help-link {
          font-size: 0.75rem;
        }
        & .error {
          font-size: 0.75rem;
          overflow: hidden;
          transition: max-height 0.5s ease-in-out;
          max-height: 0;
        }
        & .error-show {
          transition: max-height 0.5s ease-in-out;
          max-height: 200px;
        }
      }
    }
    & .actions {
      margin-top: var(--gap);
    }
  }
  & .mobile-image {
    & img {
      display: none;
    }
  }
}
.viewport-all.dialog-box {
  padding: 24px;

  & .dialog-header {
    display: flex;
    justify-content: flex-end;
    & button {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px pidp.$grey-40;
      background-color: transparent;
      & fa-icon {
        font-size: 1.5rem;
        color: pidp.$grey-40;
      }
    }
  }
  & .dialog-content {
    display: flex;
    flex-direction: column;
    & h3,
    & p {
      text-align: center;
    }
    & .dialog-icon {
      display: flex;
      justify-content: center;
      margin-bottom: var(--gap);
      & fa-icon {
        font-size: 10rem;
        height: 10rem;
        width: 10rem;
        color: pidp.$green;
      }
    }
  }
}

.viewport-small {
  .breadcrumb {
    margin: 0px 20px 0px 5px;
  }
  fa-icon {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 1.5rem;
  }

  span {
    font-size: 0.9rem;
  }
}

.viewport-small,
.viewport-xsmall {
  & header {
    & h1 {
      font-size: 40px;
      line-height: 1.1;
    }
  }
}
