<div class="container-box container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <div class="content-box">
    <header>
      <h1>BC Provider Account Information</h1>
    </header>
    <div class="content">
      <ng-container *ngIf="showErrorCard">
        <section class="error-card" [class.show-card]="showErrorCard">
          <p>An error occurred.</p>
        </section>
      </ng-container>
      <section class="form-card">
        <div class="password-form">
          <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
            <div class="mobile-image">
              <img
                ngSrc="/assets/images/bcprovider-account-1000x1103.webp"
                fill
                priority />
            </div>
            <h2>Password reset</h2>
            <div class="username">
              <h4><strong>Provided username</strong></h4>
              <h5 class="username-overflow">{{ username }}</h5>
            </div>
            <div class="form-content">
              <div class="field">
                <label id="bc-provider-application-new-password"
                  >Choose new password</label
                >
                <mat-form-field>
                  <input
                    matInput
                    formControlName="newPassword"
                    type="password"
                    aria-labelledby="bc-provider-application-new-password" />
                  <mat-error>{{ formState.getErrorMessage() }}</mat-error>
                </mat-form-field>
              </div>
              <div class="field">
                <label id="bc-provider-application-confirm-password"
                  >Confirm new password</label
                >
                <mat-form-field>
                  <input
                    matInput
                    formControlName="confirmPassword"
                    type="password"
                    aria-labelledby="bc-provider-application-confirm-password"
                    [errorStateMatcher]="errorMatcher" />
                  <mat-error *ngIf="formState.form.hasError('nomatch')"
                    >Must match the new password entered above</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-button-box">
                <button
                  mat-flat-button
                  type="submit"
                  color="primary"
                  [disabled]="!isResetButtonEnabled">
                  Reset password
                </button>
              </div>
              <app-need-help></app-need-help>
            </div>
          </form>
        </div>
        <div class="password-splash">
          <div class="password-splash-content">
            <div class="text-box">
              <div>
                <span class="lets">Let's get started</span>
              </div>
              <div>
                <span class="using">using BC Provider today!</span>
              </div>
            </div>
            <picture class="image">
              <source
                type="image/webp"
                srcset="/assets/images/bcprovider-account-1000x1103.webp" />
              <!-- Use png as a fallback when webp is not supported by the browser. -->
              <source
                type="image/png"
                srcset="/assets/images/bcprovider-account-1000x1103.png" />
              <img title="woman" loading="lazy" aria-labelledby="" />
            </picture>

            <div *ngIf="false" class="text-box">
              <div>
                <span class="lets">Let's get started</span>
              </div>
              <div>
                <span class="using">using BC Provider today!</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="actions">
        <button
          mat-stroked-button
          type="button"
          color="primary"
          (click)="onBack()">
          Back
        </button>
      </section>
    </div>
  </div>
</div>

<ng-template #successDialog>
  <app-success-dialog
    title="Password reset completed"
    [username]="username"
    [componentType]="componentType"></app-success-dialog>
</ng-template>
