<div class="box" uiPidpInjectViewportCss>
  <mat-stepper orientation="vertical" #stepper [selectedIndex]="selectedIndex">
    <mat-step
      [state]="bcProviderStatusCode === StatusCode.COMPLETED ? 'done' : 'number'"
      [completed]="bcProviderStatusCode === StatusCode.COMPLETED">
      <ng-template matStepLabel> Create a BCProvider Credential </ng-template>
      <div>
        <p class="guide-information">
          A BCProvider is a credential used to access health applications. In
          the future the BCProvider will be integrated with multiple health
          authorities, EMRs and other government health services.
        </p>
        <button
          mat-flat-button
          type="button"
          color="primary"
          routerLink="/access/bc-provider-application"
          aria-labelledby="complete-bcprovider"
          [disabled]="bcProvider$ | async">
          Create a BCProvider Credential
        </button>
      </div>
      <div class="adjust-text">
        <em
          >Need help? Try this
          <a uiAnchor [attr.href]="bcProviderTutorial">video tutorial</a>
        </em>
      </div>
      <div class="stepper-buttons">
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        <p class="pas-step-label">
          Invite others to the Provincial Attachment System (PAS)<br />
          (Optional)
        </p>
      </ng-template>
      <div>
        <div
          *ngIf="!hasCpn && (destination$ | async) === Destination.PORTAL; else licenced">
          <p>
            <i
              >Because you are MOA or do <strong>not</strong> have a college
              licence, then this step will become part of the process.</i
            >
          </p>
          <mat-stepper class="moa-message-steps">
            <mat-step editable="false" [completed]="false">
              <ng-template matStepLabel>Start endorsement</ng-template>
            </mat-step>
            <mat-step editable="false" [completed]="false">
              <ng-template matStepLabel>Pending Approval</ng-template>
            </mat-step>
            <mat-step editable="false" [completed]="false">
              <ng-template matStepLabel
                >Completion and PAS login available</ng-template
              >
            </mat-step>
          </mat-stepper>
        </div>
        <ng-template #licenced>
          <p class="guide-information">
            Do you work with others who need access to the PAS? For example,
            assistants or other members of your Care Team, who may or may not
            have a professional license? <br />If you do, then you can send
            trusted colleagues a OneHealthID access invitation by clicking the
            “Endorsements” button below.
          </p>
        </ng-template>
        <button
          mat-flat-button
          type="button"
          color="primary"
          routerLink="/organization-info/endorsements"
          aria-labelledby="navigate-to-endorsements">
          Endorsements
        </button>
      </div>
      <div class="stepper-buttons">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        Multi-Factor Authentication (MFA) Set-Up Guide
      </ng-template>
      <p class="guide-information">
        If you need help setting up your Multi-Factor Authentication (MFA),
        please
        <a href="assets/documents/mfa.pdf" download>download this PDF</a>
      </p>

      <div class="stepper-buttons">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        Login to Provincial Attachment System with your BCProvider
      </ng-template>
      <div>
        <p class="guide-information">
          Use your newly created BCProvider to login to the Provincial
          Attachment System
        </p>
        <p
          *ngIf="bcProviderStatusCode === StatusCode.COMPLETED"
          class="bcprovider-username">
          <strong>{{ bcProviderUsername }}</strong>
          <button
            mat-icon-button
            type="button"
            matTooltip="Copy your BCProvider to clipboard"
            aria-label="Copy your BCProvider to clipboard"
            [cdkCopyToClipboard]="bcProviderUsername"
            (cdkCopyToClipboardCopied)="onCopy()">
            <mat-icon>content_paste</mat-icon>
          </button>
        </p>
        <button
          mat-flat-button
          type="button"
          color="primary"
          aria-labelledby="navigate-to-pas"
          [disabled]="pas$ | async"
          (click)="navigateTo()">
          Login to Provincial Attachment System with your BCProvider
        </button>
      </div>
      <div class="stepper-buttons">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
