@use 'pidp-variables' as pidp;

.viewport-all {
  --gap: 1rem;
  --font-size: 0.75rem;
}

.viewport-small,
.viewport-medium,
.viewport-large {
  --gap: 1.25rem;
  --font-size: 1rem;
}
.viewport-all {
  --header-margin: unset;
  --card-border-radius: calc(var(--gap) * 0.375);
  --content-padding: var(--gap);
  --form-card-width: unset;
  padding: 1.25rem 0.75rem;
}
.viewport-medium,
.viewport-large {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
  --form-card-width: 25rem;
}

.viewport-all {
  & .content {
    padding-bottom: var(--content-padding);
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .content-header h1 {
      color: #003366;
      font-size: 50px;
      font-weight: 700;
      word-wrap: break-word;
    }

    .main {
      display: grid;
      grid-template-columns: calc(60% - 15px) calc(40% - 15px);
      gap: 20px;
      min-height: 340px;
      margin: calc(var(--gap)) 0;

      & .card {
        display: flex;
        flex-direction: column;
        padding-right: calc(var(--gap) * 0.9);
        position: relative;
        line-height: 1.5rem;
        margin-left: -1.5rem;

        .stepper-title {
          color: #313132;
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: calc(var(--gap) / 2);
          padding-left: 1.8rem;
        }
      }
      .pas-button {
        height: 15rem;
        background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 0) 40%,
          rgba(158, 204, 211, 1) 100%
        );
        img {
          object-fit: cover;
          z-index: -2;
        }

        div.auth-card {
          padding: 2rem;
        }

        .card-container {
          display: flex;
          flex-direction: column;
          height: 95%;
          width: 100%;
          align-items: flex-start;

          .card-header,
          .card-footer {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .card-header {
            color: white;
            display: flex;
            padding: 0.65rem 1rem;
            border-radius: 0.25rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            background: rgba(0, 0, 0, 0.7);
            margin-bottom: 6.5rem;

            h3 {
              margin: 0;
            }
          }

          .card-footer {
            align-items: flex-end;
            button {
              z-index: 1;
              padding: 0.35rem 2rem;
              &:disabled {
                border-radius: var(--layout-borderRadius-medium, 0.25rem);
                background: var(
                  --surface-color-primary-button-disabled,
                  #edebe9
                );
              }
            }
          }
        }
      }
      .pas-button-text {
        font-size: smaller;
      }
    }
  }
}

.viewport-small {
  .main {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px) !important;

    .card-header {
      margin-bottom: 5rem !important;
    }
  }
}

.viewport-xsmall {
  .content-header {
    margin: 0px 20px 0px 20px;
  }

  .content-header h1 {
    font-size: 40px;
    line-height: 1.1;
  }

  .main {
    display: flex !important;
    flex-direction: column !important;

    & .card {
      margin-left: 0 !important;
    }

    .pas-step-label {
      line-height: 1.1;
    }

    .pas-button {
      div.auth-card {
        padding: 20px 0px 0px 20px !important;
      }

      .card-container {
        height: 50% !important;

        .auth-card-footer {
          padding: 7.5px 0px 7.5px 0px;
        }

        .card-header {
          margin-bottom: 4.5rem !important;
        }
      }
    }
  }
}

.viewport-medium {
  div.auth-card {
    padding: 20px 0 10px 20px !important;
  }
}

.smaller-text {
  font-size: smaller;
  margin: 0 10px;
}

.bcprovider-username {
  font-size: smaller;
}

.stepper-buttons {
  margin-top: 10px;
  & button {
    border: pidp.$bcgov-color-primary solid 2px;
    color: pidp.$bcgov-color-primary;
  }

  & button:last-child {
    margin-left: 10px;
  }

  & button.top-button {
    margin-left: 0;
  }
}

.guide-information {
  font-size: smaller;
  margin-bottom: 10px;
}

.pas-step-label {
  margin: unset;
  line-height: 1.3;
}
