@use 'pidp-variables' as pidp;

.viewport-all {
  --gap: 1rem;
  --font-size: 0.75rem;
}

.viewport-small,
.viewport-medium,
.viewport-large {
  --gap: 1.25rem;
  --font-size: 1rem;
}
.viewport-all {
  --header-margin: unset;
  --card-border-radius: calc(var(--gap) * 0.375);
  --content-padding: var(--gap);
  --form-card-width: unset;
}
.viewport-medium,
.viewport-large {
  --header-margin: var(--gap) 0 0;
  --content-padding: var(--gap) 0;
  --form-card-width: 25rem;
}

.viewport-all {
  & .content {
    padding: var(--content-padding) 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .breadcrumb ul {
      list-style: none;
      top: 0;
      right: 0;
      padding: 0px;
    }

    .breadcrumb fa-icon {
      height: 12px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .breadcrumb ul li {
      display: inline;
    }

    .breadcrumb a,
    .text-button {
      text-decoration: none;
      color: #1a5a96;
      font-size: 12px;
      font-weight: 400;
      line-height: 27px;
      word-wrap: break-word;
    }
    .content-header h1 {
      color: #003366;
      font-size: 50px;
      font-weight: 700;
      word-wrap: break-word;
    }

    .main {
      display: grid;
      grid-template-columns: calc(50% - 15px) calc(50% - 15px);
      gap: 20px;
      min-height: 340px;
      margin: calc(var(--gap) * 2) 0;

      & .card {
        display: flex;
        flex-direction: column;
        padding-right: calc(var(--gap) * 0.9);
        position: relative;
        line-height: 1.5rem;
      }
      .pas-button {
        height: 20rem;
        img {
          object-fit: cover;
          z-index: -2;
        }

        img.img-doctor {
          object-position: -10px -100px;
        }

        div.auth-card {
          padding: 20px 0px 55px 50px;
        }

        .card-container {
          display: flex;
          flex-direction: column;
          height: 95%;
          width: 100%;
          align-items: flex-start;

          .card-header,
          .card-body,
          .card-footer {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .card-body {
            img.logo {
              z-index: -1;
              -webkit-transform: none;
              transform: none;
              position: relative !important;
              height: 45px;
              width: 175px;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

.viewport-xsmall {
  .content-header {
    margin: 0px 20px 0px 20px;
  }

  .content-header h1 {
    font-size: 40px;
  }

  .breadcrumb {
    margin: 0px 20px 0px 20px;
  }
  .main {
    display: flex !important;
    flex-direction: column !important;

    .pas-button {
      img.img-doctor {
        height: 15rem !important;
        object-position: -12px -72px !important;
      }

      div.auth-card {
        padding: 20px 0px 0px 0px !important;
      }

      .card-container {
        height: 50% !important;
        .auth-card-header {
          padding-left: 20px;
        }

        .auth-card-body {
          padding-left: 15px;
        }

        .auth-card-footer {
          padding: 15px 0px 0px 30px;
        }
      }
    }
  }
}

.container.viewport-small {
  .content-header h1 {
    font-size: 40px;
  }

  .content-header {
    margin: 0px 20px 0px 20px;
  }

  .breadcrumb {
    margin: 0px 20px 0px 20px;
  }

  .main {
    .pas-button {
      img.img-doctor {
        height: 52% !important;
        width: 100% !important;
        object-position: -22px -55px !important;
      }

      div.auth-card {
        padding: 20px 0px 60px 20px !important;
      }
      .card-container {
        height: 50% !important;
        .auth-card-body {
          padding-bottom: 15px;
        }
      }
    }
  }
}

.container.viewport-medium {
  .main {
    .pas-button {
      img.img-doctor {
        height: 80% !important;
        width: 85% !important;
        object-position: -15px -80px !important;
      }
      div.auth-card {
        padding: 20px 0px 18px 15px !important;
      }
      .card-container {
        height: 55% !important;
        .auth-card-body {
          padding-bottom: 15px !important;
        }
      }
    }
  }
}

.container.viewport-medium {
  .card-container {
    height: 20rem;
  }

  .search-content {
    margin: 30px 200px 50px 20px;
  }
}

.smaller-text {
  font-size: smaller;
  margin: 0 10px;
}

.bcprovider-username {
  font-size: smaller;
}

.stepper-buttons {
  margin-top: 10px;

  & button:last-child {
    margin-left: 10px;
  }

  & button.top-button {
    margin-left: 0;
  }
}

.guide-information {
  font-size: smaller;
  margin-bottom: 10px;
}

.pas-step-label {
  margin: unset;
  line-height: 1.3;
}
