@use 'pidp-variables' as pidp;

.viewport-all {
  &.transaction-page-container {
    padding: 1.25rem 0.75rem;

    h1 {
      margin-bottom: 20px;
      color: pidp.$bcgov-color-primary;
      font-size: 50px;
      font-weight: 700;
    }

    .headline {
      color: #313132;
      font-size: 1rem;
      line-height: 1.6875rem;
    }

    .transaction {
      padding-top: 2rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 1.5rem;
    }

    .transaction-text {
      color: #000;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.6875rem;
      margin-bottom: 0.5rem;
    }

    .transaction-date {
      color: #000;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6875rem;

      small {
        padding-right: 0.2rem;
      }
    }
  }

  .back-to-top-container {
    position: fixed;
    bottom: 70px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-to-top {
    background-color: #38598a;
    color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .back-to-top-text {
    color: #38598a;
    font-size: 13px;
    word-wrap: break-word;
  }

  .back-to-top:hover {
    background-color: pidp.$bcgov-color-primary;
  }
}

.viewport-medium {
  &.transaction-page-container {
    h1 {
      font-size: 40px;
    }
  }
}

.viewport-small,
.viewport-xsmall {
  &.transaction-page-container {
    h1 {
      font-size: 30px;
    }
  }

  .back-to-top {
    width: 2rem;
    height: 2rem;
  }

  .back-to-top-text {
    font-size: 9px;
  }

  .back-to-top-container {
    bottom: 135px;
  }
}

.viewport-small {
  .back-to-top {
    width: 2rem;
    height: 2rem;
  }

  .back-to-top-text {
    font-size: 9px;
  }

  .back-to-top-container {
    bottom: 70px;
  }
}
