<div class="container transaction-page-container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <h1>Account history</h1>

  <div class="headline">
    This is a log of your transactions and interactions with the Provider
    Identity Portal.
  </div>

  <ng-container *ngIf="transactions$ | async as transactions">
    <ng-container *ngIf="transactions.length; else noTransactions">
      <div
        *ngFor="let transaction of transactions; let i = index; ngForTrackBy: trackByTransactionId"
        class="transaction">
        <div class="transaction-text">
          {{ transaction.accessTypeCode | lookupCode: 'accessTypes' }}
          submission
        </div>
        <div class="transaction-date">
          <small>{{ transaction.requestedOn | formatDate }}</small>
          <small>{{ transaction.requestedOn | formatDate: 'h:mm a' }}</small>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noTransactions>No transactions found</ng-template>
</div>
