<div class="container transaction-page-container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <h1>Account history</h1>

  <div class="headline">
    This is a log of your transactions and interactions with the Provider
    Identity Portal.
  </div>

  @if (transactions$ | async; as transactions) {
    @if (transactions.length) {
      @for (transaction of transactions; track trackByTransactionId(i, transaction); let i = $index) {
        <div
          class="transaction">
          <div class="transaction-text">
            {{ transaction.accessTypeCode | lookupCode: 'accessTypes' }}
            submission
          </div>
          <div class="transaction-date">
            <small>{{ transaction.requestedOn | formatDate }}</small>
            <small>{{ transaction.requestedOn | formatDate: 'h:mm a' }}</small>
          </div>
        </div>
      }
    } @else {
      No transactions found
    }
  }
</div>
