@use 'pidp-variables' as pidp;

.viewport-all {
  &.help-page-container {
    padding: 1.25rem 0.75rem;

    h1 {
      margin-bottom: 20px;
      color: pidp.$bcgov-color-primary;
      font-size: 50px;
      font-weight: 700;
    }

    .mfa-link {
      cursor: pointer;
    }

    .faq-item {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;

      a {
        color: #0d6efd;
        text-decoration: underline;
      }
    }

    .footer-cards {
      display: grid;
      grid-template-columns: calc(49% - 15px) calc(17% - 15px) calc(17% - 15px) calc(
          17% - 15px
        );
      gap: 20px;
      margin-top: 2rem;

      .support-section {
        background-image: url('/assets/images/help-page-questions.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        object-fit: cover;
        display: flex;
        align-items: center;
        padding: 1rem;
        border-radius: 8px;

        .support-text {
          display: flex;
          width: 17.8125rem;
          padding: 1.875rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          border: 1px solid #ccc;
          background: pidp.$bcgov-color-background-grey;

          h2 {
            color: pidp.$bcgov-color-primary;
            font-size: 32px;
            font-weight: 700;
          }

          .email-text {
            color: pidp.$bcgov-color-text;
            font-size: 16px;
            font-weight: 400;
            padding: 2rem 0;
          }

          .additional-text {
            color: pidp.$bcgov-color-text;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            line-height: 1.5;
          }

          .icon-call {
            width: 20px;
            height: 18px;
            margin-right: 1rem;
            margin-bottom: 0.3rem;
          }
        }
      }

      .links-section {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        cursor: pointer;

        .link-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: flex-start;
          align-items: center;
          text-align: center;
          height: 11rem;
          padding: 2rem 1rem;
          border-radius: 4px;
          transition: background-color 0.3s ease;
          border: 1px solid #ccc;
          background: #fff;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          color: pidp.$bcgov-color-primary;
          font-size: 0.8rem;
          font-weight: 400;
          text-decoration-line: underline;

          .icon-question {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
  }

  .back-to-top-container {
    position: fixed;
    bottom: 70px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-to-top {
    background-color: pidp.$bcgov-color-background-blue;
    color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .back-to-top-text {
    color: pidp.$bcgov-color-background-blue;
    font-size: 13px;
    word-wrap: break-word;
  }

  .back-to-top:hover {
    background-color: pidp.$bcgov-color-primary;
  }
}

.viewport-medium {
  &.help-page-container {
    h1 {
      font-size: 40px;
    }
  }
}

.viewport-small,
.viewport-xsmall {
  &.help-page-container {
    h1 {
      font-size: 30px;
    }

    .faq-item {
      margin-bottom: 20px;
    }

    .footer-cards {
      display: flex !important;
      flex-direction: column !important;

      .support-section {
        padding: 2rem;

        .support-text {
          display: flex;
          width: 17.8125rem;
          padding: 1.875rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          border: 1px solid #ccc;
          background: pidp.$bcgov-color-background-grey;

          h2 {
            font-size: 30px;
          }

          .email-text {
            font-size: 12px;
            padding: 1rem 0;
          }

          .additional-text {
            font-size: 12px;
          }

          .icon-call {
            width: 14px;
            height: 14px;
          }
        }
      }

      .links-section {
        display: grid;
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);

        .link-container {
          line-height: 1.5;
          font-size: 0.75rem;
          height: 7rem;
          padding: 0.75rem;
        }
      }
    }
  }

  .back-to-top {
    width: 2rem;
    height: 2rem;
  }

  .back-to-top-text {
    font-size: 9px;
  }

  .back-to-top-container {
    bottom: 135px;
  }
}

.viewport-small {
  .back-to-top {
    width: 2rem;
    height: 2rem;
  }

  .back-to-top-text {
    font-size: 9px;
  }

  .back-to-top-container {
    bottom: 70px;
  }
}
