<ui-page>
  <ui-page-header icon="business">{{ title }}</ui-page-header>

  <ui-page-section>
    <p>This is a list of your care team members, here you can:</p>
    <ol>
      <li>Approve or decline requests to join your team</li>
      <li>View team members</li>
    </ol>
  </ui-page-section>

  <div class="row">
    <div
      *ngFor="let receivedEndorsementRequest of receivedEndorsementRequests$ | async"
      class="col-12">
      <ui-card
        icon="person_pin"
        [heading]="receivedEndorsementRequest.partyName">
        <ng-container uiCardHint
          >{{receivedEndorsementRequest.adjudicatedOn |
          formatDate}}</ng-container
        >
        <ng-container uiCardContent>
          <p>{{receivedEndorsementRequest.jobTitle}}</p>
        </ng-container>

        <div
          *ngIf="!receivedEndorsementRequest.adjudicatedOn"
          class="actions"
          uiCardActions>
          <span>
            <button
              class="decline"
              mat-stroked-button
              type="button"
              (click)="onAdjudicate(receivedEndorsementRequest.id,false)">
              Decline
            </button>
          </span>
          <ng-container uiCardActions>
            <span>
              <button
                class="accept"
                mat-stroked-button
                type="button"
                (click)="onAdjudicate(receivedEndorsementRequest.id,true)">
                Approve
              </button>
            </span>
          </ng-container>
        </div>

        <div
          *ngIf="receivedEndorsementRequest.approved"
          class="approved"
          uiCardContent>
          <mat-icon>check_circle_outline</mat-icon>
          <p>This team member has been approved</p>
        </div>
        <div
          *ngIf="receivedEndorsementRequest.approved === false"
          class="decline"
          uiCardContent>
          <mat-icon>error_outline</mat-icon>
          <p>This team member has been declined</p>
        </div>
      </ui-card>
    </div>
  </div>

  <ui-page-footer mode="reverse">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      Back Home
    </button>
  </ui-page-footer>
</ui-page>
