<ui-page>
  <ui-page-header icon="business">{{ title }}</ui-page-header>

  <ui-page-section>
    <p>This is a list of your care team members, here you can:</p>
    <ol>
      <li>Approve or decline team members</li>
      <li>Remove team members</li>
      <li>Add team members</li>
    </ol>
  </ui-page-section>

  <ui-card [heading]="'Team member'">
    <ng-container uiCardContent>
      <p>Job Title here</p>
    </ng-container>
    <ng-container uiCardActions>
      <span>
        <button
          mat-stroked-button
          type="button"
          color="primary"
          (click)="onFakeIt()">
          decline
        </button>
      </span>
    </ng-container>
    <ng-container uiCardActions>
      <span>
        <button
          mat-stroked-button
          type="button"
          color="primary"
          (click)="onBack()">
          accept
        </button>
      </span>
    </ng-container>
  </ui-card>

  <ui-card-summary [heading]="'Team member'">
    <ng-container uiCardSummaryHint>Date user was approved</ng-container>
    <ng-container uiCardSummaryContent>
      <p>Job title</p>
    </ng-container>
  </ui-card-summary>

  <ui-page-footer>
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      Back Home
    </button>
  </ui-page-footer>
</ui-page>
