<ui-page [form]="formState.form" (submitted)="onSubmit()">
  <ui-page-header>{{ title }}</ui-page-header>

  <ng-container *ngIf="completed; else notCompleted">
    <ui-page-section>
      <ui-page-section-subheader icon="assignment" heading="HCIMWeb Enrolment">
        <ng-container uiPageSectionSubheaderDesc>Next Steps.</ng-container>
      </ui-page-section-subheader>

      <ui-alert
        type="success"
        icon="check_circle"
        iconType="outlined"
        heading="HCIMWeb Enrolment Successful">
        <ng-container uiAlertContent>
          <p>
            Your submission has been sent to your Health Authority Access
            Administrator for approval.
          </p>
        </ng-container>
      </ui-alert>
    </ui-page-section>
  </ng-container>

  <ng-template #notCompleted>
    <ui-alert
      *ngIf="accessRequestStatusCode === HcimEnrolmentStatusCode.ACCESS_FAILED"
      type="danger"
      icon="error_outline"
      iconType="outlined"
      heading="Error Requesting Access">
      <ng-container uiAlertContent>
        <p>
          Your request for access to HCIMWeb Enrolment could not be processed at
          this time. If this issue persists, contact
          <a
            uiAnchor
            scheme="mailto"
            [attr.href]="healthNetBcHelpDeskEmail"></a>
          or
          <a uiAnchor scheme="tel" [attr.href]="healthNetBcHelpDeskPhone"></a>
          for assistance.
        </p>
      </ng-container>
    </ui-alert>

    <ui-page-section>
      <ui-page-section-subheader
        icon="corporate_fare"
        heading="HCIMWeb Enrolment">
        <ng-container uiPageSectionSubheaderDesc>
          Provide the next information to complete your HCIMWeb enrolment.
        </ng-container>
      </ui-page-section-subheader>

      <ui-alert
        *ngIf="formInvalid"
        type="danger"
        icon="error_outline"
        iconType="outlined">
        <ng-container uiAlertContent>
          <p>
            Each question must be answered in order to submit an HCIMWeb
            Enrolment.
          </p>
        </ng-container>
      </ui-alert>

      <ng-container [formGroup]="formState.form">
        <ol>
          <li *ngFor="let control of controls">
            {{ control.question }}<br />
            <mat-radio-group
              aria-label="Select an answer"
              [formControlName]="control.name">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </li>
        </ol>
      </ng-container>
    </ui-page-section>
  </ng-template>

  <ui-page-footer [mode]="completed ? 'reverse' : 'normal'">
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      {{ completed ? 'Back Home' : 'Cancel Back Home' }}
    </button>

    <button
      *ngIf="!completed"
      mat-flat-button
      uiPageFooterAction
      type="submit"
      color="primary">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
