<div class="container box" uiPidpInjectViewportCss>
  <ui-alert
    *ngIf="licenceDeclarationFailed"
    type="muted"
    icon="error_outline"
    iconType="outlined"
    heading="Error finding your licence">
    <ng-container uiAlertContent>
      <p>
        Your request to submit your college licence was unsuccessful. Check the
        college and college licence number and try again.
      </p>
    </ng-container>
  </ui-alert>

  <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
    <section>
      <h2 class="header">LICENCE</h2>
      <h3 class="college-licence">College licence information</h3>
      <div class="content">
        <p class="college-licence-introduction">Provide details for your college licence if you have one. If you do not have a college licence,
          select "None" and you can update this information at a later date</p>
        <mat-form-field>
          <mat-label class="field-label">College Licence</mat-label>
          <mat-select
            formControlName="collegeCode"
            aria-labelledby="college-licence-declaration-college-licence">
            <mat-option [value]="0">None</mat-option>
            <mat-option *ngFor="let college of colleges" [value]="college.code">
              {{ college.name }}
            </mat-option>
          </mat-select>
          <mat-error>Required</mat-error>
        </mat-form-field>
        <p *ngIf="showNurseValidationInfo">
          If you are a nurse, this number may be referred to as your "Nurse ID".
          You can confirm you have the correct number by checking it
          <a
            target="_blank"
            rel="noopener"
            href="https://registry.bccnp.ca/ElasticSearch/Search"
            aria-label="BC College of Nurses and Midwives Search"
            >here</a
          >.
        </p>
        <mat-form-field *ngIf="formState.collegeCode.value" >
          <mat-label class="field-label">Licence Number</mat-label>
          <input
            matInput
            formControlName="licenceNumber"
            aria-labelledby="college-licence-declaration-licence-number"/>
          <mat-error>Required</mat-error>
          <mat-hint>
            Example would be a 5 digit code
          </mat-hint>
        </mat-form-field>
      </div>
    </section>
    <div>
      <p class="footer-text">
        Our system will automatically authenticate your college licence after information has been filled.
      </p>
    </div>
    <div class="actions">
      <button mat-flat-button uiPageFooterAction type="submit" color="primary">
        Search
      </button>
    </div>
  </form>
</div>
