@use 'pidp-variables' as pidp;
$lightgrey: #f2f2f2;
h2,
label,
p {
  font-family: pidp.$bcgov-font-family;
}
.viewport-all {
  --box-padding: 0;
  --header-padding: 6px 20px;
  --content-padding: 0 20px;
  --field-label-font-size: 16px;
  --field-max-width: unset;
  --button-margin-right: 15px;
  --actions-padding: 0 20px;
  padding: 1.25rem 0.75rem;
  padding-top: 0px !important;
}
.viewport-large {
  --box-padding: 40px 0;
  --content-padding: 0;
  --field-max-width: 400px;
  --actions-padding: 0;
}
.viewport-medium {
  --box-padding: 25px 0;
  --content-padding: 0;
  --field-max-width: 400px;
  --actions-padding: 0;
}
.viewport-small {
  --box-padding: 0 0 20px;
  --field-max-width: 400px;
  & .content {
    padding: 0px !important;
  }
  & .actions {
    padding: 0px !important;
  }
}
.viewport-xsmall {
  & .breadcrumb {
    margin-left: 12px !important;
  }
  & .college-licence {
    color: pidp.$bcgov-color-primary;
    margin-left: 15px;
    font-weight: 600;
    font-size: 25px !important;
    padding-bottom: 0px !important;
  }

  & .footer-text {
    margin-left: 20px;
  }

  & .header {
    padding-left: 15px !important;
   }
}
.viewport-all {
  padding: var(--box-padding);
  & section {
    display: flex;
    flex-direction: column;

    & .header {
     color:skyblue;
    }

    & .college-licence {
      color: pidp.$bcgov-color-primary;
      font-weight: 600;
      font-size: 50px;
      padding-bottom: 20px;
    }

    & .content {
      display: flex;
      flex-direction: column;
      padding: var(--content-padding);

      & .college-licence-introduction {
        padding-bottom: 10px;
      }

      & .field-label {
        font-size: var(--field-label-font-size);
        font-weight: bold;
        color: black;
      }

      & mat-form-field {
        max-width: var(--field-max-width);
      }
    }
  }
  & .actions {
    padding: var(--actions-padding);
    & button:not(:last-of-type) {
      margin-right: var(--button-margin-right);
    }
    button {
      width: 100px;
    }
  }
  & .footer-text {
    font-weight: bold;
    padding-top: 15px;
  }
}
