<div class="container box" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <ui-alert
    *ngIf="licenceDeclarationFailed"
    type="muted"
    icon="error_outline"
    iconType="outlined"
    heading="Error finding your licence">
    <ng-container uiAlertContent>
      <p>
        Your request to submit your college licence was unsuccessful. Check the
        college and college licence number and try again.
      </p>
    </ng-container>
  </ui-alert>

  <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
    <section>
      <h2 class="header">College Licence</h2>
      <div class="content">
        <p>Provide details for your active college licence.</p>
        <label
          id="college-licence-declaration-college-licence"
          class="field-label"
          >College Licence</label
        >
        <mat-form-field>
          <mat-select
            formControlName="collegeCode"
            aria-labelledby="college-licence-declaration-college-licence">
            <mat-option [value]="0">None</mat-option>
            <mat-option *ngFor="let college of colleges" [value]="college.code">
              {{ college.name }}
            </mat-option>
          </mat-select>
          <mat-error>Required</mat-error>
        </mat-form-field>
        <label
          *ngIf="formState.collegeCode.value"
          id="college-licence-declaration-licence-number"
          class="field-label"
          >Licence Number</label
        >
        <p *ngIf="showNurseValidationInfo">
          If you are a nurse, this number may be referred to as your "Nurse ID".
          You can confirm you have the correct number by checking it
          <a
            target="_blank"
            rel="noopener"
            href="https://registry.bccnp.ca/ElasticSearch/Search"
            aria-label="BC College of Nurses and Midwives Search"
            >here</a
          >.
        </p>
        <mat-form-field *ngIf="formState.collegeCode.value">
          <input
            matInput
            formControlName="licenceNumber"
            aria-labelledby="college-licence-declaration-licence-number" />
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>
    </section>
    <div class="actions">
      <button
        mat-stroked-button
        uiPageFooterAction
        type="button"
        color="primary"
        (click)="onBack()">
        Back Home
      </button>
      <button mat-flat-button uiPageFooterAction type="submit" color="primary">
        Save Information
      </button>
    </div>
  </form>
</div>
