<div class="address-autocomplete" uiPidpInjectViewportCss [formGroup]="form">
  <div>
    <label id="address-autocomplete-address-label">Address</label>
    <mat-form-field class="w-100">
      <input
        matInput
        role="presentation"
        autocomplete="off"
        formControlName="autocomplete"
        aria-labelledby="address-autocomplete-address-label"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" autocomplete="off">
        <mat-option
          *ngFor="let field of addressAutocompleteFields"
          [value]="field.text"
          (click)="onAutocomplete(field.id)">
          {{ field.text }} {{ field.description }}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>
        Start with unit number and street number. Address autocompleted by
        <a uiAnchor [attr.href]="canadaPostUrl">Canada Post</a>
      </mat-hint>
    </mat-form-field>
  </div>
  <div>
    <ng-content></ng-content>
  </div>
</div>
