<ui-page [form]="formState.form" (submitted)="onSubmit()">
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader
      icon="corporate_fare"
      heading="HCIMWeb Enrolment">
      <ng-container uiPageSectionSubheaderDesc>
        Provide your office administrator's contact information.
      </ng-container>
    </ui-page-section-subheader>

    <ng-container [formGroup]="formState.form">
      <ui-page-section>
        <ui-page-section-subheader heading="Access administrator email">
          <ng-container uiPageSectionSubheaderDesc>
            Enter your access administrator's email.
          </ng-container>
        </ui-page-section-subheader>
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Access administrator email"
            formControlName="email" />
          <mat-error>Required</mat-error>
        </mat-form-field>
      </ui-page-section>
    </ng-container>
  </ui-page-section>

  <ui-page-footer>
    <button
      mat-stroked-button
      uiPageFooterAction
      type="button"
      color="primary"
      (click)="onBack()">
      Back Home
    </button>
    <button mat-flat-button uiPageFooterAction type="submit" color="primary">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
