<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-subheader icon="assignment">GIS</ui-page-subheader>
    <p>Next Steps.</p>
  </ui-page-section>

  <ui-alert
    type="success"
    icon="check_circle"
    iconType="outlined"
    title="You have access">
    You are ready to log onto GIS.
  </ui-alert>

  <ui-page-footer>
    <button mat-stroked-button color="primary" type="button" routerLink="../">
      Back Home
    </button>
  </ui-page-footer>
</ui-page>
