<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-subheader icon="assignment">
      Site Privacy and Security Readiness Checklist
    </ui-page-subheader>
    <p>Answer the following questions.</p>
  </ui-page-section>

  <!-- <ui-page-section>
    <ui-page-subheader></ui-page-subheader>
    <p></p>
  </ui-page-section> -->

  <ui-page-footer>
    <button mat-stroked-button color="primary" type="button" routerLink="../">
      Back Home
    </button>
    <button mat-flat-button color="primary" type="submit" routerLink="../">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
