<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="Site Privacy and Security Readiness Checklist">
      <ng-container uiPageSectionSubheaderDesc>
        Answer the following questions.
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-page-footer>
    <button mat-stroked-button color="primary" type="button" routerLink="../">
      Back Home
    </button>
    <button mat-flat-button color="primary" type="submit" routerLink="../">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
