<div class="container-box" uiPidpInjectViewportCss>
  <div class="content-box">
    <header>
      <h2>BC Provider account information</h2>
    </header>
    <div class="content">
      <h3>
        <strong
          >Welcome {{ username }} to your BC Provider knowledge center!</strong
        >
      </h3>
      <p>
        Whether you are existing, or new to BC Provider, we have you covered.
      </p>
      <p class="welcome">
        OneHealthID is looking for a one-time setup if you are an existing BC
        Provider account holder, and have not uplifted your account by logging
        in with your BC Services Card credentials. <br />
        After this quick uplift you will have the flexability to then login to
        OneHealthID with your BC Provider, or your BC Services Card account
        info. All you have to do is log into BC Provider with your existing
        information, and we will automatically take care of the secure uplift.
      </p>
      <p>
        <strong
          >Do you not have a BC Provider account? setup is quick and
          easy.</strong
        >
      </p>
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <strong>Interested in BC Provider?</strong>
            <p>
              For brand new users that are looking for the flexibility and
              security of BC Services card and a BC Provider account.
            </p>
            <button mat-flat-button type="button" color="primary">
              First time setup
            </button>
            <a uiAnchor href="/">need help?</a>
            <hr />
            <div class="bcgov-logo">
              <picture>
                <source
                  type="image/webp"
                  srcset="/assets/images/BC_HLTH_H_CMYK_pos.webp" />
                <source
                  type="image/png"
                  srcset="/assets/images/BC_HLTH_H_CMYK_pos.png" />
                <img
                  title="BC Government Logo"
                  loading="lazy"
                  aria-label="BC Ministry of Health Logo" />
              </picture>
            </div>
          </div>
        </div>
        <div class="card">
          <img
            ngSrc="/assets/images/bc-provider-uplifit-account-300x451.jpg"
            fill />
          <div class="card-content card-uplifting">
            <strong>Uplift your existing BC Provider account</strong>
          </div>
          <button
            class="icon-button"
            mat-mini-fab
            color="primary"
            matTooltip="Uplift your BC Provider account"
            aria-label="Uplift your BC Provider account"
            (click)="UpliftBCProviderAccount()">
            <fa-icon [icon]="faCircleRight"></fa-icon>
          </button>
          <button
            mat-stroked-button
            type="button"
            color="primary"
            (click)="onUplift()">
            UPLIFT!
          </button>
        </div>
        <div class="card advantage-card">
          <div class="card-content">
            <div class="card-badge">
              <fa-icon [icon]="faLockOpen"></fa-icon>
            </div>
            <strong>Advantage with BC Provier</strong>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Vestibulum ac euismod dui, et aliquam neque. Fusce at tincidunt
              ipsum. Integer eget malesuada sem, nec hendrerit dolor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <p class="password-info">
        Your password must be 8 to 256 characters long, with at least one letter
        and one number or special character. Strong passwords include both
        upper- and lower-case letters, as well as special characters (such as an
        exclamation point, question mark or ampersand). Do not use a password
        that you use anywhere else.
      </p>

      <section class="error-card" [class.show-card]="showErrorCard">
        <p>{{ errorCardText }}</p>
      </section>
      <section class="message-card" [class.show-card]="showMessageCard">
        <p>{{ messageCardText }}</p>
      </section>
      <section class="form-card">
        <div class="password-form">
          <ng-container *ngTemplateOutlet="passwordForm"></ng-container>
        </div>
        <div class="password-splash">
          <div class="password-splash-content">
            <div class="text-box">
              <div>
                <span class="lets">Let's get started</span>
              </div>
              <div>
                <span class="using">using BC Provider today!</span>
              </div>
            </div>
            <picture class="image">
              <source
                type="image/webp"
                srcset="/assets/images/bc-provider-account-457x759.webp" /> -->
  <!-- Use jpg as a fallback when webp is not supported by the browser. -->
  <!--<source
                type="image/jpg"
                srcset="/assets/images/bc-provider-account-457x759.jpg" />
              <img title="woman" loading="lazy" aria-labelledby="" />
            </picture>

            <div *ngIf="false" class="text-box">
              <div>
                <span class="lets">Let's get started</span>
              </div>
              <div>
                <span class="using">using BC Provider today!</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="actions">
        <button
          mat-stroked-button
          type="button"
          color="primary"
          (click)="onBack()">
          Back
        </button>
      </section> -->
</div>
<ng-template #passwordForm>
  <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
    <h3>Create an account</h3>
    <div class="form-content">
      <div class="field">
        <label id="bc-provider-application-password">Choose a password</label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="password"
            type="password"
            aria-labelledby="bc-provider-application-password" />
          <mat-error *ngIf="formState.password.hasError('required')"
            >Required</mat-error
          >
        </mat-form-field>
        <mat-error class="error" [class.error-show]="hasPasswordRuleError()"
          >Your password must be between 8 and 256 characters and satisfy 3 out
          of the 4 following requirements:
          <ul>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one number</li>
            <li>At least one symbol</li>
          </ul></mat-error
        >
      </div>
      <div class="field">
        <label id="bc-provider-application-confirm-password"
          >Confirm password</label
        >
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="confirmPassword"
            type="password"
            aria-labelledby="bc-provider-application-confirm-password" />
          <mat-error *ngIf="formState.confirmPassword.invalid"
            >Must match the password entered above</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-button-box">
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="!isEnrolButtonEnabled">
          Enrol now
        </button>
      </div>
      <div class="help-link"><a href="">Need help?</a></div>
    </div>
  </form>
</ng-template>

<!-- TODO: Refactor into a separate component. -->
<ng-template #successDialog>
  <div class="dialog-box" uiPidpInjectViewportCss>
    <div class="dialog-header">
      <button
        type="button"
        aria-label="Close dialog"
        (click)="onSuccessDialogClose()">
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>
    <div class="dialog-content">
      <div class="dialog-icon">
        <fa-icon [icon]="faCircleCheck"></fa-icon>
      </div>
      <h3>BC Provider account created</h3>
      <p>
        BC Provider account <strong>{{ username }}</strong> has been created.<br />
        You will now have the option to sign in to our system with these
        credentials.<br />
        Please note, this is not an email address. <br />You will not be able to
        send or receive any emails from this credential.
      </p>
    </div>
  </div>
</ng-template>
