<div class="container-box container" uiPidpInjectViewportCss>
  <app-breadcrumb [breadcrumbs]="breadcrumbsData"></app-breadcrumb>
  <div class="content-box">
    <header>
      <h1>BCProvider account information</h1>
    </header>
    <div class="content">
      <p>
        <strong>
          Welcome {{ (fullName$ | async) }} to your BCProvider knowledge center!
        </strong>
      </p>
      <p>
        The OneHealthID Service is designed to use the digital identity created
        by the BC Services Card as a foundation for your BCProvider account.
      </p>
      <p>
        Whether you are existing, or new to BCProvider, we have you covered.
      </p>
      <p class="welcome">
        OneHealthID is looking for a one-time setup if you are an existing BC
        Provider account holder, and have not uplifted your account by logging
        in with your BC Services Card credentials.
      </p>
      <p>
        <strong>
          Do you not have a BCProvider account? setup is quick and easy.
        </strong>
      </p>
      <div class="uplifting-container">
        <p class="title">Uplift your existing BCProvider account</p>
        <p class="sub-heading">
          If you have an existing ImmsBC credential, please uplift the account
          instead of creating a new BCProvider account
        </p>
        <div class="button-container">
          <button
            mat-flat-button
            type="button"
            color="primary"
            (click)="onUplift()">
            Start uplift
            <img src="/assets/images/icons/icon-vector.svg" alt="vector" />
          </button>

          <a (click)="showInstructions = !showInstructions"
            ><u>Instructions</u></a
          >
        </div>
        <div class="instructions-container">
          <div
            *ngIf="showInstructions"
            id="upliftAccount"
            class="active-layout">
            <h3>
              You get more out of OneHealthID when you sign in with BCProvider.
            </h3>
            <ol>
              <li>
                Go to Microsoft account and select
                <strong>Sign in</strong>.
              </li>
              <li>
                Type the email, phone number, or Skype sign-in that you use for
                other services(Outlook, Excel, etc.), then select
                <strong>Next</strong>.
              </li>
              <li>
                Type your password and select the
                <strong>Keep me signed in box</strong> if you want to go
                straight into your account next time (not recommended for shared
                computers).
              </li>
              <li>Select <strong>Sign in</strong>.</li>
              <li>
                At this point OneHealthID will have all the necessary
                information need, and you will
                <strong>automatically be redirected</strong> back into
                OneHealthID application.
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="card card-basic">
          <div class="card-container">
            <div class="card-header">
              <strong>Interested in BCProvider?</strong>
            </div>
            <div class="card-body">
              <p>
                For brand new users that are looking for the flexibility and
                security of BC Services card and a BCProvider account.
                <app-need-help></app-need-help>
              </p>
              <div class="form-button-box">
                <button
                  class="btn-setup"
                  mat-stroked-button
                  type="button"
                  color="primary"
                  (click)="setLayout('createAccount')">
                  First time setup
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-advantage">
          <div class="card-container">
            <div class="card-header">
              <img
                class="lock-icon"
                src="/assets/images/icons/light-lock.svg"
                alt="lock" />
              <strong>Advantage with BCProvider</strong>
            </div>
            <div class="card-body">
              <p>
                After this quick uplift you will have the flexibility to then
                login to OneHealthID with your BCProvider, or your BC Services
                Card account info. All you have to do is log into BCProvider
                with your existing information, and we will automatically take
                care of the secure uplift.
              </p>
            </div>
          </div>
        </div>
      </div>

      <ng-container [ngSwitch]="activeLayout">
        <ng-container
          *ngSwitchCase="'createAccount'"
          [ngTemplateOutlet]="createAccount"></ng-container>
        <ng-container
          *ngSwitchDefault
          [ngTemplateOutlet]="default"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #createAccount>
  <div id="createAccount" class="active-layout">
    <h3>You get more out of OneHealthID when you sign in with BCProvider.</h3>
    <p class="password-info">
      Your password must be 8 to 256 characters long, with at least one letter
      and one number or special character. Strong passwords include both upper-
      and lower-case letters, as well as special characters (such as an
      exclamation point, question mark or ampersand). Do not use a password that
      you use anywhere else.
    </p>

    <ng-container *ngIf="showErrorCard">
      <section class="error-card" [class.show-card]="showErrorCard">
        <p>An error occurred.</p>
      </section>
    </ng-container>
    <section class="form-card">
      <div class="password-form">
        <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
          <div class="mobile-image">
            <img
              ngSrc="/assets/images/bcprovider-account-1000x1103.webp"
              fill
              priority />
          </div>
          <h2>Create an account</h2>
          <div class="form-content">
            <div class="field">
              <label id="bc-provider-application-password"
                >Choose a password</label
              >
              <mat-form-field>
                <input
                  matInput
                  formControlName="password"
                  type="password"
                  aria-labelledby="bc-provider-application-password" />
                <mat-error>{{ formState.getErrorMessage() }}</mat-error>
              </mat-form-field>
            </div>
            <div class="field">
              <label id="bc-provider-application-confirm-password"
                >Confirm password</label
              >
              <mat-form-field>
                <input
                  matInput
                  formControlName="confirmPassword"
                  type="password"
                  aria-labelledby="bc-provider-application-confirm-password"
                  [errorStateMatcher]="errorMatcher" />
                <mat-error *ngIf="formState.form.hasError('nomatch')">
                  Must match the password entered above
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-button-box">
              <button
                mat-flat-button
                type="submit"
                color="primary"
                [disabled]="!isEnrolButtonEnabled">
                Enrol now
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="password-splash">
        <div class="password-splash-content">
          <div class="text-box">
            <div>
              <span class="lets">Let's get started</span>
            </div>
            <div>
              <span class="using">using BCProvider today!</span>
            </div>
          </div>
          <picture class="image">
            <source
              type="image/webp"
              srcset="/assets/images/bcprovider-account-1000x1103.webp" />
            <!-- Use png as a fallback when webp is not supported by the browser. -->
            <source
              type="image/png"
              srcset="/assets/images/bcprovider-account-1000x1103.png" />
            <img title="woman" loading="lazy" aria-labelledby="" />
          </picture>

          <div *ngIf="false" class="text-box">
            <div>
              <span class="lets">Let's get started</span>
            </div>
            <div>
              <span class="using">using BCProvider today!</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="actions">
      <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="onBack()">
        Back
      </button>
    </section>
  </div>
</ng-template>

<ng-template #default></ng-template>

<ng-template #successDialog>
  <app-success-dialog
    title="BCProvider account created"
    [username]="username"
    [componentType]="componentType"></app-success-dialog>
</ng-template>
