<div class="container-box" uiPidpInjectViewportCss>
  <div class="content-box">
    <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
      <header>
        <h2>Create BC Provider Account</h2>
      </header>
      <div class="content">
        <p class="welcome">Welcome to your BC Provider account setup.</p>
        <p class="password-info">
          Your password must be 8 to 32 characters long, with at least one
          letter and one number. Strong passwords include both upper- and
          lower-case letters, as well as special characters (such as an
          exclamation point, question mark or ampersand). Do not use a password
          that you use anywhere else.
        </p>
        <section class="error-card" [class.show-card]="showErrorCard">
          <p>{{ errorCardText }}</p>
        </section>
        <section class="message-card" [class.show-card]="showMessageCard">
          <p>{{ messageCardText }}</p>
        </section>
        <section class="form-card">
          <h3>Account Information</h3>
          <div class="form-content">
            <div class="avatar-box">
              <div class="avatar">
                <fa-icon [icon]="faUser"></fa-icon>
              </div>
            </div>
            <div class="field">
              <label id="bc-provider-application-username">Username</label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  formControlName="username"
                  aria-labelledby="bc-provider-application-username" />
                <mat-error *ngIf="formState.username.hasError('required')"
                  >Required</mat-error
                >
                <mat-error *ngIf="formState.username.hasError('email')"
                  >Enter a valid email address</mat-error
                >
              </mat-form-field>
            </div>
            <div class="field">
              <label id="bc-provider-application-password">Password</label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  formControlName="password"
                  type="password"
                  aria-labelledby="bc-provider-application-password" />
                <mat-error *ngIf="formState.password.hasError('required')"
                  >Required</mat-error
                >
              </mat-form-field>
              <mat-error
                class="error"
                [class.error-show]="hasPasswordRuleError()"
                >Your password must satisfy each of the following:
                <ul>
                  <li>Between 8 and 32 characters</li>
                  <li>At least one letter</li>
                  <li>At least one number</li>
                </ul></mat-error
              >
            </div>
            <div class="temporary-password-generator">
              <mat-checkbox
                class="generate-password-checkbox"
                (change)="onGeneratePasswordCheckChange()"
                >Generate temporary password</mat-checkbox
              >
              <p>
                <em
                  >If using a temporary password, on your next sign in you will
                  need to update it.</em
                >
              </p>
            </div>
          </div>
        </section>
        <section class="actions">
          <button
            mat-stroked-button
            type="button"
            color="primary"
            (click)="onBack()">
            Back
          </button>
          <button
            mat-flat-button
            type="submit"
            color="primary"
            [disabled]="isEnrolButtonDisabled">
            Enrol now
          </button>
        </section>
      </div>
    </form>
  </div>
</div>
