<div class="container-box" uiPidpInjectViewportCss>
  <div class="content-box">
    <header>
      <h2>BC Provider account information</h2>
    </header>
    <div class="content">
      <h3>
        <strong
          >Welcome {{ username }} to your BC Provider knowledge center!</strong
        >
      </h3>
      <p>
        The OneHealthID Service is designed to use the digital identity created
        by the BC Services Card as a foundation for your BC Provider account.
      </p>
      <p>
        Whether you are existing, or new to BC Provider, we have you covered.
      </p>
      <p class="welcome">
        OneHealthID is looking for a one-time setup if you are an existing BC
        Provider account holder, and have not uplifted your account by logging
        in with your BC Services Card credentials. <br />
        After this quick uplift you will have the flexability to then login to
        OneHealthID with your BC Provider, or your BC Services Card account
        info. All you have to do is log into BC Provider with your existing
        information, and we will automatically take care of the secure uplift.
      </p>
      <p>
        <strong
          >Do you not have a BC Provider account? setup is quick and
          easy.</strong
        >
      </p>
      <div class="cards">
        <div class="card card-basic">
          <div class="card-container">
            <div class="card-header">
              <strong>Interested in BC Provider?</strong>
            </div>
            <div class="card-body">
              <p>
                For brand new users that are looking for the flexibility and
                security of BC Services card and a BC Provider account.
              </p>
              <div class="form-button-box">
                <button
                  mat-flat-button
                  type="button"
                  color="primary"
                  (click)="setLayout('createAccount')">
                  First time setup
                </button>
              </div>
              <div class="help-link"><a uiAnchor href="">Need help?</a></div>
            </div>
            <div class="card-footer">
              <hr />
              <div class="bcgov-logo">
                <picture>
                  <source
                    type="image/webp"
                    srcset="/assets/images/BC_HLTH_H_CMYK_pos.webp" />
                  <source
                    type="image/png"
                    srcset="/assets/images/BC_HLTH_H_CMYK_pos.png" />
                  <img
                    title="BC Government Logo"
                    loading="lazy"
                    aria-label="BC Ministry of Health Logo" />
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-uplifting">
          <img
            ngSrc="/assets/images/bc-provider-uplifit-account-300x451.jpg"
            fill />
          <div class="card-container">
            <div class="card-header">
              <strong>Uplift your existing BC Provider account</strong>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <button
                class="icon-button"
                color="primary"
                matTooltip="Uplift your BC Provider account"
                aria-label="Uplift your BC Provider account"
                (click)="setLayout('upliftAccount')">
                <fa-icon [icon]="faCircleRight"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="card card-advantage">
          <div class="card-container">
            <div class="card-badge">
              <fa-icon class="fa-2x" [icon]="faLockOpen"></fa-icon>
            </div>
            <div class="card-header">
              <strong>Advantage with BC Provider</strong>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum ac euismod dui, et aliquam neque. Fusce at tincidunt
                ipsum. Integer eget malesuada sem, nec hendrerit dolor.
              </p>
              <div class="help-link">
                <a uiAnchor href="">Need to know more?</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-container [ngSwitch]="activeLayout">
        <ng-container
          *ngSwitchCase="'upliftAccount'"
          [ngTemplateOutlet]="upliftAccount"></ng-container>
        <ng-container
          *ngSwitchCase="'createAccount'"
          [ngTemplateOutlet]="createAccount"></ng-container>
        <ng-container
          *ngSwitchDefault
          [ngTemplateOutlet]="default"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #upliftAccount>
  <div id="upliftAccount" class="active-layout">
    <h3>You get more out of OneHealthID when you sign in with BC Provider.</h3>
    <ol>
      <li>
        Go to Microsoft account and select
        <strong>Sign in</strong>.
      </li>
      <li>
        Type the email, phone number, or Skype sign-in that you use for other
        services(Outlook, Excel, etc.), then select
        <strong>Next</strong>. If you don't have a Microsoft account, you can
        select <strong>No account? Create one!</strong> Note that we recommand
        using an email you already have and use regularly.
      </li>
      <li>
        Type your password and select the
        <strong>Keep me signed in box</strong> if you want to go straight into
        your account next time (not recommended for shared computers).
      </li>
      <li>Select <strong>Sign in</strong>.</li>
      <li>
        At this point OneHealthID will have all the necessary information need,
        and you will <strong>automatically be redirected</strong> back into
        OneHealthID application.
      </li>
      <li>
        <button
          mat-flat-button
          type="button"
          color="primary"
          (click)="onUplift()">
          Get started!
        </button>
      </li>
    </ol>
  </div>
</ng-template>

<ng-template #createAccount>
  <div class="active-layout">
    <h3>You get more out of OneHealthID when you sign in with BC Provider.</h3>
    <p id="createAccount" class="password-info">
      Your password must be 8 to 256 characters long, with at least one letter
      and one number or special character. Strong passwords include both upper-
      and lower-case letters, as well as special characters (such as an
      exclamation point, question mark or ampersand). Do not use a password that
      you use anywhere else.
    </p>

    <section class="error-card" [class.show-card]="showErrorCard">
      <p>{{ errorCardText }}</p>
    </section>
    <section class="message-card" [class.show-card]="showMessageCard">
      <p>{{ messageCardText }}</p>
    </section>
    <section class="form-card">
      <div class="password-form">
        <ng-container *ngTemplateOutlet="passwordForm"></ng-container>
      </div>
      <div class="password-splash">
        <div class="password-splash-content">
          <div class="text-box">
            <div>
              <span class="lets">Let's get started</span>
            </div>
            <div>
              <span class="using">using BC Provider today!</span>
            </div>
          </div>
          <picture class="image">
            <source
              type="image/webp"
              srcset="/assets/images/bc-provider-account-457x759.webp" />
            <!-- Use jpg as a fallback when webp is not supported by the browser. -->
            <source
              type="image/jpg"
              srcset="/assets/images/bc-provider-account-457x759.jpg" />
            <img title="woman" loading="lazy" aria-labelledby="" />
          </picture>

          <div *ngIf="false" class="text-box">
            <div>
              <span class="lets">Let's get started</span>
            </div>
            <div>
              <span class="using">using BC Provider today!</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="actions">
      <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="onBack()">
        Back
      </button>
    </section>
  </div>
</ng-template>

<ng-template #passwordForm>
  <form novalidate [formGroup]="formState.form" (ngSubmit)="onSubmit()">
    <h3>Create an account</h3>
    <div class="form-content">
      <div class="field">
        <label id="bc-provider-application-password">Choose a password</label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="password"
            type="password"
            aria-labelledby="bc-provider-application-password" />
          <mat-error>{{ formState.getErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
      <div class="field">
        <label id="bc-provider-application-confirm-password"
          >Confirm password</label
        >
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="confirmPassword"
            type="password"
            aria-labelledby="bc-provider-application-confirm-password" />
          <mat-error *ngIf="formState.confirmPassword.invalid"
            >Must match the password entered above</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-button-box">
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="!isEnrolButtonEnabled">
          Enrol now
        </button>
      </div>
      <div class="help-link"><a href="">Need help?</a></div>
    </div>
  </form>
</ng-template>

<ng-template #default></ng-template>

<!-- TODO: Refactor into a separate component. -->
<ng-template #successDialog>
  <div class="dialog-box" uiPidpInjectViewportCss>
    <div class="dialog-header">
      <button
        type="button"
        aria-label="Close dialog"
        (click)="onSuccessDialogClose()">
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>
    <div class="dialog-content">
      <div class="dialog-icon">
        <fa-icon [icon]="faCircleCheck"></fa-icon>
      </div>
      <h3>BC Provider account created</h3>
      <p>
        BC Provider account <strong>{{ username }}</strong> has been created.<br />
        You will now have the option to sign in to our system with these
        credentials.<br />
        Please note, this is not an email address. <br />You will not be able to
        send or receive any emails from this credential.
      </p>
    </div>
  </div>
</ng-template>
