<ng-container *ngIf="properties?.length; else description">
  @for (property of properties; track  property.label) {
      <div>
        {{ property.label }}
        <ng-container>
        @switch (property.key) {
          @case ("'phone'") {
            {{ property.value | phone }}
          }
          @case ("'collegeCode'") {
            {{ property.value | lookupCode: 'colleges' }}
          }
          @case ("'licenceNumber'") {
            {{ property.value }}
          }
          @case ("'status'") {
            <!-- strict typing and no narrowing in templates -->
            {{ property.value.toString() }}
          }
          @default {
            {{ property.value }}
          }
        }
        </ng-container>
      </div>
  }
</ng-container>

<ng-template #description>
  <ng-content></ng-content>
</ng-template>
