@if (properties?.length) {
@for (property of properties; track property) {
<div>
  {{ property.label }}
  @switch (property.key) {
  @case ('phone') {
  {{ property.value | phone }}
  }
  @case ('collegeCode') {
  {{ property.value | lookupCode: 'colleges' }}
  }
  @case ('licenceNumber') {
  {{ property.value }}
  }
  @case ('status') {
  <!-- strict typing and no narrowing in templates -->
  {{ property.value.toString() }}
  }
  @default {
  {{ property.value }}
  }
  }
</div>
}
} @else {
<ng-content></ng-content>
}