// These are from BC Gov style guides.
// https://developer.gov.bc.ca/components
$bcgov-font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
$bcgov-color-primary: #003366;
$bcgov-color-accent: #fcba19;
$bcgov-color-text: #313132;
$bcgov-color-links: #1a5a96;
$bcgov-color-background-grey: #f2f2f2;
$bcgov-color-background-darker-grey: #e6e3e3;
$bcgov-color-background-blue: #38598a;
$bcgov-color-component: #606060;
$bcgov-color-semantic-error: #d8292f;
$bcgov-color-semantic-success: #2e8540;
$bcgov-color-button-focus-outline: #3b99fc;
