// Load the applications palettes and variables
// to allow there use throughout the styles
@import './material/material-palette';

@import './pidp-variables';

@import './palette';

// Define custom BC Gov fonts.

// NOTE: woff2 is provided for very modern browsers.
//       wodd if provided for modern browsers.
@font-face {
  font-family: 'BCSans';
  font-style: normal;
  src:
    local('BCSans'),
    url('../assets/fonts/BCSans/BCSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/BCSans/BCSans-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'BCSans';
  font-style: italic;
  src:
    local('BCSans-Italic'),
    url('../assets/fonts/BCSans/BCSans-Italic.woff2') format('woff2'),
    url('../assets/fonts/BCSans/BCSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'BCSans';
  font-weight: 700;
  src:
    local('BCSans-Bold'),
    url('../assets/fonts/BCSans/BCSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/BCSans/BCSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 700;
  src:
    local('BCSans-BoldItalic'),
    url('../assets/fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/BCSans/BCSans-BoldItalic.woff') format('woff');
}

// ---
// BOOTSTRAP
// ---

// Bootstrap is used to provide an HTML reset, grid, utilities, and
// mixins; but does not import components as they are provided by
// Angular Material.
//
// NOTE: Imported before Material to ensure order of precedence is
// in Materials favour.
@import './bootstrap/bootstrap';

// ---
// MATERIAL
// ---

// Material provides a API and default theming for typography and
// associated material components, which are used throughout the
// application. Material represents the backbone of application
// theming.
@import './material/material';

// ---
// VENDORS
// ---

// Vendors is used to include customized vendor styles into the
// application.
@import './vendors/vendors';

// Global PIdP style
@import './global.scss';
