<ui-page-section>
  <ng-content select="ui-scroll-target"></ng-content>
  <ui-page-section-subheader
    icon="help_outline"
    heading="Get Support"></ui-page-section-subheader>
  <ul>
    @for (support of providedSupport; track support.name) {
      <li>
        Questions about {{ support.name }}<br />
        should be directed to:
        <a uiAnchor scheme="mailto" [attr.href]="support.email"></a>
      </li>
    }
  </ul>

  For additional support, contact the OneHealthID Service desk:
  <ul class="additional-support">
    <li>
      By email at
      <a uiAnchor scheme="mailto" [attr.href]="providerIdentitySupport"></a>
    </li>

    <li>
      By phone at
      <a uiAnchor scheme="tel" [attr.href]="additionalSupportPhone"></a>
    </li>
  </ul>
</ui-page-section>
