<ui-page-section>
  <ng-content select="ui-scroll-target"></ng-content>
  <ui-page-section-subheader
    icon="help_outline"
    heading="Get Support"></ui-page-section-subheader>
  <ul>
    <li>
      Questions about the Provider Identity Portal should be directed to:
      <a
        uiAnchor
        scheme="mailto"
        [attr.href]="providerIdentitySupportEmail"></a>
    </li>
    <li>
      Questions about Special Authority eForms should be directed to:
      <a
        uiAnchor
        scheme="mailto"
        [attr.href]="specialAuthoritySupportEmail"></a>
    </li>
  </ul>
</ui-page-section>
