<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="Special Authority E-Forms">
      <ng-container uiPageSectionSubheaderDesc> Next Steps. </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-alert
    type="success"
    icon="check_circle"
    iconType="outlined"
    title="You Have Access">
    <ng-container uiAlertContent>
      You now have access to the Special Authority E-Forms Application. You can
      log into the application using your BC Services Card.
    </ng-container>
  </ui-alert>

  <ui-page-footer>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      routerLink="../../">
      Back Home
    </button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      routerLink="../../"
      (click)="onSubmit()">
      Continue
    </button>
  </ui-page-footer>
</ui-page>
