<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader icon="assignment" heading="PharmaNet">
      <ng-container uiPageSectionSubheaderDesc>
        Provide the next information to get access to PharmaNet.
      </ng-container>
    </ui-page-section-subheader>
  </ui-page-section>

  <ui-page-section>
    <ui-page-section-subheader heading="Self Declaration">
      <ng-container uiPageSectionSubheaderDesc>
        Self-declaration information is collected under the authority of the
        Information Management Regulation of the Pharmaceutical Services Act and
        confidentiality is protected under the Freedom of Information and
        Protection of Privacy Act. Self-declaration information is used to
        verify the applicant is in good standing with their respective
        College(s) and to determine eligibility for and access to PharmaNet.
      </ng-container>
    </ui-page-section-subheader>

    <p class="bold">
      {{ selfDeclarationQuestions[SelfDeclarationType.HAS_CONVICTION] }}
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <ol>
        <li>
          Describe the events that resulted in the order or conviction,
          including when the events occurred
        </li>
        <li>
          Provide the name and address of the organization where the events took
          place that resulted in the order or conviction
        </li>
        <li>
          Provide the name of the entity that issued the order or conviction
        </li>
        <li>
          Describe the penalty imposed as a result of the order or conviction
          (e.g. fine, imprisonment)
        </li>
        <li>Provide the date of the order or conviction</li>
      </ol>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>

    <p class="bold">
      {{ selfDeclarationQuestions[SelfDeclarationType.LIMITS_OR_CONDITIONS] }}
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <ol>
        <li>
          Describe the events that resulted in limits, conditions or
          prohibitions being imposed, including when the events occurred
        </li>
        <li>
          Provide the name and address of the organization where the events took
          place
        </li>
        <li>
          Provide the name of the organization that imposed limits, conditions
          or prohibitions
        </li>
        <li>Describe the limits, conditions or prohibitions imposed</li>
        <li>
          Provide the date that the limits, conditions or prohibitions were
          imposed and, if applicable, removed
        </li>
      </ol>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      {{ selfDeclarationQuestions[SelfDeclarationType.SUSPENDED_OR_CANCELLED] }}
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <ol>
        <li>
          Describe the events that resulted in the suspension or cancellation of
          your access, including when the events occurred
        </li>
        <li>
          Provide the name and address of the organization that issued the
          suspension or cancellation of access
        </li>
        <li>Describe the suspension or cancellation imposed</li>
        <li>
          Provide the date that the suspension or cancellation of access was
          imposed and, if applicable, removed
        </li>
      </ol>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      {{ selfDeclarationQuestions[SelfDeclarationType.DISCIPLINED_OR_FIRED] }}
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <ol>
        <li>
          Describe the events that resulted in the discipline or termination,
          including when the events occurred
        </li>
        <li>
          Provide the name and address of the organization that issued the
          discipline or termination
        </li>
        <li>Describe the discipline imposed</li>
        <li>
          Provide the date that the discipline or termination was imposed and,
          if applicable, removed
        </li>
      </ol>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
  </ui-page-section>

  <!-- TODO don't do the routing using routerLink instead use routeConfig like rest of application -->
  <ui-page-footer>
    <button
      mat-stroked-button
      uiPageFooterAction
      color="primary"
      type="button"
      routerLink="../../../">
      Back Home
    </button>
    <button
      mat-flat-button
      uiPageFooterAction
      color="primary"
      type="submit"
      routerLink="../terms-of-access">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
