//
// Variables
//

$mat-theme-dashboard-header-height: 90px;

$mat-theme-headline-font-size: 2.125rem;
$mat-theme-title-font-size: 1.5rem;
$mat-theme-subheading-2-font-size: 1.25rem;
$mat-theme-subheading-1-font-size: 1rem;
$mat-theme-body-1-font-size: 1rem;
$mat-theme-body-2-font-size: 1rem;
$mat-theme-button-font-size: 0.875rem;
