//
// MATERIAL OVERRIDES
//

// NOTE: Used to fix issues OR augment Material components
// that are not theme related

// Remove all outlines from all elements. This is very aggressive! and should
// be removed once supported by Angular Material.
* {
  outline: none !important;
}

//
// Forms
//

.mat-drawer-container {
  color: theme-palette(blue);
}

//
// Stepper
//

.mat-step-header .mat-step-icon-state-done {
  // Force stepper header icon to turn green when state=done
  background-color: $bcgov-color-semantic-success;
}

/*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
.mat-step .mat-step-label {
  white-space: normal;
}

.moa-message-steps .mat-horizontal-stepper-header-container {
  background-color: $bcgov-color-background-darker-grey;
  padding: 15px;
  border: 1px solid #000;

  .mat-horizontal-stepper-header {
    pointer-events: none;
  }
}

.dialog-padding {
  mat-dialog-container {
    padding: 0.5rem;
  }
}

.care-team-tabs {
  .mat-mdc-tab {
    border: 1px solid #9e9e9e;
    background: #eee;

    &.mdc-tab--active {
      background: #e3e7f3;
    }
  }
}

.faq-expansion-panel {
  &.mat-expansion-panel {
    box-shadow: none !important;

    .mat-expansion-panel-header {
      padding: 0;
      line-height: 1.5;

      &:hover {
        background: none !important;
      }
    }

    .mat-expansion-indicator,
    .mat-expansion-indicator::after {
      border-width: 0 3px 3px 0 !important;

      &::after {
        color: #cccccc;
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
      line-height: 1.5;
    }
  }
}

.viewport-large {
  .care-team-tabs {
    .mat-mdc-tab-group {
      .mat-mdc-tab {
        width: 18.625rem;
        height: 3.75rem;
      }
    }
  }
}

.viewport-medium {
  .care-team-tabs {
    .mat-mdc-tab-group {
      .mat-mdc-tab {
        width: 18.625rem;
        height: 3.75rem;
      }
    }
  }
}

.viewport-small {
  .care-team-tabs {
    .mat-mdc-tab-group {
      .mat-mdc-tab {
        width: 15.625rem;
        height: 3.75rem;
      }
    }
  }
}

.viewport-xsmall {
  .faq-expansion-panel {
    &.mat-expansion-panel {
      .mat-expansion-panel-header {
        font-size: 0.75rem;
        height: auto;
      }

      .mat-expansion-panel-header-title {
        margin-right: 2px;
      }

      .mat-expansion-indicator,
      .mat-expansion-indicator::after {
        border-width: 0 2px 2px 0 !important;
        padding: 3px !important;
        margin-bottom: 5px;
      }

      .mat-expansion-panel-body {
        p:first-of-type {
          padding-top: 5px;
        }

        font-size: 0.75rem;
      }
    }
  }
}

.viewport-xsmall,
.viewport-small {
  .mat-horizontal-stepper-header-container {
    align-items: normal !important;
    flex-direction: column !important;
  }
}

//
// Expansion Panel
//

.mat-expansion-indicator,
.mat-expansion-indicator::after {
  border-width: 0 5px 5px 0 !important;
  padding: 5px !important;
  margin-bottom: 10px;
}

//
// Icons
//

.mat-icon {
  overflow: visible !important;
}

//
// SideNav
//

app-admin-dashboard .mat-sidenav {
  // menu background color for admin section
  background-color: theme-palette(blue);
}

///
/// Dialog
///

.mat-mdc-dialog-container .mdc-dialog__container {
  height: auto;
}
