//
// MATERIAL PALETTE
//

// http://mcg.mbitson.com/#!?materialthemeprimary=%231a284f
$material-theme-primary: (
  50: #e4e5ea,
  100: #babfca,
  200: #8d94a7,
  300: #5f6984,
  400: #3c4869,
  500: #1a284f,
  600: #172448,
  700: #131e3f,
  800: #0f1836,
  900: #080f26,
  A100: #637fff,
  A200: #3055ff,
  A400: #002efc,
  A700: #0029e2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// http://mcg.mbitson.com/#!?mcgpalette0=%23fcba19
$material-theme-secondary: (
  50: #fff7e3,
  100: #feeaba,
  200: #fedd8c,
  300: #fdcf5e,
  400: #fcc43c,
  500: #fcba19,
  600: #fcb316,
  700: #fbab12,
  800: #fba30e,
  900: #fa9408,
  A100: #ffffff,
  A200: #fff8ef,
  A400: #ffe0bc,
  A700: #ffd4a2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
