//
// MATERIAL OVERRIDES
//

// NOTE: Used to fix issues OR augment Material components
// that are not theme related

// Remove all outlines from all elements. This is very aggressive! and should
// be removed once supported by Angular Material.
* {
  outline: none !important;
}

//
// Forms
//

.mat-drawer-container {
  color: theme-palette(blue);
}

//
// Stepper
//

.mat-step-header .mat-step-icon-state-done {
  // Force stepper header icon to turn green when state=done
  background-color: $bcgov-color-semantic-success;
}

/*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
.mat-step .mat-step-label {
  white-space: normal;
}

.moa-message-steps .mat-horizontal-stepper-header-container {
  background-color: $bcgov-color-background-darker-grey;
  padding: 15px;
  border: 1px solid #000;

  .mat-horizontal-stepper-header {
    pointer-events: none;
  }
}

.viewport-xsmall,
.viewport-small {
  .mat-horizontal-stepper-header-container {
    align-items: normal !important;
    flex-direction: column !important;
  }
}

//
// Expansion Panel
//

.mat-expansion-indicator,
.mat-expansion-indicator::after {
  border-width: 0 5px 5px 0 !important;
  padding: 5px !important;
  margin-bottom: 10px;
}

//
// Icons
//

.mat-icon {
  overflow: visible !important;
}

//
// SideNav
//

app-admin-dashboard .mat-sidenav {
  // menu background color for admin section
  background-color: theme-palette(blue);
}
