// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './material-variables' as var;
@use 'pidp-variables' as pidp;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pidp-primary: mat.m2-define-palette($material-theme-primary, 500);
$pidp-accent: mat.m2-define-palette($material-theme-secondary, 500);

// Define typography for headings and body found within the mat-typography class.
// Available typography classes: https://material.angular.io/guide/typography#using-typography-styles-in-your-application
// Typography with corresponding native elements have been provided with the
// exception of body-2 to ensure it matches it's body-1 sibling.
// Reading typography from a config: https://material.angular.io/guide/typography#reading-typography-values-from-a-config
$pidp-typography: mat.m2-define-typography-config(
  $font-family: pidp.$bcgov-font-family,
  // Native element: <h1>
  $headline-5:
    mat.m2-define-typography-level(var.$mat-theme-headline-font-size, 2.5rem, 500),
  // Native element: <h2>
  $headline-6:
    mat.m2-define-typography-level(var.$mat-theme-title-font-size, 2rem, 500),
  // Native element: <h3>
  $subtitle-1:
    mat.m2-define-typography-level(
      var.$mat-theme-subheading-2-font-size,
      1.5rem,
      500
    ),
  // Native element: <h4>
  $subtitle-2:
    mat.m2-define-typography-level(
      var.$mat-theme-subheading-1-font-size,
      1.5rem,
      500
    ),
  // Native element: <body>
  $body-1:
    mat.m2-define-typography-level(var.$mat-theme-body-1-font-size, 1.75rem, 400),
  // Native element: None
  $body-2:
    mat.m2-define-typography-level(var.$mat-theme-body-2-font-size, 1.75rem, 400),
  // Native element: <button>
  $button:
    mat.m2-define-typography-level(var.$mat-theme-button-font-size, 0.875rem, 400),
);

// The warn palette is optional (defaults to red).
$pidp-warn: mat.m2-define-palette($bcgov-red, 800);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pidp-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $pidp-primary,
      accent: $pidp-accent,
      warn: $pidp-warn,
    ),
    typography: $pidp-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pidp-theme);

@include mat.all-component-typographies($pidp-typography);
