name: Build PLR-Intake Backend

on:
  push:
    branches: [main]
    paths:
      - "backend/services.plr-intake/**"
      - "backend/services.plr-intake.tests/**"
  workflow_dispatch:


env:
  ORIG_TAG: test
  PROMOTE_TAG: main

  # This will terminate builds that are previously, but continuing to run.  Saves GHA hours.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  promote-image-to-prod-silver:
    name: WebAPI Backend Promote to prod - Silver
    runs-on: ubuntu-latest
    steps:     
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"

      - name: oc login
        run: |
          oc login --token=${{ secrets.OPENSHIFT_GHA_SERVICE_ACCOUNT_TOKEN }} --server=${{ secrets.OPENSHIFT_CLUSTER_URL }}

      - name: Promote plr-intake from test to prod
        run: |
          oc -n d8a8f9-tools tag \
          d8a8f9-tools/pidp-plr-intake:${{ env.ORIG_TAG }} \
          d8a8f9-tools/pidp-plr-intake:${{ env.PROMOTE_TAG }}
  promote-image-to-prod-gold:
    name: WebAPI Backend Promote to prod - Gold
    runs-on: ubuntu-latest
    steps:     
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"

      - name: oc login - Gold
        run: |
          oc login --token=${{ secrets.GOLD_PIPELINE_SERVICE_ACCOUNT_TOKEN }} --server=${{ secrets.GOLD_OPENSHIFT_CLUSTER_URL }}

      - name: Promote plr-intake from test to main - Gold
        run: |
          oc -n f088b1-tools tag \
          f088b1-tools/pidp-plr-intake:${{ env.ORIG_TAG }} \
          f088b1-tools/pidp-plr-intake:${{ env.PROMOTE_TAG }}
    
      - name: oc login - Golddr
        run: |
          oc login --token=${{ secrets.GOLDDR_PIPELINE_SERVICE_ACCOUNT_TOKEN }} --server=${{ secrets.GOLDDR_OPENSHIFT_CLUSTER_URL }}
  
      - name: Promote plr-intake from test to main - Golddr
        run: |
          oc -n f088b1-tools tag \
          f088b1-tools/pidp-plr-intake:${{ env.ORIG_TAG }} \
          f088b1-tools/pidp-plr-intake:${{ env.PROMOTE_TAG }}