<ui-page>
  <ui-collection-notice [show]="showCollectionNotice">
    The personal information you provide to the Provider Identity Portal
    application is collected by the British Columbia Ministry of Health under
    the authority of s. 26(a) and 26(c) of the Freedom of Information and
    Protection of Privacy Act (FOIPPA).
  </ui-collection-notice>

  <ui-page-header>PageHeader</ui-page-header>
  <ui-page-section>
    <ui-page-subheader>PageSubheader</ui-page-subheader>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores magni
      laborum, alias, nemo hic eum exercitationem similique eligendi animi
      veritatis delectus sapiente quia autem et placeat expedita accusamus
      inventore nesciunt?
    </p>
  </ui-page-section>
</ui-page>
