<ui-page>
  <ui-page-header>{{ title }}</ui-page-header>

  <ui-page-section>
    <ui-page-section-subheader
      icon="assignment"
      heading="Site Privacy and Security Readiness Checklist">
      <ng-container uiPageSectionSubheaderDesc>
        Answer the following questions.
      </ng-container>
    </ui-page-section-subheader>

    <p class="bold">1. The worksite has documented privacy and security.</p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      2. The worksite has a documented Breach Response Plan that aligns with the
      provincial Breach Policy.
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      3. The worksite has a documented remote access policy, that aligns with
      [Policy/Link].
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      4. All worksite passwords for staff (including contractors and vendors)
      meet the minimum requirements of the "best practices link".
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      5. A separate user account is used for System Administration of teh
      worksite's local EMR system.
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      6. The worksite agrees to notify teh [System Owner(s)] when a staff member
      no longer requires access or is on an extended leave of absence (as
      detailed in the enrolment package and Appendix A). As per the DHE Systems
      Enrolment package/guide/onboarding, your worksite must have an offboarding
      procedure for all staff (including contractors and vendors) that ensures
      the System Owner is notified when a staff member no longer require access.
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      7. The worksite will retain a record, for two years, of all technical
      support activities provided by external vendors that have been conducted
      on computers that access your EMR [PCN EMR] or worksite network, either
      directly or remotely (i.e. invoice/receipt with name of vendor,
      description of work and date of service).
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      8. Worksite, if applicable, is equipped with a monitored alarm system.
      Server/Network equipment is physically secured from unauthorized access.
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      9. The worksite WiFi Network's: SSID, WPA2/WPA3 and WiFi password settings
      are as per DTO Technical Bulletin. Guest WiFi access is completely
      isolated from the Clinic LAN/WiFi network.
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      10. There are no legacy/end-of-support operating systems in use (Windows
      XP, MacOS older than the latest 3 versions) at the worksite, and the
      operating system(s) is/are enabled for auto updates or manually patched as
      soon as updates become available.
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      11. Anti-virus software is installed, current, and enabled for auto update
      on all worksite devices accessing the System(s) (Please attach a
      screenshot of the configuration with your signed declaration).
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
    <p class="bold">
      12. Where it doesn't conflict with worksite EMR's system requirements:
      Desktop software, e.g. MS Office / Other applications are patched as soon
      as updates become available. Browser plugin (Adobe Flash, PDF, Java) are
      patched as soon as updates become available. OR: Such patching conflicts
      with my EMR system requirements.
    </p>
    <ui-yes-no-content>
      <p>Provide these details:</p>
      <mat-form-field class="w-100">
        <mat-label>Type Here</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </ui-yes-no-content>
  </ui-page-section>

  <ui-page-footer>
    <button
      mat-stroked-button
      uiPageFooterAction
      color="primary"
      type="button"
      (click)="onBack()">
      Back Home
    </button>
    <button
      mat-flat-button
      uiPageFooterAction
      color="primary"
      type="submit"
      (click)="onSubmit()">
      Save Information
    </button>
  </ui-page-footer>
</ui-page>
